<template>
  <q-item style="max-width: 95vw;" @click="Goto(quote.id,quote.name)" clickable class="bg-white res_item shadow-4 text-black q-mt-sm col-12 q-pl-md">

    <q-item-section top thumbnail>
      <img style="" class="full-height res_img q-ml-sm" :src="quote.image">
    </q-item-section>


    <q-item-section class="q-pt-md q-pb-sm">
      <q-item-label lines="1" class="text-black text-bold">{{ quote.name }}</q-item-label>
      <q-item-label lines="2" class="text-weight-light text-black"><q-icon name="home" color="" /> {{ quote.restaurant.name }}</q-item-label>
      <q-item-label><q-icon name="star" color="warning" />4.8 ({{ quote.id}} Reviews)</q-item-label>
    </q-item-section>

    <q-item-section side top>
      <q-item-label class="text-warning q-pt-md" v-if="!history">View</q-item-label>
      <q-item-label class="text-warning q-pt-md" v-if="history"><q-icon name="check_circle" size="2em" color="primary" /> </q-item-label>
      <q-item-label class="text-weight-light q-mb-md q-pt-lg text-black">20 items</q-item-label>
    </q-item-section>

  </q-item>
</template>


<script>
export default {
name: "OngoingItem",
  props : ['quote','history'],
  methods : {
    goto(slug){
      this.$router.push(slug);
    },
  }
}
</script>

<style scoped>

</style>
