<template>
  <q-page class="flex q-pa-md">
    <div class="column full-width q-mt-md ">
      <div class="column items-center q-mb-md">
<!--        <img class="items-center" src="~assets/foodex_logo.png" height="60px" width="60" />-->
      </div>
          <q-form @submit="submitForm" class="q-mt-xl">


                <q-item-label v-if="!mail" class="text-cente q-mb-md" style="font-weight: lighter; font-size: 1.5em;">Please Enter your email address so we can help you recover your password!</q-item-label>

            <div class="text-center q-mb-md text-bold text-accent" v-if="Error">
              {{ Error }}
            </div>
            <div class="text-center q-mb-md text-bold text-info" v-if="success">
              {{ success }}
            </div>

            <q-input
                     v-model="email"
                     class="q-mb-md"
                     :error="has_error"
                     type="email"
                     outlined
                     label="Email"
                     :rules="[ val => val && val.length > 0 || 'Please enter your email address']">
              <template v-slot:append>
                <q-icon v-show="email.length > 0" name="cancel" @click.stop="email = ''" class="cursor-pointer" />
              </template>

              <template v-slot:error>
                {{ error }}
              </template>

            </q-input>


            <div class="row">
              <q-btn class="col"
                     rounded
                     :loading="loading"
                     color="secondary"
                     type="submit"
                     label="NEXT" />

            </div>

            <div class="row q-mt-md" v-if="mail">
              <q-btn class="col"
                     rounded
                 to="/login"
                     color="primary"

                     label="CONTINUE TO LOGIN" />

            </div>

          </q-form>
    </div>
  </q-page>
</template>

<script>
  import {firebaseAuth} from "boot/firebase";

  export default {
    data () {
      return {
        tab: 'login',
        Error:'',
        password:'',
        key:'',
        error:'',
        loading:false,
        mail:false,
        email:'',
        has_error:false,
        success:''
      }
    },
    methods : {
      submitForm() {
        this.loading = true;
        this.has_error = false;
        this.mail = false;
        this.error = ''; this.Error = null; this.success = null;
          this.$q.loading.show();
        firebaseAuth.sendPasswordResetEmail(this.email)
          .then(() => {
            this.loading = false;
            this.mail = true;
            this.success = "A password result link has been sent to "+this.email + ' check your inbox to reset your password';
            this.$q.loading.hide();
          })
          .catch(error => {
            this.loading = false;
            this.Error = error.message;
            this.$q.loading.hide();
          });

      },
    },
    computed: {
    },
    components: {

    }
  }
</script>

<style>
</style>
