<template>
  <q-page class="flex q-pa-md bg-white flex-center">

    <div class="column full-width q-mt-md ">
      <div class="column items-center q-mb-md">
      </div>

      <div class="row text-center q-mb-lg justify-center vertical-middle ">
        <img src="~assets/logo.png" style="height: 150px; width: 150px" >
      </div>

        <q-tab-panel name="register" class=" q-pb-lg form">

          <q-form @submit="submitForm">

<!--              <div v-if="reg_success.length < 3">-->
<!--                <q-item-label class="text-center q-mb-md" style="font-weight: lighter; font-size: 1.5em;">Welcome back!</q-item-label>-->
<!--              </div>-->

            <div class="text-center q-mb-md text-bold text-accent" v-if="error">
              Incorrect Login Details
            </div>
<!--            <div class="text-center q-mb-md text-bold text-info" v-if="reg_success">-->
<!--              {{ reg_success }}-->
<!--            </div>-->



              <q-input
                v-model="formData.email"
                outlined
                type="text"
                label="Email Address">
                <template  v-slot:append>
                  <q-icon v-show="formData.email.length > 0" name="cancel" @click.stop="formData.email = ''" class="cursor-pointer" />
                </template>
              </q-input>
            <q-input
              v-model="formData.password"
              class="q-mt-md"
              outlined
              :type="type"
              label="Password">
              <template  v-slot:append>
                <q-icon v-show="formData.password.length > 0 && type === 'password'" name="remove_red_eye" @click.stop="type = 'text'" class="cursor-pointer" />
                <q-icon v-show="formData.password.length > 0 && type === 'text'" name="cancel" @click.stop="type = 'password'" class="cursor-pointer" />
              </template>
            </q-input>

              <q-item class="float-right text-caption" clickable to="/forgot-password">Forgot Password</q-item>

            <div class="row full-width">
              <q-space />
              <q-btn class="full-width q-mt-md" rounded
                     :loading="loading"
                     color="primary"
                     type="submit"
                     label="Login" />

              <q-btn class="col-12 full-width q-mt-md" rounded
                     color="info"
                     to="/"
                     label="Browse Prokitchen" />

<!--            <q-btn class="full-width" rounded-->
<!--                     :loading="loading"-->
<!--                     color="primary"-->
<!--                     type="button"-->
<!--                   to="/home"-->
<!--                     label="Login" />-->
<!--            <q-btn class="full-width q-mt-md" rounded-->
<!--                     :loading="loading"-->
<!--                     color="blue"-->
<!--                     type="button"-->
<!--                   to="/home"-->
<!--                     label="Sign in with facebook" />-->
            </div>

            <div class="column">
<!--              <q-item-label class="text-center q-ma-sm">OR</q-item-label>-->
              <q-space />
            </div>
          </q-form>
        </q-tab-panel>

      <div  class="text-center q-ma-sm q-mt-lg">

        <q-item class="text-primary" clickable to="/register">Dont Have an Account yet?  CREATE ACCOUNT</q-item>
      </div>

      <div class="absolute-bottom">
        <div class="ro text-center">
          <q-item-label class="text-bold text-info text-center q-pb-sm" clickable @click="openLink('https://afiaanyi.com')">Powered by Afiaanyi Services Limited</q-item-label>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import {firebaseAuth, firebaseDb} from "boot/firebase";
import {LocalStorage, openURL} from 'quasar'

  export default {
    data () {
      return {
        email:'',
        type:'password',
        loading:false,
        command:'',
        agreed:1,
        formData: {
          login:'',
          email: '',
          password: ''
        },
        errors:{},
        error:false,
      }
    },
    mounted() {
      // this.$store.commit("store/loginFailed", '');
      this.$store.commit("store/regSuccess", '');
    },
    methods : {

      // ...mapActions('store', ['loginUser','loginFailed']),
      clearEmail(){
        this.formData.email = ''
      },

      submitForm() {
        this.loading = true;
        this.authenticate();
      },

      openLink(link){
        openURL(link)
      },

      register(){
        this.$router.push('/register');
      },
      authenticate() {
        this.error = false;
        this.$q.loading.show();
        firebaseAuth.signInWithEmailAndPassword(this.formData.email, this.formData.password)
          .then((response) => {
              let userId = firebaseAuth.currentUser.uid;
              this.$store.commit("store/loginSuccess", userId);
              let vm = this;
              firebaseDb.collection("users").doc(userId).get().then(function(doc) {
                if (doc.exists) {
                  let userDetail = doc.data();
                  LocalStorage.set("app_installed", userId)
                  vm.$store.commit('store/setUserDetail', {
                    name: userDetail.name,
                    phone: userDetail.phone,
                    addresses: userDetail.addresses,
                    balance: userDetail.balance ?? 0,
                    email: userDetail.email,
                    city: userDetail.city,
                    avatar: userDetail.avatar ?? 'https://cdn.quasar.dev/img/avatar.png',
                    is_admin: userDetail.is_admin,
                    is_res: userDetail.is_res,
                    user_type: userDetail.user_type ?? 'user',
                    referred_by: userDetail.referred_by,
                    userId: userId,
                  })
                  if (userDetail.is_res === true) {
                    firebaseDb.collection("restaurants").doc(userId).get().then(function (res) {
                      if (!res.exists) {
                        vm.$router.push('/res/create/res');
                      }
                      let resDetail = res.data();
                      vm.$store.commit('store/setResDetail', {
                        name: resDetail.name,
                        phone: resDetail.phone,
                        state: resDetail.state,
                        address: resDetail.address,
                        city: resDetail.city,
                        email: resDetail.email
                      })
                      vm.$q.loading.hide();
                      vm.$q.notify({
                        message: 'Restaurant Account Logged in successfully',
                        color: 'info'
                      });
                      vm.$router.push('/profile');
                    });
                  } else if (userDetail.is_admin === true) {
                    vm.$router.push('/profile');
                    vm.$q.notify({
                      message: 'Admin Account Logged in successfully',
                      color: 'info'
                    });
                  } else {
                    vm.$q.loading.hide();
                    vm.$q.notify({
                      message: 'Logged in successfully',
                      color: 'info'
                    });
                    vm.$router.push('/');
                  }
                }else {
                  firebaseAuth.currentUser.delete().then(function() {
                    vm.$q.notify({
                      message: 'Please recreate your account',
                      color: 'negative',
                    });
                    vm.$router.push('/register');
                    vm.$q.loading.hide();
                  });
                }
              }).catch((error) => {
                this.$q.loading.hide();
              })
              // this.$router.push('/home');
              this.loading = false;
            },
            err => {

              this.$q.notify({
                message: err.message,
                color: 'negative'
              });
              this.loading = false;
              this.$q.loading.hide();
              this.error = true;
            })
      },

      userType(item){
        if(item.user_type){
          return item.user_type;
        }else if(!item.is_admin && !item.is_res) {
          return 'user';
        }else if(item.is_admin){
          return 'admin';
        }else if(item.is_res){
          return 'res';
        }
      }


    },
    computed: {
      // ...mapState('store', ['authError','currentUser','reg_success']),
    },
    watch : {
    },
  }
</script>

<style lang="scss">
.form {
  border-radius: 10px;
}
</style>
