<template>
  <q-page class="flex q-pa-md bg-white flex-center">
    <div class="column full-width q-mt-md ">
      <div class="column items-center q-mb-md">
      </div>

      <div class="row text-center q-mb-lg justify-center vertical-middle ">
        <img src="~assets/logo.png" style="height: 100px; width: 100px" >
      </div>

      <q-tab-panel name="register" class="q-pb-md form">

        <div id="recaptcha-container"></div>

        <q-form @submit="submit">
          <q-input
            outlined
            dense
            v-model="formData.displayName"
            :rules="[ val => val && val.length > 0 || 'Enter Full name']"
            label="Full Name"
          >
            <template  v-slot:append>
              <q-icon v-show="formData.displayName.length > 0" name="cancel" @click.stop="formData.displayName = ''" class="cursor-pointer" />
            </template>
            <template v-slot:error>
              {{ errors.name[0] }}
            </template>
          </q-input>
          <q-input
                   v-model="formData.email"
                   outlined
                   dense
                   :rules="[ val => val && val.length > 0 || 'Enter valid email']"
                   :error="has_error && errors.email ? true : false"
                   type="email"
                   label="Email">
            <template v-slot:append>
              <q-icon v-show="formData.email.length > 0" name="cancel" @click.stop="formData.email = ''" class="cursor-pointer" />
            </template>
            <template v-slot:error>
              {{ errors.email[0] }}
            </template>
          </q-input>
          <q-input
            v-model="formData.phoneNumber"
            outlined
            dense
            type="number"
            :rules="[ val => val.length == 11 || 'Phone number not valid, please enter 11 digit']"
            label="Phone" />

          <q-input
            v-model="formData.password"
            outlined
            dense
            class="q-mb-md"
            :type="type"
            label="Password">
            <template  v-slot:append>
              <q-icon v-show="formData.password.length > 0 && type === 'password'" name="remove_red_eye" @click.stop="type = 'text'" class="cursor-pointer" />
              <q-icon v-show="formData.password.length > 0 && type === 'text'" name="cancel" @click.stop="type = 'password'" class="cursor-pointer" />
            </template>
            <template v-slot:error>
              {{ errors.password[0] }}
            </template>
          </q-input>


          <q-input
            v-model="formData.referred_by"
            outlined
            class="q-mb-sm"
            dense
            type="number"
            label="Referral Code (Optional)" />

          <div class="row">
            <q-item class="text-primary text-bold" clickable to="/terms">I have read terms and condition</q-item>
          </div>
          <div class="row full-width">

            <q-space />
            <q-btn class="col-12 full-width" rounded
                   :loading="loading"
                   color="primary"
                   id="submit"
                   type="submit"
                   label="Submit" />
            <q-btn class="col-12 full-width q-mt-md" rounded
                   color="info"
                   to="/"
                   label="Browse Prokitchen" />
          </div>


        </q-form>
      </q-tab-panel>

      <div style="margin: auto" class="text-center justify-center">

        <q-item class="text-primary text-center text-bold" clickable to="/login">Already have an Account?  Log in</q-item>

      </div>


      <div class="absolute-bottom">
        <div class="ro text-center">
          <q-item-label class="text-bold text-info text-center q-pb-sm" clickable @click="openLink('https://afiaanyi.com')">Powered by Afiaanyi Services Limited</q-item-label>
        </div>
      </div>


    </div>
  </q-page>
</template>

<script>
import { firebaseAuth, firebaseDb } from 'boot/firebase';

import firebase from 'firebase';
import {LocalStorage, openURL} from "quasar";

  export default {
    data() {
      return {
        type:'password',
        loading:false,
        voice:true,
        appVerifier:'',
        agreed:1,
        formData: {
          displayName: '',
          phoneNumber: '',
          login:'',
          referred_by:'',
          password_confirmation: '',
          email: '',
          password: '',
          addresses:[],
        },
        errors:{},
        has_error: false,
      }
    },
    mounted() {
      // this.$store.commit("store/loginFailed", '');
      this.initReCaptcha()
    },

    methods:{
      openLink(link){
        openURL(link)
      },

      // verifyNum(){
      //   let num = '+234'+parseInt(this.formData.phoneNumber, 10);
      //   firebase.auth().signInWithPhoneNumber(num, this.appVerifier)
      //     .then(function (confirmationResult) {
      //       window.confirmationResult = confirmationResult;
      //       this.$router.push('/verify');
      //     }).catch(function (error) {
      //     // Error; SMS not sent
      //     console.log(error)
      //     // ...
      //   });
      // },
      // submitForm(){
      //   if(this.formData.password !== this.formData.password_confirmation){
      //     this.$q.notify({
      //       message: 'Password Mismatch',
      //       color: 'negative'
      //     });
      //   }
      // },
      submit() {
        let num = '+234'+parseInt(this.formData.phoneNumber, 10);
        this.loading = true;
        this.errors = {};
        this.has_error = false;
        this.$q.loading.show();
        // this.registerUser(this.formData)
        firebaseAuth.createUserWithEmailAndPassword(this.formData.email, this.formData.password)
          .then((response) => {
              let userId = firebaseAuth.currentUser.uid;
              firebaseDb.collection("users").doc(userId).set({
                name: this.formData.displayName,
                email: this.formData.email,
                phone:num,
                referred_by:this.formData.referred_by,
                ref_code:this.getCode(this.formData.email),
                addresses:[],
                is_verified:false,
                is_admin: false,
                is_res: false,
              })
              this.$q.notify({
                message: 'Account successfully created, login to continue',
                color: 'info'
              });
              this.$q.loading.hide();
              LocalStorage.set("app_installed",num)
              // this.verifyNum();
              // this.$router.push('/verify');
              this.$store.commit('store/logout');
              this.$router.push('/login');
              this.loading = false;
            },
            err => {
              this.$q.notify({
                message: err.message,
                color: 'negative'
              });
              this.loading = false;
              this.$q.loading.hide();
              this.has_error = true;
            })

      },
      getCode(id){
        let hash = 0, len = id.length;
        for (let i = 0; i < len; i++) {
          hash  = ((hash << 5) - hash) + id.charCodeAt(i);
          hash |= 0; // to 32bit integer
        }
        return Math.abs(hash);
      },
      initReCaptcha(){
        setTimeout(()=>{
          let vm = this
          window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container', {
            'size': 'invisible',
            'callback': function(response) {
              // reCAPTCHA solved, allow signInWithPhoneNumber.
              // ...
            },
            'expired-callback': function() {
              // Response expired. Ask user to solve reCAPTCHA again.
              // ...
            }
          });
          //
          this.appVerifier =  window.recaptchaVerifier
        },1000)
      }
    },

    components: {
    }
  }
</script>

<style>
</style>
