<template>
  <q-page class="flex q-pa-md bg-white flex-center">
    <div class="column full-width q-mt-md ">
      <div class="column text-h5 text-center text-bold q-mb-md">
        <q-item-label>Verification</q-item-label>
      </div>


        <q-item-label class="text-center">Enter the OTP code we just sent to your number </q-item-label>



        <q-tab-panel name="register" class=" q-pb-sm form">

          <q-form @submit="submitForm" >

<div class="verify">

            <div class="input-wrapper" v-for="item in amount" :key="item">

      <input outlined type="number"  @paste="handlePaste" title="code" v-focus="(item - 1) === currentIndex" maxlength="1" @input="handleInput($event,(item-1))" @keyup.delete="onDelete($event,(item-1))"  v-model="code[item-1]">
 </div>
    </div>




            <div class="row full-width q-mt-lg">

            <q-btn class="full-width" rounded
                     :loading="loading"
                     color="primary"
                     type="button"
                   to="/login"
                     label="Verify" />

            </div>

          </q-form>
        </q-tab-panel>

      <div  class="text-center q-ma-sm" style="margin-top: 50px">

        <q-item class="text-primary" clickable to="/register">Dont Receive OTP ?  RESEND</q-item>
      </div>
    </div>
  </q-page>
</template>
<script>
  export default {
    data () {
      return {
        code: [],
      currentIndex: 0,
      amount:4,
        email:'',
        type:'password',
        loading:false,
        command:'',
        agreed:1,
        formData: {
          login:'',
          email: '',
          password: ''
        },
        errors:{},
        has_error: false,
      }
    },

    mounted() {
      this.code = new Array(this.amount).fill(''),
      this.$store.commit("store/loginFailed", '');
      this.$store.commit("store/regSuccess", '');
    },
    methods : {

      // ...mapActions('store', ['loginUser','loginFailed']),

      handlePaste (e) {
      e.preventDefault()
    },

      handleInput (e, index) {
      this.currentIndex = index
      e.target.value = this.validateNumber(e.target.value)
      e.target.value !== '' && ++this.currentIndex
      !this.code.includes('') && this.$emit('onCompleted', this.code.join(''))
      },

      validateNumber (val) {
      return val.replace(/\D/g, '')
      },

      submitForm() {
        this.loading = true;
        this.errors = {};
        this.has_error = false;
        this.authenticate();
      },

      onDelete (e, index) {
      if (e.target.value === '') {
        this.currentIndex = index - 1
      }
      },

      register(){
        this.$router.push('/register');
      },

    },
    computed: {
      // ...mapState('store', ['authError','currentUser','reg_success']),
    },
    watch : {
      currentIndex: function(val) {
          //do something when the data changes.
          if (val == 4) {
              alert('done')
          }
      }
    },
    directives: {
    focus: {
      componentUpdated: function (el, obj) {
        obj.value && el.focus()
      }
    }
  },
  }
</script>

<style lang="scss">
.verify{
    width:100%;
    display: flex;
    justify-content: space-around;

    .input-wrapper{
      width: 15%;
      height: 0;
      padding-bottom:20%;
      position: relative;

      input{
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: all 0.3s;
        font-size: 7vw;
        color: #333333;
      }

    }

    input:focus{
      border-bottom: 1px solid #666666;
    }
  }
</style>
