<template>
  <q-item style="max-width: 92vw;" class="bg-white food_item shadow-4 text-black q-mt-sm col-12 q-pl-md">

    <q-item-section top thumbnail>
      <img style="" class="full-height food_img q-ml-sm" :src="food.img">
    </q-item-section>


    <q-item-section>
      <q-item-label lines="2" class="text-black text-bold">{{ food.name }}</q-item-label>
      <q-item-label lines="2" class="text-weight-light q-mb-md text-black">[{{ food.restaurant.name }}]</q-item-label>

    </q-item-section>

    <q-item-section side top>
      <q-icon name="bookmark" color="warning" size="2.6em" />
      <q-item-label class="text-weight-light q-mb-md q-mt-md text-black">₦{{ food.price }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: "FoodItem",
  props : ['food'],
}
</script>

<style scoped>

</style>
