<template>
  <q-page class="bg-primary full-height">
    <div class="">
      <div class="justify-center intro-main text-center bg-whit">
<q-carousel
      v-model="slide"
      swipeable
      animated
      :navigation-position="navPos"
      navigation
      infinite
      :autoplay="5000"
      control-color="primary"
      padding
      height="70vh"
      class="bg-white intro-main text-black"
    >
      <q-carousel-slide name="1" class="column no-wrap flex-center">
        <div class="justify-center text-center" style="width: 90%; margin:0 auto;">
          <div class="col-12">
            <img
              alt="Quasar logo"
              src="~assets/11.png"
            >
          </div>
        </div>
        <div class="justify-center text-center" style="width: 60%; margin:0 auto;">

          <div class="col-12 q-pb-lg">
            <q-item-label class="text-weight-light text-h5 text-bold ">Search For Your Favourite Food Near You</q-item-label>

            <q-item-label class="text-weight-thin q-pt-lg">Discover the food from over 3250 restaurants</q-item-label>
          </div>

        </div>
      </q-carousel-slide>
      <q-carousel-slide name="2" class="column no-wrap flex-center">
        <div class="justify-center text-center" style="width: 90%; margin:0 auto;">
          <div class="col-12">
            <img
              alt="Quasar logo"
              src="~assets/12.png"
            >
          </div>
        </div>
        <div class="justify-center text-center" style="width: 60%; margin:0 auto;">

          <div class="col-12 q-pb-lg">
            <q-item-label class="text-weight-light text-h5 text-bold ">Fast Delivery To Your Place</q-item-label>

            <q-item-label class="text-weight-thin q-pt-lg">Fast Delivery to your home, office and wherever you are</q-item-label>
          </div>

        </div>
      </q-carousel-slide>
      <q-carousel-slide name="3" class="column no-wrap flex-center">
        <div class="justify-center text-center" style="width: 90%; margin:0 auto;">
          <div class="col-12">
            <img
              alt="Quasar logo"
              src="~assets/13.png"
            >
          </div>
        </div>
        <div class="justify-center text-center" style="width: 60%; margin:0 auto;">

          <div class="col-12 q-pb-lg">
            <q-item-label class="text-weight-light text-h5 text-bold ">Tracking Shipper on the map</q-item-label>

            <q-item-label class="text-weight-thin q-pt-lg">Discover the food from over 3250 restaurants</q-item-label>
          </div>

        </div>
      </q-carousel-slide>

    </q-carousel>
      </div>
      <div class="row q-col-gutter-md  q-mt-lg q-pr-lg q-pl-lg">
        <div class="col-6">
          <q-btn to="/register" rounded label="Sign Up" class="full-width text-bold" outline color="white"  />
        </div>
        <div class="col-6">
          <q-btn to="/" rounded label="Skip >>" class="full-width text-bold" color="white" text-color="primary"/>
        </div>
      </div>
    </div>

  </q-page>
</template>

<script>
import {LocalStorage} from "quasar";

export default {
  name: 'PageIndex',
  mounted () {
    LocalStorage.set("app_installed",'guest_user')
  },
  data () {
    return {
      autoplay:true,
      navPos: 'bottom',
      navigationPositions: [
        { value: 'top', label: 'top' },
        { value: 'right', label: 'right' },
        { value: 'bottom', label: 'bottom (default)' },
        { value: 'left', label: 'left' }
      ],

      slide: '1',
      lorem: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque voluptatem totam, architecto cupiditate officia rerum, error dignissimos praesentium libero ab nemo.'
    }
    }
}
</script>

<style lang="scss">
.intro-main {
  //margin-top: 50px;
  border-radius: 0 0 30px 30px;
}
</style>
