<template>
  <q-page class="flex flex-center">
    <div class="ro justify-center text-center">
      <div class="col-12">
        <img
          alt="Quasar logo"
          src="~assets/logo.png" height="100px" width="100px"
        >
      </div>
      <div class="col-12">
        <q-item-label class="text-weight-thin ">The best of food for you</q-item-label>
      </div>
      <div class="column" style="margin-top: 100px">

        <q-btn  class="q-mt-md" color="primary" flat  label="Continue" />
      </div>
    </div>

  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  mounted () {

  }
}
</script>
