<template>
  <q-page class="bg-blue-grey-1">
    <div class="">
      <q-list bordered separator style="margin-bottom: 100px;">
        <div v-for="(item, index) in currentUser.addresses" class="bg-white p-card shadow-2" v-if="item.name">
          <q-item>
            <q-item-section>
              <q-item-label class="text-bold text-capitalize" lines="1">{{ item.type }}</q-item-label>
              <q-item-label class="text q-pt-sm text-bold q-pb-sm"><q-icon name="location_on" /> {{ item.address }}</q-item-label>
              <q-item-label caption class="q-pb-sm"><q-icon name="person" /> {{ item.name }}</q-item-label>
              <q-item-label caption><q-icon name="local_phone" /> {{ item.phone }}</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-btn icon="delete" dense flat @click="deleteAddress(index)" color="red" />
            </q-item-section>
          </q-item>
        </div>

        <div class="bg-white p-card">
        <q-item @click="option = true" clickable v-ripple class="text-center">
          <q-item-section class="text-negative text-bold">Add New Address</q-item-section>
        </q-item>
        </div>
      </q-list>
    </div>
    <q-dialog v-model="option">
      <AddAddress @saved="closeDialog" />
    </q-dialog>

  </q-page>
</template>

<script>
import AddAddress from 'components/AddAddress'
import { mapState } from 'vuex'
import { LocalStorage } from 'quasar'
import { firebaseDb } from 'boot/firebase'
export default {
  name: "PageAddress",
  components: { AddAddress },
  data(){
    return {
      loading:false,
      option:false,
      types:['home','work'],
      formData: {
        name: '',
        address:'',
        phone: '',
        type:'home',
      },
      errors:{},
      has_error: false,
    }
  },
  methods:{
    closeDialog (value) {
      this.option = false;
    },
    submitForm(){
      this.loading = true;
      this.currentUser.addresses.push(this.formData)
      this.loading = false;
      this.option = false;
      this.$q.notify({
        message: 'Address successfully added',
        color: 'info'
      });

    },
    deleteAddress(index){
      this.currentUser.addresses.splice(index, 1);

      firebaseDb.collection('users').doc(this.currentUser.userId).set({
        addresses: this.currentUser.addresses
      }, { merge: true });


      this.$store.commit('store/setUserDetail', {
        name: this.currentUser.name,
        phone: this.currentUser.phone,
        addresses:this.currentUser.addresses,
        balance : 0,
        email:this.currentUser.email,
        city:this.currentUser.city,
        avatar: this.currentUser.avatar ?? 'https://cdn.quasar.dev/img/avatar.png',
        is_admin: this.currentUser.is_admin,
        is_res: this.currentUser.is_res,
        userId:this.currentUser.userId,
      })

      this.$q.notify({
        message: 'Address successfully deleted',
        color: 'info'
      });
    }
  },
  mounted () {

  },
  computed : {
    ...mapState('store', ['currentUser']),
    active(){
      return this.option;
    }
  }
}
</script>

<style lang="scss">
.account-head-new{
  z-index: 5;
}
.p-card {
  margin: 15px;
  border-radius: 5px;
}

</style>
