<template>
  <q-page class>
    <div class="absolute-top bg-primary account-head">
      <div class="q-ma-md q-mt-md justify-center column">
        <q-item-label class="text-h5 text-white text-center">Prokitchen Cart</q-item-label>
        <div class=" bg-white col column q-mb-sm q-mt-md">
          <q-list bordered separator class="q-mb-xl max-bottom">

            <q-item v-if="carts.length > 0" v-for="item in carts" :key="item.id" v-ripple >

              <q-item-section>
                <q-item-label class="text-capitalize" lines="2">{{ item.name }}</q-item-label>
                <q-item-label class="text-capitalize" lines="2">{{ item.variant }}</q-item-label>
                <q-item-label class="text-bold" lines="1">[{{ item.res_name }}]</q-item-label>
                <div class="row q-mt-sm">
                  <q-btn outline @click="decreaseQty(item)" dense size="12px" color="primary" icon="remove" />
                  <q-item-label class="q-ma-sm">{{ item.qty }}</q-item-label>
                  <q-btn @click="increaseQty(item)" outline dense size="12px" color="primary" icon="add" />
                </div>
              </q-item-section>
              <q-item-section side top>
                <q-item-label>₦{{ item.price }}</q-item-label>
                <q-item-label class="">x {{ item.qty }}</q-item-label>
                <q-btn class="" @click="removeCart(item)" color="red" size="12px" flat dense round icon="delete" />
              </q-item-section>
            </q-item>
            <template v-if="carts.length > 0">
              <q-item  class="bg-default" v-ripple >
                <q-item-section >
                  <q-btn color="secondary"  to="/nearby">Add more items</q-btn>
                </q-item-section>
              </q-item>
              <q-item class="text-bold bg-default" v-ripple >
                <q-item-section >
                  SubTotal
                </q-item-section>
                <q-item-section side>₦{{ subTotal}}</q-item-section>
              </q-item>

              <q-item class="text-bold bg-default" v-ripple >
                <q-item-section >
                  Total
                </q-item-section>
                <q-item-section side>₦{{ total }}</q-item-section>
              </q-item>
            </template>


          </q-list>
          <q-item-label v-if="carts.length < 1" class="text-center text-h4">No item in your cart
          </q-item-label>
        </div>
      </div>
    </div>
    <q-page-sticky expand position="bottom" v-if="carts.length > 0">
      <q-btn to="/checkout" color="secondary" size="1.5em" unelevated class="no-radius full-width" label="checkout" />
    </q-page-sticky>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import {firebaseDb} from "boot/firebase";
import axios from "axios";
export default {
  name: "Cart",
  data() {
    return {
      package:0,
      shipping:0,
      can_order:1,
      can_order_note:'',
    };
  },
  methods : {
    ...mapActions('store', ['getCarts','addToCart']),
    increaseQty(item){
      item.qty = item.qty + 1;
      item.date = Date.now();
      this.addToCart(item).then(response => {
          this.$q.notify({
            message: 'quantity increased',
            color: 'info'
          });
    });
    },

    removeCart(item){
      this.$q.loading.show();
      let vm = this;
      firebaseDb.collection("carts").doc(this.currentUser.userId).collection('details').doc(item.id).delete().then(function() {
        vm.$q.notify({
          message: item.name + ' successfully deleted from cart',
          color: 'info'
        });
        vm.getCarts();
      vm.$q.loading.hide();
      }).catch(function(error) {
        vm.$q.loading.hide();
        console.error("Error removing document: ", error);
      });
    },



    decreaseQty(item){
      if(item.qty > 1){
        item.qty = item.qty - 1;
        item.date = Date.now();
        this.addToCart(item).then(response => {
          this.$q.notify({
            message: 'quantity reduced',
            color: 'info'
          });
        });
      }else {
        return
      }

    },
  },
  mounted() {
    // if (!this.carts.length) {
      this.getCarts();
    // }
  },
  computed : {
    ...mapState('store', ['carts','currentUser']),
    subTotal: function(){
      return this.carts.reduce(function(total, item){
        return total + (item.qty * item.price);
      },0);
    },
    totalQty: function(){
      return this.carts.reduce(function(total, item){
        return parseInt(total) + parseInt((item.qty));
      },0);
    },
    total(){
      return this.subTotal;
    },
  },
  watch: {

  }
};
</script>

<style>

.account-head {

  width: 100%;
  height: 130px;
  border: solid 5px rgba(0, 0, 0, 0.99);
  border-color: transparent transparent transparent;
  border-radius: 0 0 100% 100%/50%;
}


</style>
