<template>
  <q-page class="bg-white">

    <div class="absolute-center" v-show="loading">
      <div class="q-ma-lg absolute-center">
        <q-item-label>
          Searching <q-spinner-dots
          color="primary"
          size="2em"
        />
        </q-item-label>
      </div>
    </div>


    <div class="column" v-if="!loading">


      <div class="absolute- bg-white justify-around home-tab" style="max-width: 100vw">
        <q-tabs

          v-model="tab"
          active-color="primary"
          inline-label
          no-caps
          class="text-text text-bold shado"
        >
<!--          <q-tab  @click="all" name="All"  label="All" />-->
          <q-tab class=" text-bold" v-for="item in categories" :key="item.id" @click="getFoods(item.name)" :name="item.id"  :label="item.name" />
        </q-tabs>

        <q-separator />

      </div>


      <div class=" max-botto  q-mb-xl " >


        <div v-if="foods.length > 0" class="ro bg-white">
          <!--          <q-infinite-scroll @load="onLoad" :offset="250" >-->

          <q-list padding class="row">
            <div
              class="col-xs-12 col-md-6 q-mb-md full-width vertical-middle"
              v-for="item in foods"
              :key="item.url"
              @click="itemSelected = item"
            >

              <FoodItem :key="item.id" :food="item" />
              <q-separator />
            </div>
          </q-list>

        </div>
        <div v-else class="row">
          <div v-if="!searching" class="column items-center col-md-12">
            <div class="row absolute-center q-mb-xl q-mt-md justify-around">
              <q-item-label class=" text-center">{{ result }}</q-item-label>
            </div>
          </div>
        </div>

        <div v-if="searching" class="column items-center col-md-12">
          <div class="q-ma-lg absolute-center">
            <q-item-label>
              Searching <q-spinner-dots
              color="primary"
              size="2em"
            />
            </q-item-label>
          </div>
        </div>

      </div>


    </div>

  </q-page>
</template>
<script>
import FoodItem from "../components/FoodItem";
import {mapActions, mapState} from 'vuex'
import axios from "axios";
import Food from 'components/Food'
import {firebaseDb} from "boot/firebase";

export default {
  name: "CatFood",
  components: { Food, FoodItem},
  data() {
    return {
      text:'',
      first : true,
      category:'',
      tab:'Food',

      card: false,
      stars:1,
      star:5,
      foods : [],

      item:[],
      // grid:false,
      grid: this.$q.screen.gt.xs,
      loading:true,
      searching:false,
      all_loaded:false,
      page:2,
      result:'No result for now, search other categories',
      title:'Pick Your Favourites',
    };
  },
  methods:{
    ...mapActions('store', ['getCarts']),
    toggle: function(index){
      if( this.isOpenIndex !== null ){
        this.isOpenIndex = ( this.isOpenIndex == index ) ? null : index;
      } else {
        this.isOpenIndex = index;
      }
    },

    FoodAll(){
      this.tab = 'Food'
    },
    Review(){
      this.tab = 'Review';
    },
    Information(){
      this.tab = 'Information';
    },

    searchByType(item){
      this.tab = item.name;
      this.searching = true;
      this.result = 'No result found for,'+item.name+' category, search other categories';
      this.title = item.name +' results';
      this.$axios.get('/food/res/type/'+item.slug+'/'+this.item.id).then((response) => {
        this.foods = response.data.data;
        this.searching = false;
      })
    },

    searchByInput(){
      this.searching = true;
      this.title = 'Search results for '+this.text;
      this.result = 'No result found for keyword ,'+this.text +' search by categories rather';
      this.$axios.post('/foods/search/restaurant',{ key: this.text, id:this.item.id }).then((resp) => {
        this.foods = resp.data.data;
        this.searching = false;
      })
    },
    getFoods(category){
      this.tab = category;
      this.searching = true;
      this.foods = [];
      firebaseDb.collection("foods").where('category', '==', category).where('res_address', '!=', "") .limit(15).get().then
      ((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          let item = {}
          item.id = doc.id;
          item.name = doc.data().name;
          item.res_name = doc.data().res_name;
          item.res_id = doc.data().userId;
          item.res_phone = doc.data().res_phone;
          item.res_address = doc.data().res_address;
          item.img = doc.data().img;
          item.category = doc.data().category;
          item.price = doc.data().price;
          // item.email = doc.data().email;
          this.foods.push(item);
        });
        this.loading = false
        this.searching = false
      });
    }
  },
  mounted() {
    this.getFoods(this.$route.params.cat);
    this.getCarts();
  },
  computed : {
    ...mapState('store', ['categories','carts']),
    restaurant(){
      return this.resItem;
    },
    // sortedFoods(){
    //   return this.groupBy(this.foods, 'category')
    // }
    sortedFoods(){
     return  this.foods.reduce((r, a) => {
        r[a.category] = [...r[a.category] || [], a];
       return r;
      }, {});
    }
  },
};
</script>

<style lang="scss">
.home-tab {
  border-radius: 15px 15px 0 0;
}
.res_info {
  text-align: justify;
  line-height: 1.5em !important;
  font-family: serif;
  font-size: 1.2em;
}
//.bg-text {
//  //text-shadow: 0 1px 0 red;
//  background-color: black;
//  color: #fff;
//  //display: inline;
//  //padding: 0.5rem;
//
//  -webkit-box-decoration-break: clone;
//  box-decoration-break: clone;
//}
</style>
