<template>
  <q-page>
    <q-tabs
      v-model="tab"
      class="bg-primary text-white shadow-2"
      indicator-color="secondary"
      align="justify"
    >
      <q-tab name="address" label="Delivery" />
      <q-tab name="payment" :disable="data.shipping === 0" label="Payment" />
      <q-tab name="confirm" :disable="!payment" label="Confirmation" />
    </q-tabs>
    <q-separator />
    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="address" style="margin-bottom: 150px">
        <q-item-label class="q-mb-sm text-h6">Select Delivery Address</q-item-label>
        <q-form @submit="submit" class="">

          <q-list bordered separator style="margin-bottom: 100px;">
            <div v-for="item in currentUser.addresses" class="bg-white p-card shadow-2" v-if="item.name">

              <q-item>
                <q-item-section>
                  <q-item-label class="text-capitalize text-bold" lines="1">{{ item.type }}</q-item-label>
                  <q-item-label class="text q-pt-sm text-bold q-pb-sm"><q-icon name="location_on" /> {{ item.address }}</q-item-label>
                  <q-item-label caption class="q-pb-sm"><q-icon name="person" /> {{ item.name }}</q-item-label>
                  <q-item-label caption><q-icon name="local_phone" /> {{ item.phone }}</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-radio name="address" size="lg" v-model="data.address" :val="item" />
                </q-item-section>
              </q-item>
            </div>

            <div class="bg-white p-card">
              <q-item @click="option = true" clickable v-ripple class="text-center">
                <q-item-section class="text-negative text-bold">Add New Address</q-item-section>
              </q-item>
            </div>
          </q-list>

          <q-page-sticky expand position="bottom">

            <q-btn class="full-width no-border-radius" :loading="loading" :disable="!data.address.address" unelevated size="1.3em" label="Proceed to payment" type="submit" color="secondary"/>

          </q-page-sticky>
        </q-form>

      </q-tab-panel>
      <q-tab-panel name="payment" style="margin-bottom: 150px">
        <q-item-label class="text-bold q-mb-sm text-h6">Payment Mode</q-item-label>
<!--        <q-btn color="primary" label="Add Payment" @click="payments = true" />-->


<!--        <PaystackPay :amount="subTotal" />-->


        <template v-if="carts.length > 0">
        <q-form @submit="submitPayment" class="payment">
          <q-separator class="q-mt-md q-mb-md" />

          <div class="bg-white p-card shadow-2" v-if="data.address.type">

            <q-item>
              <q-item-section>
                <q-item-label class="text-capitalize text-bold" lines="1">{{ data.address.type }}</q-item-label>
                <q-item-label class="text q-pt-sm text-bold q-pb-sm"><q-icon name="location_on" /> {{ data.address.address }}</q-item-label>
                <q-item-label caption class="q-pb-sm"><q-icon name="person" /> {{ data.address.name }}</q-item-label>
                <q-item-label caption><q-icon name="local_phone" /> {{ data.address.phone }}</q-item-label>
              </q-item-section>
            </q-item>
          </div>

          <q-item-label class="q-mt-md q-mb-md text-h6">Restaurant Details</q-item-label>
          <div class="bg-white p-card shadow-2 q-mt-md" v-if="carts[0].res_address">

            <q-item>
              <q-item-section>
                <q-item-label class="text-bold" lines="1">{{ carts[0].res_name }}</q-item-label>
                <q-item-label class="text q-pt-sm  q-pb-sm"><q-icon name="location_on" /> {{ carts[0].res_address }}</q-item-label>
              </q-item-section>
            </q-item>
          </div>

          <q-item-label class="q-mt-md text-h6">Expected Delivery Time</q-item-label>
          <q-item-label caption>Delivery in 45 - 70 min</q-item-label>

          <q-separator class="q-mt-md q-mb-md" />


          <q-item-label class=" q-mt-md q-mb-md text-h6">Order Note</q-item-label>

          <q-input
            v-model="data.note"
            outlined
            type="textarea"
            dense
            hint="Drop a message along with your order" />

          <q-item-label class=" q-mt-md q-mb-md text-h6">House Number </q-item-label>

          <q-input
            v-model="data.house"
            outlined
            :rules="[ val => val && val.length > 0 || 'Please enter a valid street and house address']"
            hint="Enter your street name and house number"
            dense >
          </q-input>

          <q-item-label class=" q-mt-md q-mb-md text-h6">Coupon Code</q-item-label>

          <q-input
            v-model="data.coupon"
            outlined
            dense
            :hint="coupon">
            <template v-slot:after>
              <q-btn  color="primary"  @click="applyCoupon" label="Apply" />
            </template>
          </q-input>

          <q-list bordered separator class="q-mt-md">
            <q-item clickable class="text-bold bg-default" v-ripple >
              <q-item-section >
                SubTotal
              </q-item-section>
              <q-item-section side>₦{{ subTotal}}</q-item-section>
            </q-item>
            <q-item clickable class="text-bold bg-default" v-ripple >
              <q-item-section >
                Delivery Charges
              </q-item-section>

              <q-item-section side>₦{{ data.shipping }} </q-item-section>
            </q-item>
            <q-item v-if="data.shipping_coupon" clickable class="text-bold bg-default" v-ripple >
              <q-item-section >
                Delivery Discount
              </q-item-section>

              <q-item-section side>{{ data.shipping_coupon }} <span v-if="!is_amt">%</span></q-item-section>
            </q-item>
            <q-item v-if="data.food_coupon" clickable class="text-bold bg-default" v-ripple >
              <q-item-section >
                Food Discount
              </q-item-section>

              <q-item-section side>{{ data.food_coupon }} <span v-if="!is_amt">%</span></q-item-section>
            </q-item>
<!--            <q-item clickable class="text-bold bg-default" v-ripple >-->
<!--              <q-item-section >-->
<!--                Total-->
<!--              </q-item-section>-->
<!--              <q-item-section side>₦{{ total }}</q-item-section>-->
<!--            </q-item>-->
          </q-list>


          <!--          <div class="column q-mt-md">-->
          <q-page-sticky expand position="bottom" v-if="carts.length > 0">

            <q-btn class="col no-border-radius" unelevated label="Confirm Order" type="submit" color="secondary" size="1.2em"/>

          </q-page-sticky>
          <!--          </div>-->
        </q-form>
        </template>
      </q-tab-panel>
      <q-tab-panel name="confirm" class="payment" style="margin-bottom: 80px">
        <q-item-label class="text-h6 q-mb-md">Address</q-item-label>
        <div class="bg-white p-card shadow-2" v-if="data.address.type">
          <q-item>
            <q-item-section>
              <q-item-label class="text-capitalize text-bold" lines="1">{{ data.address.type }}</q-item-label>
              <q-item-label class="text q-pt-sm text-bold q-pb-sm"><q-icon name="location_on" /> {{ data.address.address }}</q-item-label>
              <q-item-label caption class="q-pb-sm"><q-icon name="person" /> {{ data.address.name }}</q-item-label>
              <q-item-label caption><q-icon name="local_phone" /> {{ data.address.phone }}</q-item-label>
            </q-item-section>
          </q-item>
        </div>

        <div class="row q-mt-md " v-if="data.note">
          <q-item-label class="text-h6 text-bol q-mb-sm">Note </q-item-label>

          <div class="bg-white bg-white p-card shadow-2  full-width text-center q-pa-md q-pb-xl">
            <q-item-label>{{  data.note  }}</q-item-label>
          </div>

          <q-item-label class="q-pt-md text-h6">Order Detail</q-item-label>
        </div>


        <q-form @submit="confirmOrder" class="">
          <div class="q-mt-md max-bottom">
            <q-list bordered separator class="">
              <q-item v-for="item in carts" :key="item.id" clickable v-ripple >
                <q-item-section>
                  <q-item-label lines="2">{{ item.name }}</q-item-label>
                  <q-item-label class="text-bold q-pt-sm q-pb-sm" lines="2">[{{ item.res_name }}]</q-item-label>
                </q-item-section>
                <q-item-section side top>
                  <q-item-label>₦{{ item.price }}</q-item-label>
                  <q-item-label class="">x {{ item.qty }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item clickable class="bg-default" v-ripple >
                <q-item-section >
<!--                  <router-link to="/nearby">Add another meal</router-link>-->
                  <q-btn color="primary" label="Add another meal"></q-btn>
                </q-item-section>
              </q-item>
              <q-item clickable class="text-bold bg-default" v-ripple >
                <q-item-section >
                  SubTotal
                </q-item-section>
                <q-item-section side>₦{{ subTotal}}</q-item-section>
              </q-item>
              <q-item clickable class="text-bold bg-default" v-ripple >
                <q-item-section >
                  Delivery Charges
                </q-item-section>

                <q-item-section side>₦{{ data.shipping }} </q-item-section>
              </q-item>
              <q-item v-if="data.shipping_coupon" clickable class="text-bold bg-default" v-ripple >
                <q-item-section >
                  Delivery Discount
                </q-item-section>

                <q-item-section side>{{ data.shipping_coupon }} <span v-if="!is_amt">%</span></q-item-section>
              </q-item>
              <q-item v-if="data.food_coupon" clickable class="text-bold bg-default" v-ripple >
                <q-item-section >
                  Food Discount
                </q-item-section>

                <q-item-section side>{{ data.food_coupon }} <span v-if="!is_amt">%</span></q-item-section>
              </q-item>
              <q-item clickable class="text-bold bg-default" v-ripple >
                <q-item-section >
                  Service Charge ({{charge}}%)
                </q-item-section>

                <q-item-section side>₦{{ chargeAmount }} </q-item-section>
              </q-item>
              <q-item clickable class="text-bold bg-default" v-ripple >
                <q-item-section >
                  Total
                </q-item-section>
                <q-item-section side>₦{{ total }}</q-item-section>
              </q-item>

            </q-list>
            <q-btn v-if="subTotal < minimum" class="col q-mt-md" label="Add More Item" to="/nearby" color="warning" size="1.2em"/>
          </div>
          <q-page-sticky expand position="bottom">
            <template v-if="subTotal > minimum">
              <q-btn v-if="ordered" class="col" label="Orders Page" to="/shop_for_me/orders" color="info" size="1.4em"/>
              <template v-else>
                <q-btn v-if="can_order > 0" class="col no-border-radius" unelevated label="Confirm & Checkout" :loading="loading" type="submit" color="secondary" size="1.3em"/>
<!--                <q-btn v-if="can_order > 0" class="col no-border-radius" unelevated label="Confirm & Checkout" :loading="loading" type="submit" color="secondary" size="1.3em"/>-->
                <q-btn v-else to="/cart" class="col no-border-radius" unelevated label="We cant accept orders now" :loading="loading" color="info" size="1.2em"/>
              </template>
            </template>

            <template v-else>
              <div class="bg-info">
                <q-item-label class="q-ma-sm text-center text-white" >Order SubTotal is less than minimum order amount, Prokitchen minimum order delivery is ₦{{ minimum }}, pls add
                  more food(s) to your cart to enable checkout</q-item-label>
              </div>

            </template>

          </q-page-sticky>
        </q-form>
      </q-tab-panel>
    </q-tab-panels>
    <q-dialog v-model="option">
    <AddAddress  @saved="closeDialog" />
    </q-dialog>
    <q-dialog v-model="payments">
      <q-card-actions align="right" class="bg-white text-teal">
        <q-btn flat icon="close" v-close-popup />
      </q-card-actions>
      <div class="bg-white p-card shadow-2">
        <q-item>
          <q-item-section>
            <q-item-label lines="2">Pay On Delivery</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-radio name="address" size="lg" v-model="data.payment_method" val="pay_on_delivery" />
          </q-item-section>
        </q-item>
      </div>
      <div class="bg-white p-card shadow-2">
        <q-item>
          <q-item-section>
            <q-item-label lines="2">Instant Payment</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-radio name="address" size="lg" v-model="data.payment_method" val="instant" />
          </q-item-section>
        </q-item>
      </div>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import AddAddress from 'components/AddAddress'
import PaystackPay from 'components/Paystack'
import {firebaseDb} from "boot/firebase";
import axios from 'axios'
import {LocalStorage} from "quasar";
export default {
  name: "Checkout",
  components: { PaystackPay, AddAddress },
  data () {
    return {
      tab: 'address',
      option:false,
      payments:false,
      can_order:1,
      food_coupon:0,
      coupon:'Enter a coupon code if have any',
      can_order_note:'',
      small: false,
      payment:false,
      vat:0,
      charge:5,
      minimum:50,
      ordered:false,
      new_charge:'',
      new_shipping:'',
      package:0,
      loading:false,
      is_amt:false,
      data: {
        address : [],
        items:[],
        house:'',
        note:'',
        coupon:'',
        delivery_time:50,
       grand_total:0,
        shipping:1020,
        res_name:'',
        delivered:false,
        paid:false,
        res_phone:'',
        status:'awaiting restaurant',
        res_address:'',
        res_id:'',
       total:0,
        payment_method:'',
      },
    }
  },
  mounted() {
    this.$bind(
      'new_charge',
      firebaseDb.collection('settings')
        .where('name', '==', 'charge')
    );
    this.$bind(
      'new_shipping',
      firebaseDb.collection('settings')
        .where('name', '==', 'shipping')
    );
    this.getCarts();
    if(!this.carts.length){
      this.$router.push('/carts');
    }
  },
  methods:{
    ...mapActions('store', ['getCarts']),

    closeDialog (value) {
      this.option = false;
    },

    placeOrder(){
      this.data.items = this.carts;

    },

    applyCoupon(){
      if(this.data.coupon.length > 2){
        let vm = this;
        this.$q.loading.show();
        let docRef = firebaseDb.collection("coupons").doc(this.data.coupon);
        docRef.get().then(function(doc) {
          if (doc.exists) {
            console.log("Document data:", doc.data());
            if(doc.data().is_amt){
              if(doc.data().used){
                vm.$q.notify({
                  message: 'Coupon already used',
                  color: 'negative'
                });
              }else {
                vm.is_amt = true;
                let shipping = doc.data().delivery_bonus;
                let food = doc.data().food_bonus;
                if(parseInt(shipping) > parseInt(vm.data.shipping)){
                  vm.data.shipping = 0;
                }else{
                  vm.data.shipping = parseInt(vm.data.shipping) - parseInt(shipping);
                }
                vm.data.shipping_coupon = parseInt(shipping);
                vm.data.food_coupon = parseInt(food);
                vm.food_coupon = parseInt(food);
                vm.$q.notify({
                  message: 'Coupon successfully applied',
                  color: 'info'
                });
              }
            }else {
              vm.is_amt = false;
              let shipping = doc.data().delivery_bonus;
              let food = doc.data().food_bonus;
              vm.data.shipping = (parseInt(shipping) / 100) * vm.data.shipping;
              vm.data.shipping_coupon = parseInt(shipping);
              vm.data.food_coupon = parseInt(food);
              vm.food_coupon = (parseInt(food) / 100);
              vm.$q.notify({
                message: 'Coupon successfully applied',
                color: 'info'
              });
            }
          } else {
            vm.$q.notify({
              message: 'Coupon code is expired or doesnt exit',
              color: 'negative'
            });
          }
          vm.$q.loading.hide();
        }).catch(function(error) {
          vm.$q.notify({
            message: 'Error verifying coupon code',
            color: 'negative'
          });
          vm.$q.loading.show();
        });
      }else {
        this.$q.notify({
          message: 'Enter a valid coupon code',
          color: 'negative'
        });
      }

    },

    submitForm(){
      this.loading = true;
      this.currentUser.addresses.push(this.formData)
      this.loading = false;
      this.option = false;
      this.$q.notify({
        message: 'Address successfully added',
        color: 'info'
      });

    },

    formatPrice(value) {
      let val = (value/1).toFixed(2).replace('.', '.')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    },
    increaseQty(id){
      this.$store.commit("store/increase_cart_qty", id);
    },
    decreaseQty(id){
      this.$store.commit("store/decrease_cart_qty", id);
    },
    submit(){
      this.loading = true;
      this.$axios.get(this.$shipping_url+'?pickup='+this.carts[0].res_address+'&dropoff='+this.data.address.address)
        .then((response) => {
          if(response.data.data.shippingCost){
            this.data.shipping = parseInt(response.data.data.shippingCost.cost);
            console.log(this.new_shipping)
            if(this.new_shipping[0]){
              if(parseInt(response.data.data.shippingCost.cost) > this.new_shipping[0].value){
                this.data.shipping = this.new_shipping[0].value;
              }
              this.tab = 'payment';
            }else {
              this.tab = 'payment';
            }

          }else{
            this.$q.notify({
              message: 'Something went wrong, cant get shipping fee',
              color: 'negative',
            });
          }
          this.loading = false;

        }).catch((error) => {
        this.loading = false;
        this.$q.notify({
          message: 'Something went wrong, cant get shipping fee',
          color: 'negative',
        });
        console.log(error)
      })
    },
    submitPayment(){
      this.payment = true
      this.tab = 'confirm'
    },
    confirmOrder(){
      if(!this.currentUser.userId){
        this.$q.notify({
          message: 'Something went wrong',
          color: 'negative',
          multiLine: true,
        });
      }else {
        this.loading = true;
        this.$q.loading.show();
        this.data.items = this.carts;
        this.data.userId = this.currentUser.userId;
        this.data.grand_total = this.total;
        this.data.total = this.subTotal;
        this.data.charge = this.chargeAmount;
        this.data.charge_percent = this.charge;
        this.data.order_id =  new Date().getTime().toString();

        this.data.res_name = this.carts[0].res_name;
        this.data.res_phone = this.carts[0].res_phone;
        this.data.res_address = this.carts[0].res_address;
        this.data.res_id = this.carts[0].res_id;
        this.data.is_amt = this.is_amt;
        // this.data.package = this.package;

        firebaseDb.collection('orders').add(this.data)
          .then(docRef => {
            this.$q.loading.hide();

            this.loading = false;

            this.$q.notify({
              message: 'Order successfully placed',
              color: 'info'
            });
            console.log(this.is_amt)
            if(this.is_amt){
              console.log(this.data.coupon)
              firebaseDb.collection("coupons").doc(this.data.coupon).set({
                used: true,
                used_by : this.data.address.name + ' - ' + this.data.address.phone,
              }, { merge: true });
            }

            this.$axios.post('order/new', this.data).then((response) => {});

            // LocalStorage.set("order", this.data)

            this.deleteCart();

            this.getCarts();

            this.data.order_id = docRef.id;

            this.$store.commit('store/setNewOrder', this.data);

            this.tab = 'address';

            this.data.shipping_coupon = 0;
            this.data.food_coupon = 0;
            this.food_coupon = 0;

            this.$router.push('/make/payment')

          })
          .catch(error => console.log(error))
      }
    },
    deleteCart(){
      this.carts.forEach((item) => {
        firebaseDb.collection("carts").doc(this.currentUser.userId).collection('details').doc(item.id).delete().then(function() {
        }).catch(function(error) {
          console.error("Error removing document: ", error);
        });
      });
    }
  },

  computed:{
    ...mapState('store', ['currentUser','carts']),
    ...mapGetters('store', ['checkout_details']),
    sTotal: function(){
      return this.carts.reduce(function(total, item){
        return parseInt(total + (item.qty * item.price));
      },0);
    },

    subTotal(){
      if(this.is_amt){
        if(this.sTotal  > this.food_coupon){
          return this.sTotal - this.food_coupon;
        }else{
          return 0;
        }

      }else{
        return this.sTotal - (this.sTotal * this.food_coupon)
      }
    },

    totalQty: function(){
      return this.carts.reduce(function(total, item){
        return parseInt(total) + parseInt((item.qty));
      },0);
    },

    vatAmount: function(){
      let total = this.subTotal + this.data.shipping;
      return (total * this.vat) / 100;
    },
    chargeAmount: function(){
      let total = this.subTotal;
      return (total * this.charge) / 100;
    },
    total(){
      return this.subTotal + this.data.shipping + this.chargeAmount;
    },
  },
  watch: {
    new_charge(){
      if(this.new_charge[0].value){
        this.charge = this.new_charge[0].value;
      }
    },
    checkout_details() {
      if(!this.carts.length){
        this.$router.push('/cart');
      }
      this.package = this.checkout_details.pack;
      this.minimum = this.checkout_details.minimum;
      this.vat = this.checkout_details.vat;
      this.data.shipping = this.checkout_details.data.shipping;
      this.data.name = this.currentUser.name;
      this.data.nearest_axies = this.checkout_details.options[0];
      this.data.email = this.currentUser.email;
      this.data.phone = this.currentUser.phone;
      this.data.address = this.currentUser.address;
      this.data.vat = this.checkout_details.vat;
      this.data.shipping_fee = this.checkout_details.data.shipping;
      this.data.payment_method = this.checkout_details.payments[0].value;
      this.data.delivery_time = this.checkout_details.delivery_time;
    }
  }
}
</script>

<style lang="scss" scoped>
 .payment {
   .p-card {
     margin: 0!important;
   }
 }
 .address {
   border: 0.4px solid #9ec3c8;
   border-radius: 5px;
 }
 .sec-2 {
   border: 0.4px solid #f5f5f5;
 }
 .arrow_box {
   position: relative;
 }
 .arrow_box:after, .arrow_box:before {
   bottom: 100%;
   left: 15%;
   border: solid transparent;
   content: "";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
 }

 .arrow_box:after {
   //border-color: rgba(136, 183, 213, 0);
   border-bottom-color: #fff !important;
   border-width: 20px;
   margin-left: -30px;
 }

</style>
