<template>
  <q-page class="bg-blue-grey-1">
    <div class="row">
      <div class="justify-center q-mt-md" style="margin: 10px auto ">
        <q-avatar size="100px" rounded >
          <img :src="currentUser.avatar">
        </q-avatar>
      </div>

    </div>

    <div class="row justify-center " style="max-width: 400px; margin: 0 auto 50px">
      <q-form @submit="submitForm" class="full-width bg-white q-pa-lg">
        <q-input
          outlined
          class=""
          v-model="formData.name"
          label="Full Name">
          <template  v-slot:append>
            <q-icon v-show="formData.name.length > 0" name="cancel" @click.stop="formData.name = ''" class="cursor-pointer" />
          </template>
        </q-input>


        <q-input
          v-model="formData.phone"
          outlined
          type="text"
          :rules="[ val => val.length === 14 || 'Phone number not valid, please start with +234']"
          class=" q-mt-md"
          label="Phone" />
     <q-input
          v-model="formData.referral_code"
          outlined
          type="text"
          :disable="hasCode"
          class="q-mb-md"
          label="Referral Code" />

        <div class="row">
          <q-separator />
          <q-item-label class="q-pt-md q-pb-md">Change Profile Image</q-item-label>
          <q-separator />
        </div>
        <div class="q-mt-md" v-if="uploadValue < 1">
          <!--            <q-btn @click="click1">choose a photo</q-btn>-->
          <img  @click="click1" src="~assets/uploader.png" />
          <input type="file" ref="input1"
                 style="display: none"
                 @change="previewImage" accept="image/*" >
        </div>

        <div class="q-mt-md" v-if="uploadValue > 0">
          <p>{{uploadValue.toFixed()+"%"}}
            <progress class="full-width" id="progress" :value="uploadValue" max="100" ></progress>  </p>
        </div>




        <div class="row full-width">
          <q-space />
          <q-btn class="col" rounded
                 :loading="loading"
                 color="primary"
                 type="submit"
                 label="Update" />
        </div>


      </q-form>


    </div>

  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import { firebaseDb, storage } from 'boot/firebase'
export default {
  name: "PageProfileEdit",
  data() {
    return {
      loading:false,
      uploadValue:0,
      formData: {
        name: '',
        phone: '',
        referral_code:'',
        avatar:'',

      },
      errors:{},
      has_error: false,
    }
  },
  mounted () {
    this.formData.name = this.currentUser.name; this.formData.phone = this.currentUser.phone; this.formData.referral_code = this.currentUser.referred_by;
    this.formData.avatar = this.currentUser.avatar
  },
  methods:{
    logout() {
      // this.$store.commit('store/logout');
      this.$router.push('/auth');
    },
    submitForm() {
      this.loading = true;
      this.errors = {};
      this.has_error = false;
      this.$q.loading.show();
      // this.registerUser(this.formData)
      firebaseDb.collection('users').doc(this.currentUser.userId).set({
        name: this.formData.name, phone:this.formData.phone, avatar : this.formData.avatar
      }, { merge: true });
      this.$q.loading.hide();
      this.loading = false;

      this.$store.commit('store/setUserDetail', {
        name: this.formData.name,
        phone: this.formData.phone,
        balance : 0,
        email:this.currentUser.email,
        city:this.currentUser.city,
        avatar: this.formData.avatar,
        referred_by: this.formData.referral_code,
        is_admin: this.currentUser.is_admin,
        is_res: this.currentUser.is_res,
        userId:this.currentUser.userId,
      })

      this.$q.notify({
        message: 'Profile successfully updated',
        color: 'info'
      });



    },

    click1() {
      this.$refs.input1.click()
    },
    previewImage(event) {
      this.uploadValue = 0;
      this.picture = null;
      this.imageData = event.target.files[0];
      this.onUpload()
    },
    clearImg(){
      this.formData.img = '';
      this.uploadValue = 0;
      this.imageData = null;
    },
    onUpload() {
      this.picture = null;
      const storageRef = storage.ref(`${this.imageData.name}`).put(this.imageData);
      storageRef.on(`state_changed`, snapshot => {
          this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        }, error => {
          console.log(error.message)
        },
        () => {
          this.uploadValue = 100;
          storageRef.snapshot.ref.getDownloadURL().then((url) => {
            this.formData.avatar = url;
          });
        }
      );
    },

  },
  computed : {
    ...mapState('store', ['currentUser']),
    hasCode(){
      if(this.currentUser.referred_by){
        return this.currentUser.referred_by.length > 6;
      }else {
        return false;
      }
    }
  }
}
</script>

<style lang="scss">
.account-head-new{
  z-index: 5;
}
.p-card {
  margin: 15px;
  border-radius: 10px;
}

</style>
