<template>
  <q-page class="">
    <div class="absolute-center" v-show="loading">
      <img style="height: 200px"  src="~assets/loader-2_food.gif" />
    </div>



    <div class="column" v-if="!loading">


      <div class="absolute- bg-white justify-around home-tab" style="max-width: 100vw">

        <q-tabs
          style="width: 100vw;"
          v-model="tab"
          inline-label
          no-caps
          class="text-black text-h5 text-weight-light"
        >
          <q-tab  @click="Foods" name="Foods"  label="Foods" />
          <q-tab  @click="Rest" name="Restaurants"  label="Restaurants" />

        </q-tabs>


        <q-separator />

      </div>


      <div class="q-mb-xl " v-if="tab === 'Foods'" >

        <div v-if="restaurants.length > 0" class="row bg-blue-grey-1">
          <q-infinite-scroll @load="onLoad" :offset="250">

            <q-list padding class="row res_list">
              <FoodItem :key="food.imag" v-for="food in foods.slice(1,5)" :food="food" />
            </q-list>
            <template v-if="!all_loaded" v-slot:loading>
              <div class="row justify-center q-my-md">
                <q-spinner-dots color="primary" size="40px" />
              </div>
            </template>

          </q-infinite-scroll>
        </div>
        <div v-else class="row">
          <div v-if="!searching" class="column items-center col-md-12">
            <div class="row q-mb-xl q-mt-md justify-around">
              <q-item-label class=" text-center">{{ result }}</q-item-label>
            </div>
          </div>
        </div>
      </div>
      <div class="q-mb-xl " v-if="tab === 'Restaurants'" >

        <div v-if="restaurants.length > 0" class="row bg-blue-grey-1">
          <q-infinite-scroll @load="onLoad" :offset="250">

            <q-list padding class="row res_list">
              <FavouriteItem :key="res.url" v-for="res in restaurants.slice(0,5)" :res="res" />

            </q-list>
            <template v-if="!all_loaded" v-slot:loading>
              <div class="row justify-center q-my-md">
                <q-spinner-dots color="primary" size="40px" />
              </div>
            </template>

          </q-infinite-scroll>
        </div>
        <div v-else class="row">
          <div v-if="!searching" class="column items-center col-md-12">
            <div class="row q-mb-xl q-mt-md justify-around">
              <q-item-label class=" text-center">{{ result }}</q-item-label>
            </div>
          </div>
        </div>
      </div>

    </div>

  </q-page>
</template>

<script>
import { mapState } from 'vuex'

import FavouriteItem from "components/FavouriteItem";
import FoodItem from "components/food/FoodItem";

export default {
  name: 'PageOrder',
  components: {FoodItem, FavouriteItem},
  data() {
    return {
      text: '',
      tab: 'Foods',
      loading:false,
      searching:false,
      all_loaded:true,
      page:2,
      result:'No result for now, search other categories',
      title:'Pick Your Favourites',
    }
  },
  methods : {
    Foods(){
      this.tab = 'Foods';
    },
    Rest(){
      this.tab = 'Restaurants';
    },

    searchByType(item){
      this.tab = item.name;
      this.searching = true;
      this.result = 'No result found for,'+item.name+' category, search other categories';
      this.title = item.name +' results';
      this.$axios.get('/food/type/'+item.slug).then((response) => {
        this.all_foods = response.data.data;
        this.searching = false;
      })
    },
    onLoad(index, done){
      this.$axios.post('/foods/all_foods?page='+this.page)
        .then((response) => {
          if (response.data.data.length) {
            this.page = this.page + 1;
            response.data.data.forEach(food => {
              this.all_foods.push(food)
            });
            done()
          }else {
            this.all_loaded = true;
            stop()
          }
        })

    },

    all(){
      this.all_foods = this.foods;
      this.title = 'All Meals'
      this.tab = "All";
    },
    Goto(id,name){
      this.$router.push('/restaurant/'+id+'/'+name);
    },

    searchByInput(){
      this.searching = true;
      this.title = 'Search results for '+this.text;
      this.result = 'No result found for keyword ,'+this.text +' search by categories rather';
      this.$axios.post('/foods/search',{ key: this.text }).then((resp) => {
        this.all_foods = resp.data.data;
        this.searching = false;
      })
    }
  },
  computed : {
    ...mapState('store', ['restaurants','foods']),
  }

}
</script>

<style lang="scss">

.res_list {
  padding-left: 15px; padding-right: 10px
}
.res_img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.res_item {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  padding-right: 10px!important
}
</style>
