<template>
<q-page class="bg-white q-pa-md">

  <div class="col q-mb-md">
    <q-btn class="no-border-radius full-width" color="primary">
      <q-icon left size="3em" name="account_balance_wallet" />
      <div>Bal ..</div>
      <div>NGN {{ formatPrice(currentUser.balance) }}</div>
    </q-btn>
  </div>


  <q-select
    outlined
    label-color="red"
    class="text-bold"
    v-model="payment_method"
    :options="paymentOptions"
    label="Select Payment Method"
    style="width:100%"
  />

  <q-form @submit.prevent="makePayment">
    <div class="btn-wrapper">
      <q-input class="q-mt-md q-mb-md"
               type="number"
               :rules="[ val => val > 999 || 'You cant fund less than 1000']"
               hint="Enter Amount" outlined v-model="amount" label="Amount">
        <template v-slot:prepend>
          ₦
        </template>

      </q-input>
      <q-btn v-if="payment_method === 'Online Payment'" color="primary" type="submit">Make Payment</q-btn>
    </div>
  </q-form>

  <template v-if="payment_method === 'Bank Transfer'">
    <q-card v-for="item in accounts" flat bordered class=" my-card q-mb-sm" :key="item.id">
      <q-item class="">
        <q-item-section>
          <q-item-label>{{ item.name }}</q-item-label>
          <q-item-label caption lines="2">
            {{ item.no }}
          </q-item-label>
          <q-item-label>{{ item.bank }}</q-item-label>
        </q-item-section>
        <q-item-section side top>
          <q-btn class="q-mt-sm" @click="copyAccount(item.number)" label="copy" />
        </q-item-section>
      </q-item>
    </q-card>
  </template>




</q-page>
</template>

<script>
import {mapState} from "vuex";

import { firebaseDb } from 'boot/firebase'

export default {
name: "FundWallet",
  data(){
  return {
    bankDetails:false,
    showPayment:false,
    paymentOptions:['Online Payment','Bank Transfer'],
    showAdd:true,
    tab: 'address',
    amount: 1000,
    payment: {
      email: '',
      amount: 0,
      date: Date.now(),
      reference: '',
    },
    payment_method:'Online Payment',
  }
  },
  methods: {
    makePayment() {
      let vm = this;
      this.payment.email = this.currentUser.email
      this.payment.amount = parseInt(this.amount)
      this.$launchFlutterwave({
        tx_ref: Date.now(),
        amount: parseInt(this.amount),
        currency: 'NGN',
        payment_options: 'card,mobilemoney,ussd',
        customer: {
          email: this.currentUser.email,
          phonenumber: this.currentUser.phone,
          name: this.currentUser.name
        },
        callback: function(data) {
          // specified callback function
          // console.log(data)
          vm.payment.reference = data.transaction_id;
          firebaseDb.collection('payments').add(vm.payment)
            .then(docRef => {
              // this.$q.loading.hide();
              // vm.$q.notify({
              //   message: 'Account Successfully funded',
              //   color: 'info'
              // });
              // this.$router.push('/product')
              vm.paymentDone();
            })
            .catch(error => console.log(error))
        },
        customizations: {
          title: 'Wallet Funding',
          description: 'ProKitchen Wallet Funding',
        }
      })
    },
    copyAccount(text){
      copyToClipboard(text)
        .then(() => {
          this.$q.notify({
            message: text +' copied to clipboard',
            color: 'info'
          })
        })
        .catch(() => {
          // fail
        })
    },
    showBank(){
      this.bankDetails = true;
      this.showPayment = true
    },
    paymentDone(){
      this.$q.loading.show({
        message: 'Loading Wallet <b>process</b> is in progress.<br/><span class="text-primary">Hang on...</span>'
      });

      firebaseDb.collection('users').doc(this.currentUser.userId).set({
        balance: parseInt(this.currentUser.balance) + parseInt(this.amount)
      }, { merge: true });
      this.currentUser.balance = parseInt(this.currentUser.balance) + parseInt(this.amount);

      this.$store.commit('store/setUserDetail', this.currentUser);
      this.$q.notify({
        message: 'Amount funded to account',
        color: 'info'
      });
      this.$q.loading.hide();
    },
    callback: function(response){
      if(response.status === 'success'){
        this.paymentDone();
      }else {
        this.$q.notify({
          message: response.message,
          color: 'red',
        });
      }
    },
    close: function(){
      console.log("Payment closed")
    },
    formatPrice(value) {
      let val = (value/1).toFixed(2).replace('.', '.')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    },
    // service_charge(){
    //   return this.total_fee - parseInt(this.amount);
    //   // return this.format_money(this.total_fee - parseInt(this.amount));
    // },
  },
  computed : {
    ...mapState('store', ['currentUser','accounts']),
  }
}
</script>

<style scoped lang="scss">
.payButton{
background: var(--q-color-primary) !important;
  border-radius: 10px;
  padding: 8px;
  color: white;
}
</style>
