<template>
  <q-page class="bg-white">
    <div class="home" v-if="!loading" style="margin-bottom: 60px">


      <div class=" q-mb-sm  q-mt-md q-ml-sm" style="">
        <div class="scrolling-wrapper">

          <div v-for="item in slides" :key="item.id" @click="slideTo(item)" class="col-m-6 card-advert col-6">
            <q-img
              :src="item.img"
              :ratio="1"
              basic
              spinner-color="white"
              class="home-advert-img"
            >
            </q-img>
          </div>
        </div>
      </div>

<!--      <div class="column q-ma-sm" v-if="f_res.length > 0" >-->
<!--        <q-card class="no-border-radius no-shadow">-->

<!--          <div class="row q-pt-md q-mb-md q-mr-sm">-->
<!--            <div class="col-6">-->
<!--              <q-item-label style="font-size: 1.2em" class="">-->
<!--                Featured Restaurants-->
<!--              </q-item-label>-->
<!--            </div>-->
<!--            <div class="col-6 float-right">-->
<!--&lt;!&ndash;              <q-item-label  style="font-size: 1.2em" class="float-right text-warning text-bold">&ndash;&gt;-->
<!--&lt;!&ndash;                view all&ndash;&gt;-->
<!--&lt;!&ndash;              </q-item-label>&ndash;&gt;-->
<!--&lt;!&ndash;              <q-btn class="float-right" to="/nearby" color="warning" label="View All" flat />&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--&lt;!&ndash;          <div class=" q-mb-sm " style="max-width: 97vw">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="scrolling-wrapper">&ndash;&gt;-->


<!--&lt;!&ndash;              <div v-for="item in f_res" :key="item.id+item.img" @click="Goto(item)" class="col-m-4 card col-6">&ndash;&gt;-->
<!--&lt;!&ndash;                <q-img&ndash;&gt;-->
<!--&lt;!&ndash;                  :src="item.img"&ndash;&gt;-->
<!--&lt;!&ndash;                  style="width: 130px"&ndash;&gt;-->
<!--&lt;!&ndash;                  :ratio="1"&ndash;&gt;-->
<!--&lt;!&ndash;                  basic&ndash;&gt;-->
<!--&lt;!&ndash;                  spinner-color="white"&ndash;&gt;-->
<!--&lt;!&ndash;                  class=""&ndash;&gt;-->
<!--&lt;!&ndash;                >&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="absolute-bottom text-white text-center text-bod">&ndash;&gt;-->

<!--&lt;!&ndash;                    {{ item.name }}&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash;                    <q-item-label>{{ item.restaurant.name }}</q-item-label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </q-img>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--        </q-card>-->
<!--      </div>-->

      <div v-if="f_res.length > 0" class="q-pa-xs">
        <div class="row q-col-gutter-sm">
          <div class=" col-12">
            <div class="item-head bg-primary">
              <q-item-label class="text-white text-bold">FEATURED RESTAURANTS</q-item-label>
            </div>
          </div>
          <div v-for="item in f_res" :key="item.id+item.img" @click="Goto(item)" class="col-6">
            <div class="item-bg">
              <q-item v-ripple>
                <q-item-section side><q-icon color="black" name="list_alt" /></q-item-section>
                <q-item-section>{{  item.name }}</q-item-section>
                <q-item-section side>
                  <q-icon name="keyboard_arrow_right" />
                </q-item-section>
              </q-item>
            </div>
          </div>
        </div>
      </div>


      <div v-if="meals.length > 0" class="q-pa-xs">
        <div class="row q-col-gutter-sm">
          <div class=" col-12">
            <div class="item-head bg-primary">
              <q-item-label class="text-white text-bold">MEALS</q-item-label>
            </div>
          </div>
          <div v-for="item in meals"  @click="viewType(item)" :key="item" class="col-sm-6" :class="item === 'BreakFast' ? 'col-12' : 'col-6'">
            <div class="item-bg">
              <q-item v-ripple>
                <q-item-section side><q-icon color="black" name="list_alt" /></q-item-section>
                <q-item-section>{{  item }}</q-item-section>
                <q-item-section side>
                  <q-icon name="keyboard_arrow_right" />
                </q-item-section>
              </q-item>
            </div>
          </div>
          <div  @click="view('Caterers')" class="col-12">
            <div class="item-bg">
              <q-item v-ripple>
                <q-item-section side><q-icon color="black" name="list_alt" /></q-item-section>
                <q-item-section>Caterers Service</q-item-section>
                <q-item-section side>
                  <q-icon name="keyboard_arrow_right" />
                </q-item-section>
              </q-item>
            </div>
          </div>
        </div>
      </div>


      <div v-if="cats.length > 0" class="q-pa-xs">
        <div class="row q-col-gutter-sm">
        <div class=" col-12">
          <div class="item-head bg-primary">
            <q-item-label class="text-white text-bold">MORE FOOD CATEGORIES</q-item-label>
          </div>
        </div>
          <div v-for="item in cats" v-if="item.type !== 'drinks'" @click.stop="viewFood(item.name)" :key="item.id+item.image" class="col-sm-4 col-6">
            <div class="item-bg">
          <q-item v-ripple>
            <q-item-section side><q-icon color="black" name="list_alt" /></q-item-section>
            <q-item-section>{{  item.name }}</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
            </div>
        </div>
        </div>
      </div>

      <div v-if="drinks.length > 0" class="q-pa-xs">
        <div class="row q-col-gutter-sm">
        <div class=" col-12">
          <div class="item-head bg-primary">
            <q-item-label class="text-white text-bold">DRINKS</q-item-label>
          </div>
        </div>
          <div v-for="item in drinks"  @click="viewFood(item.name)" :key="item.id+item.image" class="col-sm-6 col-12">
            <div class="item-bg">
          <q-item v-ripple>
            <q-item-section side><q-icon color="black" name="list_alt" /></q-item-section>
            <q-item-section>{{  item.name }}</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
            </div>
        </div>
        </div>
      </div>



      <div v-if="res_types.length > 0" class="q-pa-xs">
        <div class="row q-col-gutter-sm">
        <div class=" col-12">
          <div class="item-head bg-primary">
            <q-item-label class="text-white text-bold">RESTAURANTS CATEGORIES</q-item-label>
          </div>
        </div>
          <div v-for="item in res_types.slice(0, 9)"   @click="view(item.name)" :key="item.id" class="col-sm-6 col-12">
            <div class="item-bg">
          <q-item to="/admin/orders" clickable v-ripple>
            <q-item-section side><q-icon color="black" name="list_alt" /></q-item-section>
            <q-item-section>{{  item.name }}</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
            </div>
        </div>
        </div>
      </div>
      </div>
      <div>
      </div>



    <div class="fullscreen bg-white" v-if="loading">



      <q-img class="full-height" src="~assets/bg.png" />
      <div class="absolute-top-right">
        <q-btn @click="loading = false" color="secondary" label="Skip to home" />
      </div>
      <div class="absolute-center">
        <q-spinner-dots color="primary" size="7em" />
      </div>
      <!--      <loading />-->

    </div>


    <q-dialog
      v-model="show"
    >
      <q-card style="width: 300px">
        <q-card-section>
          <div class="text-h6">Update Available</div>
        </q-card-section>

<!--        <q-card-section>-->
<!--          {{ site_details.update_text }}-->
<!--        </q-card-section>-->

        <q-card-section>
          <q-btn class="" @click="updateApp()" color="primary" icon="mail" label="Download Update" />

        </q-card-section>


        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn  flat label="Ignore" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showPromo">
      <q-card style="width: 350px">
<!--        <q-card-section>-->
<!--          <img width="100%" :src="site_details.promo_img">-->
<!--        </q-card-section>-->
<!--        <q-card-section>-->
<!--          <q-item-label class="text-center text-h5">{{ site_details.promo_text }}</q-item-label>-->
<!--        </q-card-section>-->

        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn  flat label="OK" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="searching" persistent transition-show="slide-up" transition-hide="slide-down">
      <FoodByCat :foods="food_results" :cat="select_cat" />
    </q-dialog>

  </q-page>
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex'
import axios from "axios";
import Loading from "./Loading";
// import Product from "../components/Product";
import {version} from "app/package.json";
import {LocalStorage, openURL} from "quasar";
import {firebaseDb} from "boot/firebase";
import FoodByCat from "components/FoodByCat";
export default {
  name: 'Home',
  components: {FoodByCat, Loading },
  data() {
    return {
      slide: 1,
      rating:1,
      text:'',
      meals:['BreakFast','Launch','Dinner'],
      featured: [],
      select_cat:[],
      food_results:[],
      slides: [],
      searching:false,
      res_types: [],
      loading:false,
      showPromo:false,
      show:false,
      all_loaded:false,
      page:1,
      products:[],
    }
  },
  firestore: {
    slides: firebaseDb.collection('slides'),
    res_types: firebaseDb.collection('restaurant_types'),
  },
  mounted() {
    // this.loading = false;
    if(LocalStorage.getItem('city') === null){
      this.$router.push('/home');
    }
    setTimeout(() => {
      if (this.loading) {
        this.loading = false
      }
    }, 1500);
    if(!this.categories.length){
      this.loading = true
      this.getCategories();
    }
    if(!this.f_res.length){
      this.loading = true
      this.getFRes();
    }else{
      this.loading = false;
    }
    console.log(this.f_res)
  },
  methods: {
    ...mapActions('store', ['getCategories','getFRes']),
    // Goto(id,name){
    //   this.$router.push('/restaurant/'+id+'/'+name);
    // },

    view(item){
      this.$router.push('/'+item+'/restaurants');
    },

    viewFood(item){
      this.$q.loading.show();
      this.select_cat = item;
      this.searching = false;
      this.food_results = [];
      firebaseDb.collection("foods").where('category', '==', item).where('res_address', '!=', "") .limit(35).get().then
      ((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          let item = this.sResult(doc);
          this.food_results.push(item);
        });
        this.$q.loading.hide();
        this.searching = true
      });
    },
    viewType(item){
      this.$q.loading.show();
      this.select_cat = item;
      this.searching = false;
      this.food_results = [];
      if(item === 'Dinner'){
        let dinner = firebaseDb.collection("foods").where('is_dinner', '==', true).where('res_address', '!=', "") .limit(35).get();
        dinner.then
        ((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            let item = this.sResult(doc);
            this.food_results.push(item);
          });
          this.$q.loading.hide();
          this.searching = true
        });
      }
      if(item === 'Launch'){
        let launch = firebaseDb.collection("foods").where('is_launch', '==', true).where('res_address', '!=', "") .limit(35).get();
        launch.then
        ((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            let item = this.sResult(doc);
            this.food_results.push(item);
          });
          this.$q.loading.hide();
          this.searching = true
        });
      }
      if(item === 'BreakFast'){
        let breakfast = firebaseDb.collection("foods").where('is_breakfast', '==', true).where('res_address', '!=', "") .limit(35).get();
        breakfast.then
        ((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            let item = this.sResult(doc);
            this.food_results.push(item);
          });
          this.$q.loading.hide();
          this.searching = true
        });
      }
    },

    sResult(doc){
      let item = {}
      item.id = doc.id;
      item.name = doc.data().name;
      item.res_name = doc.data().res_name;
      item.res_id = doc.data().userId;
      item.res_phone = doc.data().res_phone;
      item.res_address = doc.data().res_address;
      item.img = doc.data().img;
      item.category = doc.data().category;
      item.price = doc.data().price;
      return item;
    },

    Goto(item){
      this.$store.commit('store/setResItem', item);
      this.$router.push('/restaurant/'+item.id+'/'+item.name);
    },

    slideTo(item){
      if(item.is_web){
        openURL(item.link)
      }else {
        this.$router.push(item.link);
      }
    },


    search(){
      this.$router.push(`/nearby`);
      // this.$router.push(`/search/${this.text}`);
    },

    goTo(slug){
      this.$router.push(slug);
    },

  },

  watch:{
    f_res(){
      if(this.f_res.length > 1){
        this.loading = false;
      }
    }
  },

  computed: {
    ...mapState('store', ['categories','has_shown_update','f_res']),
    drinks(){
      return this.categories.filter(item => {
        return item.type === 'drinks' & item.is_home === true
      });
    },
    cats(){
      return this.categories.filter(item => {
        return  item.is_home === true
      });
    },
    version(){
      return version;
    }
  }
}
</script>
<style lang="scss">

.scrolling-wrapper {

  &::-webkit-scrollbar {
    display: none;
  }
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
    margin-right: 10px;

    .q-img{
      border-radius: 10px;
    }
  }
  .card-advert {
    display: inline-block;
    margin-right: 20px;
  }
}
.home-advert-img {
  width: 250px;
  height: 120px;
  border-radius: 10px;
}
.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}
.item-bg {
  background-color:#9e9e9e14;
  //margin: 5px 0;
  border-radius: 5px;
}

.item-head {
  //margin: 5px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  //border-radius: 10px;
  padding : 15px 8px;
}

.home {
  .home-slider {
    max-height: 200px;
    //object-fit: contain;
    //background-size: contain
  }
  .my-card .fp {
    height: 100px;
  }
  .res_cat .card .q-img{
    border-radius : 15px;
  }
}
</style>
