<template>
  <q-page class="absolute-center home_new">
    <div class="full-height">
      <div class="q-pt-lg">
        <div class="row text-center q-mt-xl justify-center vertical-middle ">
          <img src="~assets/logo.png" style="height: 150px; width: 150px" >
        </div>
      </div>

      <div class="absolute-center" style="width: 300px">
        <q-form @submit="setCity">
        <q-select label-color="secondary" :rules="[ val => val && val.length > 0 || 'Select State']"
                  class="text-secondary text-bold"
                  color="secondary"
                  label="Select City"
                  v-model="city"
                  :options="states"
                  emit-value
                  map-options
                  option-value="name"
                  option-label="name"
        />
<!--          <q-select label-color="secondary" :rules="[ val => val && val.length > 0 || 'Select City']"-->
<!--                  class="text-secondary text-bold"-->
<!--                  color="secondary"-->
<!--                  label="Select City"-->
<!--                  v-model="city"-->
<!--                  :options="f_cities.cities"-->
<!--                  emit-value-->
<!--                  map-options-->
<!--                  option-value="name"-->
<!--                  option-label="name"-->
<!--        />-->
        <q-btn label="Find Restaurants" icon="search" class="full-width" type="submit" color="secondary" />
        </q-form>
      </div>

      <div class="absolute-bottom text-center">
        <div class="q-mb-lg">
          <q-btn text-color="white" label="Call Us" icon="phone" class="" rounded outline  color="secondary" />
          <q-item-label type="a" :href="'tel:08131652852'" class="text-secondary q-mt-md">For a better experience with prokitchen</q-item-label>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex'
import carousel from 'v-owl-carousel'
import axios from "axios";
import Loading from "./Loading";
// import Product from "../components/Product";
import {version} from "app/package.json";
import {LocalStorage, openURL} from "quasar";
import Food from 'components/Food'
export default {
  name: 'Home',
  components: {  Loading},
  data() {
    return {
      state:'',
      city:'',
    }
  },
  created() {
    if(LocalStorage.getItem('app_installed') === null){
      this.$router.push('/start');
    }
    this.getStates();
    this.getCategories();
    this.getFRes();
  },
  methods: {
    ...mapActions('store', ['getCarts','getStates','getFRes','getCategories']),
    Goto(id,name){
      this.$router.push('/restaurant/'+id+'/'+name);
    },

    setCity(){
      this.$store.commit('store/setUserState', this.city);
      this.$store.commit('store/setUserCity', this.city);
      this.$store.commit('store/setUserCities', this.f_cities.cities);
      this.$router.push(`/`);
    },

    search(){
      this.$router.push(`/search/${this.text}`);
    },
},

  computed: {
    ...mapState('store', ['states']),
    cities(){
      return  this.states.filter(item => {
        return item.name === this.state
      });
    },
    f_cities(){
      return this.cities[0] || []
    },
    version(){
      return version;
    },
  }
}
</script>
<style lang="scss">

.scrolling-wrapper {

  &::-webkit-scrollbar {
    display: none;
  }
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
    margin-right: 10px;

    .q-img{
      border-radius: 10px;
    }
  }
  .card-advert {
    display: inline-block;
    margin-right: 20px;
  }
}
.home-advert-img {
  width: 250px;
  height: 120px;
  border-radius: 10px;
}
.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.home_new {
    background-image: url("../statics/images/bg1.jpeg");
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
}
</style>
