<template>
  <q-page class="flex flex-center">
    <div class="ro justify-center text-center">
      <div class="col-12">
        <img
          alt="Quasar logo"
          src="~assets/logo.png" height="100px" width="100px"
        >
      </div>
      <div class="col-12">
        <q-item-label class="text-weight-thin ">The best of food for you</q-item-label>
      </div>
      <div class="column" style="margin-top: 100px">
        <q-item-label class="text-bold">Hi</q-item-label>
        <q-btn to="/register" rounded class="q-mt-md" color="primary" label="New User" />
        <q-btn  to="/login" class="q-mt-md" outline rounded color="primary"  label="Existing User" />
        <q-btn  class="q-mt-md" to="/intro/1" color="primary" flat  label="Skip" />
      </div>
    </div>

  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
