<template>
  <div class="absolute-center">
    <img style="height: 200px"  src="~assets/loader-2_food.gif" />
<!--    <img style="height: 200px"  src="~assets/loading.png" />-->
  </div>
</template>

<script>
    export default {
        name: "Loading"
    }
</script>

<style scoped>

</style>
