<template>

  <q-page>
    <div class="bg-white justify-center" style="height: 85vh; width: 100vw">
      <div class="column">

        <input style="width: 100%" ref="autocomplete" v-model="address" id="autocomplete" placeholder="Search" />
        <q-btn @click="saveLocation" color="primary"  label="Save Address" />
      </div>

      <gmaps-map @mounted="ready">
        <gmaps-marker :position="markerPos" />
      </gmaps-map>

    </div>

    <q-dialog v-model="option">
      <AddAddress @saved="closeDialog" />
    </q-dialog>

  </q-page>
</template>

<script>

import AddAddress from 'components/AddAddress'
import { gmapsMap, gmapsMarker } from 'x5-gmaps'
import { LocalStorage } from 'quasar'
import {firebaseDb} from "boot/firebase";


export default {
  name: 'Map',
  components: { gmapsMap, gmapsMarker, AddAddress },
  data () {
    return {
      map: null,
      address : '',
      option:false,
      autocomplete: null,
      // autocomplete: null,
      // places: null,
      // map: null,
      markerPos: { lat: -27, lng: 153 },
      mapOptions: {
        center: { lat: -27.47, lng: 153.025 },
        zoom: 12,
      },
      places: null,
      markers: [],
      place: null,
    }
  },
  methods : {
    ready(map) {
      this.map = map
      this.$GMaps().then((maps) => {
        this.places = new maps.places.PlacesService(map)
        this.autocomplete = new maps.places.Autocomplete(this.$refs.autocomplete)
        this.autocomplete.addListener('place_changed', this.update)
      })
    },
    closeDialog () {
      this.option = false;
      this.$router.push(`/address`);
    },
    saveLocation(){
      let address = this.autocomplete.getPlace().formatted_address;
      this.address = address;
      LocalStorage.set("address", address);

      this.option = true

    },
    // update() {
    //   const place = this.autocomplete.getPlace()
    //   if (place.geometry) {
    //     this.map.panTo(place.geometry.location)
    //     this.markerPos = place.geometry.location
    //   }
    // }
  },

}
</script>

<style scoped lang="scss">
#autocomplete {
  border: 10px solid rgba(0, 60, 255, 0.329);
  font-size: 18px;
  height: 60px;
  //left: 40%;
  padding: 0 10px;
  //position: absolute;
  top: 0;
  //width: 20%;
  z-index: 1;
}
</style>
