<template>
  <q-page class="">
    <div class="absolute-center" v-show="loading">
      <img style="height: 200px"  src="~assets/loader-2_food.gif" />
    </div>


    <div class="" v-if="!loading">

      <div class="row q-pa-lg bg-primary">
        <div class="col-4">
          <q-item-label class="text-h5 text-white text-bold">Nearby</q-item-label>
        </div>
        <div class="col-8">
          <q-btn-dropdown
            class="float-right no-shadow"
            color="white"
            text-color="black"
            no-caps
            dense
            icon="location_on"
            :label="currentCity"
          >
            <q-list>
              <q-item  v-for="item in cities" :key="item" clickable v-close-popup @click="changeCity(item)">
                <q-item-section>
                  <q-item-label>{{  item }}</q-item-label>
                </q-item-section>
              </q-item>

              <q-item  clickable v-close-popup @click="changeState()">
                <q-item-section>
                  <q-item-label class="text-secondary">Change State</q-item-label>
                </q-item-section>
              </q-item>

            </q-list>
          </q-btn-dropdown>
        </div>
      </div>

      <div class=" max-botto  q-mb-xl " >


        <div v-if="restaurants.length > 0" class="ro bg-blue-grey-1">
<!--          <q-infinite-scroll @load="onLoad" :offset="250" >-->

            <q-list padding class="row res_list full-width">
                <q-item :key="res.url" v-for="res in restaurants" @click="Goto(res)" clickable class="bg-white res_item shadow-4 full-width col-12 text-black q-mt-sm q-pl-md">
                  <q-item-section>
                    <div class="res_img">
                      <q-img style="width:100%; height:100%" class="full-height" :src="res.img" />
                    </div>
                  </q-item-section>


                  <q-item-section>
                    <q-item-label class="text-black text-capitalize text-bold q-pt-sm">{{ res.name }}</q-item-label>
                    <q-item-label lines="1" v-if="res.type" class="text-black text-capitalize text-bold">[{{ res.type }}]</q-item-label>
                    <q-item-label lines="2" class="text-weight-light q-mb-md text-black">[{{ res.address }}]</q-item-label>
                    <q-rating class="q-pb-md"
                              v-model="res.ratings"
                              size=""
                              color="red"
                              readonly
                    />
                  </q-item-section>

<!--                  <q-item-section side top>-->
<!--                    <q-icon name="bookmark_border" size="1.8em" />-->
<!--&lt;!&ndash;                    <q-item-label>3.4km</q-item-label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <q-badge>Free Delivery</q-badge>&ndash;&gt;-->
<!--                    <q-item-label class="text-weight-light q-mb-md q-mt-sm text-black">[{{ res.delivery_time ? res.delivery_time : '30' }} min]</q-item-label>-->
<!--                  </q-item-section>-->

                </q-item>
<!--                <q-separator spaced inset="item" />-->
<!--              </div>-->
            </q-list>

<!--            <template v-if="!all_loaded" v-slot:loading>-->
<!--              <div class="row justify-center q-my-md">-->
<!--                <q-spinner-dots color="primary" size="40px" />-->
<!--              </div>-->
<!--            </template>-->

<!--          </q-infinite-scroll>-->
        </div>
        <div v-else class="row">
          <div v-if="!searching" class="column items-center col-md-12">
            <div class="row absolute-center q-mb-xl q-mt-md justify-around">
              <q-item-label class=" text-center">{{ result }}</q-item-label>
            </div>
          </div>
        </div>
      </div>


    </div>

  </q-page>
</template>

<script>
import {mapActions, mapState} from 'vuex'
import { firebaseDb } from 'boot/firebase'
import { LocalStorage } from 'quasar'

export default {
  name: 'PageNearby',
  data() {
    return {
      text: '',
      tab: 'All',
      loading:false,
      searching:false,
      all_loaded:true,
      page:2,
      result:'No result for now, search other cities',
      title:'Pick Your Favourites',
    }
  },
  mounted() {
    this.getCategories();
    this.getRes();
    if(LocalStorage.getItem('address') === null){
      if(this.currentUser){
        if(this.currentUser.addresses){
          LocalStorage.set("address", this.currentUser.addresses[0].address);
        }else{
          this.$q.notify({
            message: 'Please set up your address',
            color: 'negative'
          });
          this.$router.push('/map');
        }
      }else{
        this.$q.notify({
          message: 'Please set up your address',
          color: 'negative'
        });
        this.$router.push('/map');
      }
    }
    if(LocalStorage.getItem('cities') === null){
      this.$q.notify({
        message: 'Please set up your current state',
        color: 'negative'
      });
      this.$router.push('/home');
    }
  },
  methods : {
    ...mapActions('store', ['getCategories','getRestaurants']),
    changeCity(city){
      this.$store.commit('store/setUserCity', city);
      this.getRestaurants();
    },
    changeState(){
      this.$router.push('/home');
    },
    getRes() {
      let res = [];
      this.loading = true;
      firebaseDb.collection("restaurants").where('city', '==', this.currentCity).get().then
      ((query) => {
        this.loading = false;
        query.forEach((doc) => {
          let item = {}
          item.id = doc.id;
          item.name = doc.data().name;
          item.img = doc.data().img;
          item.address = doc.data().address;
          item.type = doc.data().type;
          item.open_at = doc.data().open_at ?? 7;
          item.close_at = doc.data().close_at ?? 17;
          item.ratings = doc.data().ratings;
          res.push(item);
        });
        this.$store.commit("store/updateRestaurants",res)
      });
    },
    searchByType(item){
      this.tab = item.name;
      this.searching = true;
      this.result = 'No result found for,'+item.name+' category, search other categories';
      this.title = item.name +' results';
      this.$axios.get('/food/type/'+item.slug).then((response) => {
        this.all_foods = response.data.data;
        this.searching = false;
      })
    },
    goto(slug){
      this.$router.push(slug);
    },
    all(){
      this.all_foods = this.foods;
      this.title = 'All Meals'
      this.tab = "All";
    },
    Goto(item){
      this.$store.commit('store/setResItem', item);
      this.$router.push('/restaurant/'+item.id+'/'+item.name);
    },
    searchByInput(){
      this.searching = true;
      this.title = 'Search results for '+this.text;
      this.result = 'No result found for keyword ,'+this.text +' search by categories rather';
      this.$axios.post('/foods/search',{ key: this.text }).then((resp) => {
        this.all_foods = resp.data.data;
        this.searching = false;
      })
    }
  },
  computed : {
    ...mapState('store', ['restaurants','categories','currentUser','currentCity','currentState','cities']),
  },

}
</script>

<style lang="scss">
.res_list {
  padding-left: 15px; padding-right: 10px
}

.res_item {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  padding-right: 10px!important
}
.res_img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.res_img {
  height: 120px!important;
  max-width: 200px!important;
}
</style>
