<template>
<q-page class="bg-white q-pa-md">

  <div class="col q-mb-md">
    <q-btn class="no-border-radius full-width" color="primary">
      <q-icon left size="3em" name="account_balance_wallet" />
      <div>Bal ..</div>
      <div>NGN {{ formatPrice(currentUser.balance) }}</div>
    </q-btn>
  </div>

  <q-select
    outlined
    label-color="red"
    class="text-bold"
    v-model="payment_method"
    :options="paymentOptions"
    label="Select Payment Method"
    style="width:100%"
  />

  <template  v-if="payment_method === 'Online Payment'">
    <q-card flat bordered class="q-mt-md q-mb-md no-border-radius">
      <q-item>
        <q-item-section>
          <q-item-label class="text-bold q-pt-sm">
            Total : <span class="text-red text-bold float-right"> {{ formatPrice(amount) }}</span>
          </q-item-label>
          <q-item-label class="text-bold q-pt-sm">
            Payment Status : <span class="text-red text-bold float-right">{{ new_order.paid ? 'Paid' : 'Unpaid' }}</span>
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-card>

    <q-btn label="Make Payment" @click="makePayment" color="secondary" class="full-width" />

  </template>

  <template v-else>
    <q-card flat bordered class="q-mt-md q-mb-md no-border-radius">
      <q-item>
        <q-item-section>
          <q-item-label class="text-bold q-pt-sm">
            Grand Total : <span class="text-red text-bold float-right"> {{ formatPrice(amount) }}</span>
          </q-item-label>
          <q-item-label class="text-bold q-pt-sm">
            Payment Status : <span class="text-red text-bold float-right">{{ new_order.paid ? 'Paid' : 'Unpaid' }}</span>
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-card>

    <q-btn v-if="currentUser.balance > amount" label="Pay Via E-wallet" @click="walletPayment" color="secondary" class="full-width" />
    <q-btn v-else label="Fund Wallet" to="/fund/wallet" color="secondary" class="full-width" />

  </template>

<!--  <q-btn color="primary" label="order" @click.stop="orderNow()" />-->

</q-page>
</template>

<script>
import {mapState} from "vuex";


import { firebaseDb } from 'boot/firebase'
// import {LocalStorage} from "quasar";

export default {
name: "Payment",
  data(){
  return {
    bankDetails:false,
    showPayment:false,
    // order: LocalStorage.getItem('order'),
    paymentOptions:['Online Payment','Wallet Payment'],
    showAdd:true,
    tab: 'address',
    payment_method:'Online Payment',
  }
  },
  methods: {
  // orderNow(){
  //   this.$axios.post('order/new', this.order).then((response) => {});
  // },
    makePayment() {
      if(!this.order_id){
        this.$router.push('/orders');
      }else {
        let vm = this;
        this.$launchFlutterwave({
          tx_ref: Date.now(),
          amount: parseInt(parseFloat(this.amount)),
          currency: 'NGN',
          payment_options: 'card,mobilemoney,ussd',
          customer: {
            email: this.currentUser.email,
            phonenumber: this.currentUser.phone,
            name: this.currentUser.name
          },
          callback: function (data) {
            vm.paymentDone();
          },
          customizations: {
            title: 'Order Payment',
            description: 'ProKitchen Order Payment',
          }
        })
      }
    },

    copyAccount(text){
      copyToClipboard(text)
        .then(() => {
          this.$q.notify({
            message: text +' copied to clipboard',
            color: 'info'
          })
        })
        .catch(() => {
          // fail
        })
    },
    showBank(){
      this.bankDetails = true;
      this.showPayment = true
    },
    walletPayment(){
      if(!this.order_id){
        this.$router.push('/orders');
      }else {
        this.$q.loading.show();
        console.log(this.currentUser.userId);
        firebaseDb.collection('users').doc(this.currentUser.userId).set({
          balance: parseInt(this.currentUser.balance) - parseInt(this.amount)
        }, { merge: true });

        this.currentUser.balance = parseInt(this.currentUser.balance) - parseInt(this.amount);
        this.$store.commit('store/setUserDetail', this.currentUser);
        this.$q.loading.hide();
        this.paymentDone();
      }
    },
    paymentDone(){
      console.log(this.order_id)
      this.$q.loading.show({
        message: 'Confirming order <b>process</b> is in progress.<br/><span class="text-primary">Hang on...</span>'
      });

      firebaseDb.collection('orders').doc(this.order_id).set({
        paid: true
      }, { merge: true });
      this.$q.notify({
        message: 'Order successfully paid for',
        color: 'info'
      });

      this.$q.loading.hide();

      this.$router.push('/orders');
    },
    callback: function(response){
      if(response.status === 'success'){
        this.paymentDone();
      }else {
        this.$q.notify({
          message: response.message,
          color: 'red',
        });
      }
    },
    close: function(){
      console.log("Payment closed")
    },
    formatPrice(value) {
      let val = (value/1).toFixed(2).replace('.', '.')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    },
    // service_charge(){
    //   return this.total_fee - parseInt(this.amount);
    //   // return this.format_money(this.total_fee - parseInt(this.amount));
    // },
  },
  computed : {
    ...mapState('store', ['currentUser','new_order']),

    amount(){
      return parseFloat(this.new_order.grand_total);
    },

    order_id() {
        return this.new_order.order_id;
    },

    reference(){
      let text = "";
      let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for( let i=0; i < 10; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    }
  }
}
</script>

<style scoped lang="scss">
.payButton{
background: var(--q-color-primary) !important;
  border-radius: 10px;
  padding: 8px;
  color: white;
}
</style>
