<template>
  <q-page class="bg-blue-grey-1">


    <div class="row justify-center " style="max-width: 400px; margin: 10px auto">
      <template v-for="item in cards">
      <q-item class="bg-white full-width  q-pa-lg " clickable to="/edit-profile" v-ripple>
        <q-item-section top thumbnail>
          <q-avatar size="50px" rounded >
            <img :src="currentUser.gravatar">
          </q-avatar>
        </q-item-section>
        <q-item-section>
          <q-item-label>{{  item.card }}</q-item-label>
          <q-item-label>{{  item.date }}</q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-icon name="keyboard_arrow_right" />
        </q-item-section>
      </q-item>
      <q-separator />
      </template>
    </div>

    <div class="row justify-center " style="max-width: 400px; margin: 0 auto">



      <q-item-label class="text-h6 text-weight-thin q-pa-lg">Add Payment Methods</q-item-label>

      <q-form @submit="submitForm" class="full-width bg-white q-pa-lg">
        <q-input
          outlined
          class=""
          v-model="formData.name"
          :error="has_error && errors.name ? true : false"
          label="Full Name">
          <template  v-slot:append>
            <q-icon v-show="formData.name.length > 0" name="cancel" @click.stop="formData.name = ''" class="cursor-pointer" />
          </template>
          <template v-slot:error>
            {{ errors.name[0] }}
          </template>
        </q-input>


        <q-input
          v-model="formData.phone"
          outlined
          type="text"
          class="q-mb-md"
          label="CVV" />


        <div class="row full-width">
          <q-space />
          <q-btn class="col" rounded
                 :loading="loading"
                 color="primary"
                 type="submit"
                 label="Add Card" />
        </div>


      </q-form>


    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: "PageProfileEdit",
  data() {
    return {
      formData: {
        name: 'name',
        phone: '0812..',
        login:'',
        password_confirmation: '',
        email: 'example@gmail.com',
        password: ''
      },
      errors:{},
      has_error: false,
    }
  },
  methods:{
    logout() {
      // this.$store.commit('store/logout');
      this.$router.push('/auth');
    },
    submitForm() {
      this.loading = true;
      this.errors = {};
      this.has_error = false;
      this.$q.loading.show();
      this.loading = false;
      // this.registerUser(this.formData)
      this.$axios.post('auth/register', this.formData)
        .then((response) => {
          this.$store.commit("store/regSuccess", 'Registration successful, pls login to continue');
          // this.$router.push('/auth/');
          this.successStep();
          this.$q.loading.hide();
        })
        .catch(error => {
          this.loading = false;
          this.$q.loading.hide();
          this.errors = error.response.data.errors;
          console.log(this.errors)
          this.has_error = true;
        })

    },

  },
  computed : {
    ...mapState('store', ['currentUser','cards']),
  }
}
</script>

<style lang="scss">
.account-head-new{
  z-index: 5;
}
.p-card {
  margin: 15px;
  border-radius: 10px;
}

</style>
