<template>

  <q-page class="bg-blue-grey-">
    <div class="">
      <q-list bordered separator style="" class="text-black">
        <q-item class="bg-whit q-pa-md q-pl-lg " clickable to="/edit-profile" v-ripple>
          <q-item-section top thumbnail>
            <q-avatar size="70px" rounded >
              <q-img :src="currentUser.avatar" />
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-capitalize">{{  currentUser.name }}</q-item-label>
            <q-item-label>{{  currentUser.city }}</q-item-label>
            <q-item-label v-if="currentUser.referred_by">Referred By <span class="text-bold"> {{  currentUser.referred_by }}</span></q-item-label>

<!--            <q-item-label>{{  currentUser.phone }}</q-item-label>-->
          </q-item-section>

          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>

        <div class="bg-white p-card">
          <q-item v-ripple clickable @click="copy(getCode(currentUser.email))">
            <q-item-section>Referral Code </q-item-section>
            <q-item-section class="text-secondary">{{ getCode(currentUser.email) }}</q-item-section>
            <q-item-section side>
              <q-icon name="content_copy" />
            </q-item-section>
          </q-item>
        </div>


<!--        <template v-if="!currentUser.is_admin && !currentUser.is_res">-->
        <div class="bg-white p-card">
          <q-item clickable to="/address" v-ripple>
            <q-item-section side><q-icon color="" name="location_on" /></q-item-section>
            <q-item-section>Address</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
<!--          <q-item clickable to="/book-food" v-ripple>-->
<!--            <q-item-section side><q-icon color="" name="receipt_long" /></q-item-section>-->
<!--            <q-item-section>My Vouchers</q-item-section>-->
<!--            <q-item-section side>-->
<!--              <q-icon name="keyboard_arrow_right" />-->
<!--            </q-item-section>-->
<!--          </q-item>-->
          <q-item to="/wallet" clickable v-ripple>
            <q-item-section side><q-icon color="" name="account_balance" /></q-item-section>
            <q-item-section>My Wallet</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>

          <q-item clickable to="/orders" v-ripple>
            <q-item-section side><q-icon color="black" name="list_alt" /></q-item-section>
            <q-item-section>My Orders</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>


          <q-item to="/fund/wallet" clickable v-ripple>
            <q-item-section side><q-icon color="" name="payment" /></q-item-section>
            <q-item-section>Fund Wallet</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
          <q-item to="/edit-profile" clickable v-ripple>
            <q-item-section side><q-icon color="" name="assignment_ind" /></q-item-section>
            <q-item-section>Edit Profile </q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
<!--          <q-item to="/quotations" clickable v-ripple>-->
<!--            <q-item-section side><q-icon color="" name="format_quote" /></q-item-section>-->
<!--            <q-item-section>Quotations</q-item-section>-->
<!--            <q-item-section side>-->
<!--              <q-icon name="keyboard_arrow_right" />-->
<!--            </q-item-section>-->
<!--          </q-item>-->

        </div>
<!--        </template>-->

<!--        <template v-if="!currentUser.is_admin || !currentUser.is_res">-->
          <div class="bg-white p-card" v-if="currentUser.is_res">
<!--            <q-item clickable to="#" v-ripple>-->
<!--              <q-item-section side><q-icon color="black" name="format_quote" /></q-item-section>-->
<!--              <q-item-section>Manager Quotations</q-item-section>-->
<!--              <q-item-section side>-->
<!--                <q-icon name="keyboard_arrow_right" />-->
<!--              </q-item-section>-->
<!--            </q-item>-->
            <q-item clickable to="/res/orders" v-ripple>
              <q-item-section side><q-icon color="black" name="list_alt" /></q-item-section>
              <q-item-section>Manage Orders</q-item-section>
              <q-item-section side>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>
            </q-item>
            <q-item clickable to="/res/list_foods" v-ripple>
              <q-item-section side><q-icon color="black" name="kitchen" /></q-item-section>
              <q-item-section>Manage Foods</q-item-section>
              <q-item-section side>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>
            </q-item>
<!--            <q-item clickable to="#" v-ripple>-->
<!--              <q-item-section side><q-icon color="black" name="receipt_long" /></q-item-section>-->
<!--              <q-item-section>Manage Vouchers</q-item-section>-->
<!--              <q-item-section side>-->
<!--                <q-icon name="keyboard_arrow_right" />-->
<!--              </q-item-section>-->
<!--            </q-item>-->
<!--            <q-item clickable to="/favourites" v-ripple>-->
<!--              <q-item-section side><q-icon color="black" name="bookmark_border" /></q-item-section>-->
<!--              <q-item-section>Favourites</q-item-section>-->
<!--              <q-item-section side>-->
<!--                <q-icon name="keyboard_arrow_right" />-->
<!--              </q-item-section>-->
<!--            </q-item>-->
          </div>




          <div class="bg-white p-card" v-if="currentUser.is_admin || currentUser.user_type == 'manager'">

            <q-item to="/admin/orders" clickable v-ripple>
              <q-item-section side><q-icon color="black" name="list_alt" /></q-item-section>
              <q-item-section>Manage Order</q-item-section>
              <q-item-section side>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>
            </q-item>
            <q-item clickable to="/admin/restaurants/list" v-ripple>
              <q-item-section side><q-icon color="black" name="kitchen" /></q-item-section>
              <q-item-section>Manage Restaurant</q-item-section>
              <q-item-section side>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>
            </q-item>
            <q-item to="/admin/categories" clickable v-ripple>
              <q-item-section side><q-icon color="black" name="add_box" /></q-item-section>
              <q-item-section>Manage Categories</q-item-section>
              <q-item-section side>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>
            </q-item>
            <q-item to="/admin/res_categories" clickable v-ripple>
              <q-item-section side><q-icon color="black" name="add_box" /></q-item-section>
              <q-item-section>Manage Res Categories</q-item-section>
              <q-item-section side>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>
            </q-item>

            <q-item to="/admin/users" clickable v-ripple>
              <q-item-section side><q-icon color="black" name="contact_page" /></q-item-section>
              <q-item-section>Manage Users</q-item-section>
              <q-item-section side>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>
            </q-item>
            <q-item to="/admin/users/export" clickable v-ripple>
              <q-item-section side><q-icon color="black" name="contact_page" /></q-item-section>
              <q-item-section>Export Users</q-item-section>
              <q-item-section side>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>
            </q-item>

<!--            <q-item to="/admin/food/list" clickable v-ripple>-->
<!--              <q-item-section side><q-icon color="black" name="food_bank" /></q-item-section>-->
<!--              <q-item-section>Manage Foods</q-item-section>-->
<!--              <q-item-section side>-->
<!--                <q-icon name="keyboard_arrow_right" />-->
<!--              </q-item-section>-->
<!--            </q-item>-->
<!--            <q-item to="/admin/create/restaurant" clickable v-ripple>-->
<!--              <q-item-section side><q-icon color="black" name="language" /></q-item-section>-->
<!--              <q-item-section>Setting</q-item-section>-->
<!--              <q-item-section side>-->
<!--                <q-icon name="keyboard_arrow_right" />-->
<!--              </q-item-section>-->
<!--            </q-item>-->
          </div>

          <div class="bg-white p-card" v-if="currentUser.is_admin || currentUser.user_type == 'manager'">
            <q-item to="/admin/create/user" clickable v-ripple>
              <q-item-section side><q-icon color="black" name="notification_important" /></q-item-section>
              <q-item-section>Create User Account</q-item-section>
              <q-item-section side>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>
            </q-item>


            <q-item to="/admin/create/restaurant" clickable v-ripple>
              <q-item-section side><q-icon color="black" name="language" /></q-item-section>
              <q-item-section>Create Restaurant Account</q-item-section>
              <q-item-section side>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>
            </q-item>
<!--            <q-item to="/" clickable v-ripple>-->
<!--              <q-item-section side><q-icon color="black" name="settings" /></q-item-section>-->
<!--              <q-item-section>Settings</q-item-section>-->
<!--              <q-item-section side>-->
<!--                <q-icon name="keyboard_arrow_right" />-->
<!--              </q-item-section>-->
<!--            </q-item>-->

<!--            <q-item to="/" clickable v-ripple>-->
<!--              <q-item-section side><q-icon color="black" name="live_help" /></q-item-section>-->
<!--              <q-item-section>Support </q-item-section>-->
<!--              <q-item-section side>-->
<!--                <q-icon name="keyboard_arrow_right" />-->
<!--              </q-item-section>-->
<!--            </q-item>-->

          </div>


          <div class="bg-white p-card" v-if="currentUser.is_res">

            <q-item to="/res/create/food" clickable v-ripple>
              <q-item-section side><q-icon color="black" name="add_box" /></q-item-section>
              <q-item-section>Add Food</q-item-section>
              <q-item-section side>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>
            </q-item>

            <q-item to="/res/edit" clickable v-ripple>
              <q-item-section side><q-icon color="black" name="edit" /></q-item-section>
              <q-item-section>Edit Restaurant</q-item-section>
              <q-item-section side>
                <q-icon name="keyboard_arrow_right" />
              </q-item-section>
            </q-item>
          </div>

<!--          <div class="bg-white p-card" v-if="currentUser.is_res">-->

<!--            <q-item to="/res/create/food" clickable v-ripple>-->
<!--              <q-item-section side><q-icon color="black" name="add_box" /></q-item-section>-->
<!--              <q-item-section>Edit Restaurant</q-item-section>-->
<!--              <q-item-section side>-->
<!--                <q-icon name="keyboard_arrow_right" />-->
<!--              </q-item-section>-->
<!--            </q-item>-->

<!--          </div>-->

<!--        </template>-->



        <div class="bg-white p-card">
          <q-item @click="link('https://afiaanyi.com/search?category=wine')"  clickable v-ripple>
            <q-item-section side><q-icon color="black" name="wine_bar" /></q-item-section>
            <q-item-section>Wine Shop</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
          <q-item @click="link('https://afiaanyi.com/')" clickable v-ripple>
            <q-item-section side><q-icon color="black" name="storefront" /></q-item-section>
            <q-item-section>Afiaanyi Online Store </q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
        </div>

        <div class="bg-white p-card">

          <q-item to="/share" clickable v-ripple>
            <q-item-section side><q-icon color="black" name="verified_user" /></q-item-section>
            <q-item-section>Invite Friends</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
          <q-item @click="liveChat()" clickable v-ripple>
            <q-item-section side><q-icon color="black" name="live_help" /></q-item-section>
            <q-item-section>Support </q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
          <q-item @click="contact = true" clickable v-ripple>
            <q-item-section side><q-icon color="black" name="contact_support" /></q-item-section>
            <q-item-section>Contact Us </q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
          <q-item @click="about = true" clickable v-ripple>
            <q-item-section side><q-icon color="black" name="help_outline" /></q-item-section>
            <q-item-section>About Us </q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
        </div>

        <div class="bg-white p-card" style="margin-bottom: 70px">
        <q-item @click="logout()" clickable v-ripple class="text-center">
          <q-item-section class="text-negative text-bold">Log Out</q-item-section>
        </q-item>
        </div>
      </q-list>
    </div>

    <q-dialog  v-model="about">
      <q-card bordered class="column " style="width: 500px; border-radius: 10px">
        <q-card-section>
          <div class="text-h6">About Prokitchen.ng</div>
        </q-card-section>

        <q-separator />

        <q-card-section class="col">
          <q-item-label class="text-justify text-space text-weight-light">
            Launched in 2020, prokitchen.ng is the platform for home errands and food delivery services by different restaurants.</q-item-label>
          <q-item-label class="text-h6 q-mt-md">Our Mission</q-item-label>
          <q-item-label class="text-justify text-space text-weight-light">
            As part of the Afiaanyi Services Limited, our mission is to make it easier by delivering office breakfast and lunch from personal choice of restaurant anywhere. We do this by giving restaurants the tools necessary
            to reach a global audience for their food, and by helping our users get foods from restaurants anywhere quickly, efficiently and cheaper.
          </q-item-label>

        </q-card-section>
        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="" icon="close" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog  v-model="contact">
      <q-card bordered class="column " style="width: 500px; border-radius: 10px">
        <q-card-section>
          <div class="text-h6">Contact Details</div>
        </q-card-section>

        <q-separator />

        <q-card-section class="col">
          <q-item-label class="text-secondary"><span class="text-bold"> Phone </span>: 09053000058 - 9</q-item-label>
          <q-item-label class="text-secondary"><span class="text-bold">Email :</span> hello@prokitchen.ng</q-item-label>
          <q-item-label class="text-justify text-space text-weight-light q-pt-md">
            <span class="text-bold">Address </span> : Suite 8 Ocean Center Plot 1018, Cadastral Zone B18, Off Oladipo Diya Road, Gudu District, Abuja
            </q-item-label>

        </q-card-section>
        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="" icon="close" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import {copyToClipboard, openURL} from 'quasar'
export default {
  name: "PageProfile",
  data(){
    return {
      about:false,
      contact:false,

    }
  },
  methods:{
    logout() {
      this.$store.commit('store/logout');
      // this.$router.push('/login');
    },
    getCode(id){
        let hash = 0, len = id.length;
        for (let i = 0; i < len; i++) {
          hash  = ((hash << 5) - hash) + id.charCodeAt(i);
          hash |= 0; // to 32bit integer
        }
        return Math.abs(hash);
    },
    liveChat(){
      // this.$router.push('/livechat');
      openURL('https://tawk.to/chat/5d9b38e16c1dde20ed056a26/default')
    },
    copy(text){
      copyToClipboard(text).then(() => {
        this.$q.notify({
          message: text +  ' successfully copied to clipboard',
          color: 'info'
        });
      })
    },
    link(link){
      // this.$router.push('/livechat');
      openURL(link)
    }
  },
  computed : {
    ...mapState('store', ['currentUser','currentRes']),
  }
}
</script>

<style lang="scss">
.account-head-new{
  z-index: 5;
}
.p-card {
  margin: 15px;
  border-radius: 10px;
}

.text-space {
  line-height: 1.6!important;
}

</style>
