<template>
  <q-page class="">

    <q-page-scroller id="nav" expand position="top" :scroll-offset="150" class="" :offset="[0, 0]" style="z-index: 1">
      <div class="absolute- bg-white justify-around  " style="width: 100vw">
        <q-tabs
          v-model="tab"
          active-color="primary"
          inline-label
          no-caps
          class="text-text text-bold shado"
        >
          <!--              <q-tab class=" text-bold" v-for="(items, category, index) in sortedFoods" :key="category" @click="toggle(index)" :name="category"  :label="category" />-->

          <q-btn size="1.3em" :flat="!(isOpenIndex === index)" color="secondary" v-for="(items, category, index) in sortedFoods" @click="toggle(index)" :key="category" :label="category" />

        </q-tabs>



        <q-separator />

      </div>
    </q-page-scroller>

    <div class="absolute-center" v-show="loading">
      <img style="height: 200px"  src="~assets/loader-2_food.gif" />
    </div>


    <div class="column" v-if="!loading">

      <q-parallax class="p-height" :height="270" :speed="0.5">


        <template v-slot:media>
<!--          <img :src="$url+'/images/banner.png'" />-->
          <img class="dim_img" :src="restaurant.img" />

        </template>

        <q-btn
          class="absolute-top-left text-white text-bold"
          v-go-back.single
          color="white"
          icon="arrow_back"
          flat
          size="1.3em"
          dense
          label="" />

        <q-btn
          class="absolute-top-right text-white text-bold"
          color="white"
          icon="bookmark_border"
          flat
          style="margin-right: 40px!important;"
          size="1.3em"
          dense
          label="" />

        <q-btn
          class="absolute-top-right text-white text-bold"
          color="white"
          icon="more_horiz"
          flat
          size="1.3em"
          dense
          label="" />

        <div class="row q-pa-sm">
          <div class="col-12">
            <q-item-label style="font-size: 2.0em" class="text-white text-capitalize bg-text">{{ restaurant.name }}</q-item-label>
<!--            <q-item-label v-if="restaurant.type" style="font-size: 1.5em" class="text-white text-capitalize">{{ restaurant.type }}</q-item-label>-->
          </div>
          <div class="col-12">
            <q-item-label class="text-white bg-text q-mt-sm text-bold">
              <q-icon size="19px" name="location_on" />
              {{ restaurant.address }}</q-item-label>

            <q-item-label class="text-white bg-text q-mt-md text-bold">
            <q-rating v-model="stars" :max="1" size="19px" />
              {{  restaurant.ratings }} (123 Reviews)
            </q-item-label>

            <q-btn class="float-right" :to="'/book/result/' + restaurant.id" label="Food Diet" color="primary" />
<!--            <q-btn class="float-right" :to="'/book-food/' + restaurant.id" label="Food Diet" color="primary" />-->

          </div>

        </div>

        <div class="absolute-bottom bg-white justify-around home-tab">
          <q-tabs
            style="width: 100vw;"
            v-model="tab"
            inline-label
            no-caps
            class="text-primary text-bold shadow-2"
          >
            <q-tab  @click="FoodAll()" name="Food"  label="Menu" />
            <q-tab  @click="Review()" name="Review"  label="Review" />
            <q-tab  @click="Information()" name="Information"  label="Information" />

          </q-tabs>
          <q-separator />

        </div>
      </q-parallax>
      <div class="q-mb-xs q-ml-sm" style="margin-bottom: 100px" v-if="tab === 'Food'">
        <div v-if="!loading && foods.length > 3" class="bg-gray">
          <div class="row q-pt-md q-mb-md q-mr-sm">
            <div class="col-6">
              <q-item-label style="font-size: 1.2em" class="">
                Popular Items
              </q-item-label>
            </div>
<!--            <div class="col-6 float-right">-->
<!--              <q-item-label  style="font-size: 1.2em" class="float-right text-warning text-bold">-->
<!--                See all-->
<!--              </q-item-label>-->
<!--            </div>-->
          </div>

          <div class="row q-col-gutter-sm">
            <div v-for="item in foods.slice(0,4)"  class="col-3 col-sm-3">
<!--              <Food :key="'fd'+item.id" :food="item" />-->
              <FoodItem :key="'fd'+item.id" :small="true" :food="item" />

            </div>
          </div>
        </div>

        <q-separator />
        <div v-if="searching" class="column items-center col-md-12">
          <div class="q-ma-lg">
            <q-item-label>
              Searching <q-spinner-dots
              color="primary"
              size="2em"
            />
            </q-item-label>
          </div>
        </div>



        <div v-if="!searching && foods.length > 0" class="section">


<!--          <q-page-sticky  expand position="top"  :offset="[18, 18]" style="z-index: 3">-->

<!--          </q-page-sticky>-->

          <div v-if="foods.length > 0" class="">


            <div v-for="(items, category, index) in sortedFoods">

              <div class="row q-pt-md q-mr-sm">
                <div class="col-10">
                  <q-item-label style="font-size: 1.2em" class="text-bold text-secondary">
                    {{ category }} ({{items.length}} items)
                  </q-item-label>
                </div>
                <div class="col-2 float-right">
                  <q-item-label  style="font-size: 1.2em" class="float-right text-warning text-bold">
<!--                    See all-->
                    <q-btn flat color="secondary" @click="toggle(index)" :icon="isOpenIndex === index ? 'expand_more' : 'expand_less'" />

                  </q-item-label>
                </div>
              </div>

            <q-separator />

              <q-list padding class="row" v-show="isOpenIndex === index">
                <div
                  class="col-xs-12 col-md-6 q-mb-md full-width vertical-middle"
                  v-for="item in items"
                  :key="item.url"
                  @click="itemSelected = item"
                >

                  <FoodItem :is_res=true :key="item.id" :food="item" />
                  <q-separator />
                </div>
              </q-list>
            </div>
          </div>
          <div v-else class="row">
            <div v-if="!searching" class="column items-center col-md-12">
              <div class="row q-mb-xl justify-around">
                <q-item-label class="q-mt-md text-center">{{ result }}</q-item-label>
              </div>
            </div>
          </div>
        </div>

        <div v-if="!searching && foods.length < 1">
          <div class="row">
            <q-item-label class="text-center absolute-center">{{ loadingT}}</q-item-label>
          </div>
        </div>

        <div v-if="loading" class="column items-center col-md-12">
          <div class="q-ma-lg">
            <q-item-label>
              Loading <q-spinner-dots
              color="primary"
              size="2em"
            />
            </q-item-label>
          </div>
        </div>



      </div>
      <div class="q-mb-xs q-ml-sm" v-if="tab === 'Review'">
        <div class="row q-pt-md q-mb-md q-mr-sm">
          <div class="col-6">
            <q-item-label style="font-size: 1.2em" class="text-bold">
              Photos & Videos
            </q-item-label>
          </div>
          <div class="col-6 float-right">
            <q-item-label  style="font-size: 1.2em" class="float-right text-warning text-bold">
              View all
            </q-item-label>
          </div>
        </div>

        <div class=" q-mb-sm " style="max-width: 97vw">
          <div class="scrolling-wrapper">

            <div v-for="item in foods.slice(0,4)" :key="item.id" class="col-m-4 card col-6">
              <q-img
                :src="item.img"
                style="width: 80px"
                :ratio="1"
                basic
                spinner-color="white"
                class=""
              >
              </q-img>
            </div>
          </div>
        </div>

<!--        <div class="row q-mt-md">-->
<!--          <div class="col-2">-->
<!--            <q-item-label class="text-bol text-weight-medium text-h6">Rate</q-item-label>-->
<!--          </div>-->
<!--          <div class="col-8">-->
<!--            <q-img src="~assets/rating.png" />-->
<!--          </div>-->
<!--        </div>-->

<!--        <q-separator class="q-mt-md" color="gray-6" />-->

<!--        <q-list style="max-width: 350px">-->
<!--        <q-item clickable v-ripple>-->
<!--          <q-item-section avatar>-->
<!--            <q-avatar rounded>-->
<!--              <img src="https://cdn.quasar.dev/img/avatar2.jpg">-->
<!--            </q-avatar>-->
<!--          </q-item-section>-->

<!--          <q-item-section>-->
<!--            <q-item-label class="text-weight-medium" lines="1">Janet John</q-item-label>-->
<!--            <q-item-label caption lines="2">-->
<!--              <q-rating color="warning" v-model="star" :max="5" />-->
<!--            </q-item-label>-->
<!--          </q-item-section>-->

<!--          <q-item-section side top>-->
<!--            Yesterday 10:20AM-->
<!--          </q-item-section>-->
<!--        </q-item>-->

<!--        <q-separator />-->

<!--        <q-item clickable v-ripple>-->
<!--          <q-item-section avatar>-->
<!--            <q-avatar rounded>-->
<!--              <img src="https://cdn.quasar.dev/img/avatar4.jpg">-->
<!--            </q-avatar>-->
<!--          </q-item-section>-->

<!--          <q-item-section>-->
<!--            <q-item-label class="text-weight-medium" lines="1">Emmanual Joseph</q-item-label>-->
<!--            <q-item-label caption lines="2">-->
<!--              <q-rating color="warning" v-model="star" :max="5" />-->
<!--            </q-item-label>-->
<!--          </q-item-section>-->

<!--          <q-item-section side top>-->
<!--            Yesterday 10:20AM-->
<!--          </q-item-section>-->
<!--        </q-item>-->
<!--        </q-list>-->


      </div>
      <div class="q-mb-xs q-ml-sm" v-if="tab === 'Information'">
        <div class="q-pa-md">
<!--          <q-item-label class="text-bold text-h6">Information</q-item-label>-->
<!--          <q-item-label class="res_info">-->
<!--            {{ restaurant.description }}-->
<!--          </q-item-label>-->

          <q-item-label class="q-pt-lg q-pb-sm text-h6 text-bol">Address</q-item-label>

          <q-item-label>{{ restaurant.address }}</q-item-label>

        </div>
      </div>
      <q-dialog v-model="card">
        <q-card class="my-card" style="min-width: 90vw">
          <q-img :src="restaurant.img" />

          <q-card-section>
            <q-btn
              fab
              color="primary"
              icon="place"
              class="absolute"
              style="top: 0; right: 12px; transform: translateY(-50%);"
            />

            <div class="row no-wra items-center">
              <div class="col text-h6 ellipsis text-capitalize">
                {{ item.name }}
              </div>

              <div class="col-auto text-grey text-caption q-pt-md row no-wrap items-center">
                <q-icon name="place" />
                <span class="text-uppercase"> {{ item.city }}</span>
              </div>
            </div>

            <q-rating v-model="stars" :max="5" size="32px" />
          </q-card-section>

          <q-card-section class="q-pt-none q-pr-lg">
            <div class="text-subtitle1">
              {{ restaurant.info }}
            </div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div class="text-subtitle1">
              <span class="text-bold">Slogan :</span> {{ restaurant.slogan }}
            </div>
          </q-card-section>

          <q-separator />

          <q-card-actions align="right">
<!--            <q-btn v-close-popup flat color="primary" label="Reserve" />-->
            <q-btn v-close-popup flat color="primary" round icon="cancel" />
          </q-card-actions>
        </q-card>
      </q-dialog>

    </div>

    <q-dialog v-if="closed"
      v-model="closed"
       transition-show="slide-up" transition-hide="slide-down"
    >
      <q-card class="column " style="width: 350px">
        <q-card-section class="bg-secondary text-white">
          <div class="text-h6">Closed !!!

<!--            <q-btn style="float: right" flat icon="close" v-close-popup />-->
          </div>
        </q-card-section>



        <q-card-section class="col q-pt-md text-center">
          <q-item-label class="text-h6 q-mt-xl q-mb-xl text-center text-negative">
            {{   restaurant.name }} is currently closed, check back later
          </q-item-label>
          <q-btn @click.stop="closed = false" color="primary" label="Continue" />
        </q-card-section>

      </q-card>
    </q-dialog>


  </q-page>
</template>
<script>
import FoodItem from "../components/FoodItem";
import {mapActions, mapState} from 'vuex'
import axios from "axios";
import Food from 'components/Food'
import {firebaseDb} from "boot/firebase";

export default {
  name: "ResDetail",
  components: { Food, FoodItem},
  data() {
    return {
      text:'',
      first : true,
      closed : false,
      loadingT:'Loading Food .....',
      isOpenIndex:0,
      tab:'Food',
      today : 9,
      card: false,
      stars:1,
      star:5,
      foods : [],

      item:[],
      // grid:false,
      grid: this.$q.screen.gt.xs,
      loading:false,
      searching:false,
      all_loaded:false,
      page:2,
      result:'No result for now, search other categories',
      title:'Pick Your Favourites',
    };
  },

  methods:{
    ...mapActions('store', ['getCarts']),
    home() {
      this.$router.push('/');
      },
    getRes(id){
      let docRef = firebaseDb.collection("restaurants").doc(id);
      docRef.get().then((doc) => {
        if (doc.exists) {
          this.$store.commit('store/setResItem', doc.data());
        }
      }).catch((error) => {
        console.log("Error getting document:", error);
      });
    },
    goHome(){
      this.closed = false;
      if(!this.closed){
        setTimeout(this.home, 500);
      }
    },
    toggle: function(index){
      if( this.isOpenIndex !== null ){
        this.isOpenIndex = ( this.isOpenIndex == index ) ? null : index;
      } else {
        this.isOpenIndex = index;
      }
    },

    FoodAll(){
      this.tab = 'Food'
    },

    Review(){
      this.tab = 'Review';
    },
    Information(){
      this.tab = 'Information';
    },

    getFoods(){
      firebaseDb.collection("foods").where('userId', '==', this.restaurant.id).where('active', '==', true).where('res_address', '!=', "").get().then
      ((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          let item = {}
          item.id = doc.id;
          item.name = doc.data().name;
          item.description = doc.data().description;
          item.res_name = doc.data().res_name;
          item.res_id = doc.data().userId;
          item.res_phone = doc.data().res_phone;
          item.res_address = doc.data().res_address;
          item.img = doc.data().img;
          item.category = doc.data().category;
          item.variants = doc.data().variants ?? [];
          item.price = doc.data().price;
          // item.email = doc.data().email;
          this.foods.push(item);
        });
        this.loadingT = "No meal found";
        // this.loading = false
      });
    },
    userType(){
      if(this.currentUser){
        if(this.currentUser.user_type !== 'user'){
          this.closed = false;
        }
      }
    },
    checkUser(){
      setTimeout(this.userType, 1000);
    }
    // setClose(){
    // }
  },
  created() {
    this.getRes(this.$route.params.id);
    this.today = new Date().getHours();
    // this.setClose;
    if(this.restaurant){
      this.closed = new Date().getHours() < this.restaurant.open_at || new Date().getHours() > (this.restaurant.close_at - 1);
    }
    this.getCarts();
    this.getFoods();
    this.checkUser();
  },
  computed : {
    ...mapState('store', ['resItem','categories','carts','currentUser']),
    restaurant(){
      return this.resItem;
    },
    // closedRes(){
    //   let today = new Date().getHours();
    //   if (today < 10 || today > 17) {
    //     this.closed = true
    //   } else {
    //     this.closed =  false;
    //   }
    // },
    // sortedFoods(){
    //   return this.groupBy(this.foods, 'category')
    // }
    sortedFoods(){
     return  this.foods.reduce((r, a) => {
        r[a.category] = [...r[a.category] || [], a];
       return r;
      }, {});
    }
  },
  watch: {
    // restaurant(){
    //   this.closed = this.today < this.restaurant.open_at || this.today > (this.restaurant.close_at - 1);
    // }
  }
};
</script>

<style lang="scss">
.home-tab {
  border-radius: 15px 15px 0 0;
}
.res_info {
  text-align: justify;
  line-height: 1.5em !important;
  font-family: serif;
  font-size: 1.2em;
}
#nav .q-page-sticky {
  z-index :1;
}
//.bg-text {
//  //text-shadow: 0 1px 0 red;
//  background-color: black;
//  color: #fff;
//  //display: inline;
//  //padding: 0.5rem;
//
//  -webkit-box-decoration-break: clone;
//  box-decoration-break: clone;
//}
</style>
