<template>
  <q-page class="">
    <div class="absolute-center" v-show="loading">
      <img style="height: 200px"  src="~assets/loader-2_food.gif" />
    </div>


    <div class="" v-if="!loading">

      <div class=" q-mb-xl " >


        <div v-if="restaurants.length > 0" class="ro bg-blue-grey-1">
<!--          <q-infinite-scroll @load="onLoad" :offset="250" >-->

            <q-list padding class="row res_list full-width">
                <q-item :key="res.url" v-for="res in restaurants" @click="Goto(res)" clickable class="bg-white res_item shadow-4 full-width col-12 text-black q-mt-sm q-pl-md">
                  <q-item-section>
                    <div class="res_img">
                      <q-img style="width:100%; height:100%" class="full-height" :src="res.img" />
                    </div>
                  </q-item-section>


                  <q-item-section>
                    <q-item-label class="text-black text-capitalize text-bold q-pt-sm">{{ res.name }}</q-item-label>
<!--                    <q-item-label lines="1" v-if="res.type" class="text-black text-capitalize text-bold">{{ res.type }}</q-item-label>-->
                    <q-item-label caption lines="1" v-if="res.type" class="text-black text-capitalize">{{ res.type }}</q-item-label>
                    <q-item-label lines="2" caption class="text-weight-light q-mb-md text-black">[{{ res.address }}]</q-item-label>
                    <q-rating class="q-pb-md"
                              v-model="res.ratings"
                              size=""
                              color="red"
                              readonly
                    />
                  </q-item-section>

                </q-item>
<!--                <q-separator spaced inset="item" />-->
<!--              </div>-->
            </q-list>

<!--            <template v-if="!all_loaded" v-slot:loading>-->
<!--              <div class="row justify-center q-my-md">-->
<!--                <q-spinner-dots color="primary" size="40px" />-->
<!--              </div>-->
<!--            </template>-->

<!--          </q-infinite-scroll>-->
        </div>
        <div v-else class="row">
          <div v-if="!searching" class="column items-center col-md-12">
            <div class="row absolute-center q-mb-xl q-mt-md justify-around">
              <q-item-label class=" text-center">{{ result }}</q-item-label>
            </div>
          </div>
        </div>
      </div>


    </div>

  </q-page>
</template>

<script>
import {mapActions, mapState} from 'vuex'
import { firebaseDb } from 'boot/firebase'
import { LocalStorage } from 'quasar'

export default {
  name: 'Restaurants',
  data() {
    return {
      text: '',
      tab: 'All',
      restaurants: [],
      loading:false,
      searching:false,
      all_loaded:true,
      page:2,
      result:'No result found, check other categories',
      title:'Pick Your Favourites',
    }
  },
  mounted() {
    // this.$route.meta.name = this.$route.params.cat;
    this.getRes();
    if(LocalStorage.getItem('address') === null){
      if(this.currentUser){
        if(this.currentUser.addresses){
          LocalStorage.set("address", this.currentUser.addresses[0].address);
        }else{
          this.$q.notify({
            message: 'Please set up your address',
            color: 'negative'
          });
          this.$router.push('/map');
        }
      }else{
        this.$q.notify({
          message: 'Please set up your address',
          color: 'negative'
        });
        this.$router.push('/map');
      }
    }
    if(LocalStorage.getItem('cities') === null){
      this.$q.notify({
        message: 'Please set up your current state',
        color: 'negative'
      });
      this.$router.push('/home');
    }
  },
  methods : {
    changeCity(city){
      this.$store.commit('store/setUserCity', city);
      this.getRestaurants();
    },
    changeState(){
      this.$router.push('/home');
    },
    getRes() {
      let res = [];
      this.loading = true;
      firebaseDb.collection("restaurants").where('state', '==', this.currentState).
      where("type", "array-contains", this.$route.params.cat).get().then
      ((query) => {
        this.loading = false;
        query.forEach((doc) => {
          let item = {}
          item.id = doc.id;
          item.name = doc.data().name;
          item.img = doc.data().img;
          item.address = doc.data().address;
          item.type = doc.data().type;
          item.open_at = doc.data().open_at ?? 7;
          item.close_at = doc.data().close_at ?? 17;
          item.ratings = doc.data().ratings;
          this.restaurants.push(item);
        });
      });
    },
    goto(slug){
      this.$router.push(slug);
    },

    Goto(item){
      this.$store.commit('store/setResItem', item);
      this.$router.push('/restaurant/'+item.id+'/'+item.name);
    },
  },
  computed : {
    ...mapState('store', ['currentUser','currentCity','currentState','cities']),
  },
  // watch: {
  //   // watching the route
  //   '$route': function () {
  //     // if params and id
  //     if (this.$route.params) {
  //       this.$route.meta.name = this.$route.params.cat;
  //     }
  //   }
  // }
}
</script>

<style lang="scss">
.res_list {
  padding-left: 15px; padding-right: 10px
}

.res_item {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  padding-right: 10px!important
}
.res_img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.res_img {
  height: 120px!important;
  max-width: 200px!important;
}
</style>
