<template>
  <q-page class="bg-white">
    <div class="absolute-center" v-show="loading">
      <img style="height: 200px"  src="~assets/loader-2_food.gif" />
    </div>

    <div class="column" v-if="!loading">


      <div class="q-pa-sm">
        <q-input color="primary" rounded outlined v-model="text" label="Searching ....">
          <template v-slot:prepend>
            <q-icon @click="search()" name="search" />
          </template>
          <template v-slot:append>
            <q-icon @click="text = ''" name="cancel" />
          </template>
        </q-input>
      </div>

      <div class="  q-mb-xl " v-if="text.length > 0">
        <div v-if="foods.length > 0" class="row bg-blue-grey-1">

            <q-list padding class="row res_list">
                <q-item :key="food.id" v-for="food in foods" clickable class="bg-white res_item shadow-4 text-black q-mt-sm col-12 q-pl-md">
                  <q-item-section top thumbnail>
                    <img style="" class="full-height res_img q-ml-sm" :src="food.image">
                  </q-item-section>


                  <q-item-section>
                    <q-item-label class="text-black text-bold q-pt-sm">{{ food.name }}</q-item-label>
                    <q-item-label lines="2" class="text-weight-light q-mb-md text-black">[{{ food.restaurant.name }}]</q-item-label>
                    <!--      <q-item-label caption lines="4">{{ food.description }}</q-item-label>-->
                    <q-rating class="q-pb-md"
                              v-model="rating"
                              size=""
                              color="red"
                              readonly
                    />
                  </q-item-section>

                  <q-item-section side top>
                    <q-icon name="bookmark_border" size="1.8em" />
<!--                    <q-item-label>3.4km</q-item-label>-->
<!--                    <q-badge>Free Delivery</q-badge>-->
                    <q-item-label class="text-weight-light q-mb-md q-mt-sm text-black">[{{ food.restaurant.delivery_time }} min]</q-item-label>
                    <q-btn
                      class="float-right  no-radius"
                      @click=""
                      color="primary"
                      flat
                      dense
                      size="19px"
                      icon="add_circle">
                    </q-btn>
                  </q-item-section>

                </q-item>
<!--                <q-separator spaced inset="item" />-->
<!--              </div>-->
            </q-list>
            <template v-if="!all_loaded" v-slot:loading>
              <div class="row justify-center q-my-md">
                <q-spinner-dots color="primary" size="40px" />
              </div>
            </template>
        </div>
        <div v-else class="row">
          <div v-if="!searching" class="column items-center col-md-12">
            <div class="row q-mb-xl q-mt-md justify-around">
              <q-item-label class=" text-center">{{ result }}</q-item-label>
            </div>
          </div>
        </div>
      </div>

      <div v-else class="q-mb-xl">
        <q-item v-ripple>
          <q-item-section class="text-bold text-h6">History</q-item-section>
          <q-item-section side>
            Clear All
          </q-item-section>
        </q-item>
        <q-separator />
        <template v-for="item in history">
          <q-item v-ripple>
            <q-item-section>{{  item }}</q-item-section>
            <q-item-section side>
              <q-icon name="cancel" />
            </q-item-section>
          </q-item>
          <q-separator />
        </template>

        <q-item clickable to="/home" v-ripple>
          <q-item-section class="text-bold text-primary">Exit</q-item-section>

        </q-item>

      </div>


    </div>

  </q-page>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Search',
  data() {
    return {
      text: '',
      tab: 'All',
      loading:false,
      searching:false,
      all_loaded:true,
      history:['rice','beans','fufu'],
      page:2,
      result:'No result for now, search other categories',
      title:'Pick Your Favourites',
    }
  },
  mounted () {
    this.text = this.$route.params.result;
  },
  methods : {
    search(){
      this.$router.push(`/search/${this.text}`);
    },
    searchByType(item){
      this.tab = item.name;
      this.searching = true;
      this.result = 'No result found for,'+item.name+' category, search other categories';
      this.title = item.name +' results';
      this.$axios.get('/food/type/'+item.slug).then((response) => {
        this.all_foods = response.data.data;
        this.searching = false;
      })
    },
    onLoad(index, done){
      this.$axios.post('/foods/all_foods?page='+this.page)
        .then((response) => {
          if (response.data.data.length) {
            this.page = this.page + 1;
            response.data.data.forEach(food => {
              this.all_foods.push(food)
            });
            done()
          }else {
            this.all_loaded = true;
            stop()
          }
        })

    },
    goto(slug){
      this.$router.push(slug);
    },
    all(){
      this.all_foods = this.foods;
      this.title = 'All Meals'
      this.tab = "All";
    },
    Goto(id,name){
      this.$router.push('/restaurant/'+id+'/'+name);
    },

    searchByInput(){
      this.searching = true;
      this.title = 'Search results for '+this.text;
      this.result = 'No result found for keyword ,'+this.text +' search by categories rather';
      this.$axios.post('/foods/search',{ key: this.text }).then((resp) => {
        this.all_foods = resp.data.data;
        this.searching = false;
      })
    }
  },
  computed : {
    ...mapState('store', ['foods']),
  }

}
</script>

<style lang="scss">
.res_list {
  padding-left: 15px; padding-right: 10px
}
.res_img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.res_item {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  padding-right: 10px!important
}
</style>
