<template>
  <q-page class="bg-white">
    <div class="absolute-top bg-secondar account-head">
      <div class="row q-ma-md q-mt-md justify-center  q-mb-xl">
<!--        <div class="row content-center justify-center">-->
          <img class=""  height="150" width="150" src="~assets/share.png" />
<!--        </div>-->
        <q-item-label class="text-h6 q-mt-md q-mb-md text-center">Invite friends to join Prokitchen Nigeria</q-item-label>
        <q-item-label class="text-center">
          Earn
<!--          <span class="text-bold">₦200</span>, -->
          when your friends sign up on Prokitchen with your referral code, start earning today by clicking the share icon
        </q-item-label>
        <div class="row ">
          <div class="col-6 text-center">
            <q-btn class="inline" onclick="window.plugins.socialsharing.share(
              'Your '+share+' friend is inviting you to join Prokitchen Nigeria, with Prokitchen App you can get a meal delivered to your doorstep ',
              ' ', null,
              'https://play.google.com/store/apps/details?id=org.prokitchen.mainapp',
              'http://www.x-services.nl')"
                   flat color="positive" size="2em" icon="share" />
<!--            <q-card class="q-pa-md">-->
<!--              {{ currentUser.referral_code }} <q-icon  @click="copyCode(currentUser.referral_code)" class="float-right" color="positive" name="file_copy" />-->
<!--            </q-card>-->
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import {copyToClipboard} from "quasar";
var share = 'share';
import { mapState } from 'vuex'
export default {
  name: "Share",
  data(){
    return {
      data:'',
      share_st:'share'
    }
  },
  mounted() {
    this.$axios.get('/share')
      .then((response) => {
        this.data = response.data;
      })
  },
  methods : {
    copyCode(text){
      copyToClipboard(text)
        .then(() => {
          this.$q.notify({
            message: text +' copied to clipboard',
            color: 'info'
          })
        })
        .catch(() => {
          // fail
        })
    },
  },
  computed : {
    ...mapState('store', ['share_msg','currentUser']),
  }
};
</script>
