<template>
  <q-page class="">
    <div class="q-mt-s">
      <q-list bordered separator>
        <q-item clickable to="/" v-ripple style="">
          <q-item-section>Afiaanyi Service</q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>

        <q-item to="#" clickable v-ripple>
          <q-item-section>Faq</q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>
        <q-item to="#" clickable v-ripple>
          <q-item-section>Terms & Condition</q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>

        <q-item to="#" clickable v-ripple>
          <q-item-section>Privacy Policy</q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>
        <q-item to="#" clickable v-ripple>
          <q-item-section>User Agreement</q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>
        <q-item @click="liveChat()" clickable v-ripple>
          <q-item-section>Live Chat</q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>
        <q-item to="#" clickable v-ripple>
          <q-item-section>Push Notification</q-item-section>
          <q-item-section side>
            <q-toggle class="float-right" color="blue" v-model="notify" val="battery" />
          </q-item-section>
        </q-item>
        <q-item to="#" clickable v-ripple>
          <q-item-section>App Version ({{ version }})</q-item-section>
          <q-item-section side>
            UP TO DATE
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-page>
</template>

<script>
import {openURL} from "quasar";
import {version} from '../../package'
export default {
  name: 'Support',
  data () {
    return {
      slide: 1,
      notify:true,
    }
  },
  methods:{
    liveChat(){
      // this.$router.push('/livechat');
      openURL('https://tawk.to/chat/5d9b38e16c1dde20ed056a26/default')
    }
  },
  computed : {
    version(){
      return version;
    },
  }
}
</script>
<style lang="scss">

</style>
