<template>
  <q-page class>
    <div class="absolute-top bg-primary account-head">
      <div class="q-ma-sm q-mt-md justify-center column">
        <q-item-label class="text-h6 text-white text-center text-capitalize text-bold">{{ currentUser.name }}</q-item-label>
        <div class=" bg-white section col column q-pa-md q-mb-sm q-mt-md">
          <q-card flat bordered class=" my-card q-pa-md q-mb-sm">
              <div class="row" align="center">
                <div class="col">
                  <q-btn class="no-border-radius" color="teal">
                  <q-icon left size="3em" name="account_balance_wallet" />
                  <div>Bal ..</div>
                  <div>NGN {{ formatPrice(currentUser.balance) }}</div>
                  </q-btn>
                </div>


              </div>
          </q-card>

          <div class="row justify-center">
            <q-btn to="/fund/wallet" class="q-mt-md col-6 no-border-radius" color="info" label="Fund Account" />

<!--            <q-btn to="/fund/transfer" class="q-mt-md col-6 no-border-radius" color="warning" label="Make Transfer" />-->

          </div>

            <q-item-label class="text-center q-mt-md">For Enquiries contact <span class="text-bold">Prokitchen</span>          </q-item-label>


          <q-item-label class="q-mt-md text-center text-secondary">  Phone : 09053000058 - 9  </q-item-label>
          <q-item-label class="q-mt-md text-center text-secondary"> Email : hello@prokitchen.ng </q-item-label>

        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
  import { date } from 'quasar';
  import { mapState, mapActions } from 'vuex'
  import { copyToClipboard } from 'quasar'
export default {
  name: "Wallet",
  data(){
    return {
      orders:'',
    }
  },
  methods : {
    ...mapActions('store', ['getCurrentUser']),
    copyAccount(text){
      copyToClipboard(text)
        .then(() => {
          this.$q.notify({
            message: text +' copied to clipboard',
            color: 'info'
          })
        })
        .catch(() => {
          // fail
        })
    },
    formateDate(item){
      return date.formatDate(item, 'Do-MMMM-YYYY')
    },
    formatPrice(value) {
      let val = (value/1).toFixed(2).replace('.', '.')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    },
    refreshUser(){
      this.getCurrentUser();
    },
  },
  computed : {
    ...mapState('store', ['currentUser','site_details']),
  }
};
</script>
