<template>
  <q-page class="flex q-pa-md bg-white flex-center">
    <div class="column full-width q-mt-md ">
      <q-tab-panel name="register" class="q-pb-md q-mb-xl form">

        <q-form @submit="submitForm">
          <q-input
            outlined
            v-model="formData.name"
            :rules="[ val => val && val.length > 0 || 'Enter name']"
            label="Restaurant Name">
            <template  v-slot:append>
              <q-icon v-show="formData.name.length > 0" name="cancel" @click.stop="formData.name = ''" class="cursor-pointer" />
            </template>
          </q-input>
          <q-input
            v-model="formData.email"
            outlined
            class="q-mt-sm"
            type="email"
            :rules="[ val => val && val.length > 0 || 'Enter email']"
            label="Restaurant Email">
            <template v-slot:append>
              <q-icon v-show="formData.email.length > 0" name="cancel" @click.stop="formData.email = ''" class="cursor-pointer" />
            </template>
          </q-input>
          <q-input
            v-model="formData.phone"
            :rules="[ val => val && val.length > 0 || 'Enter phone ']"
            outlined
            type="text"
            class="q-mt-sm"
            :class="formData.phone"
            label="Phone" />
          <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Restaurant Type']"
                    class=""
                    label="Select Restaurant Type"
                    v-model="formData.type"
                    :options="types"
                    emit-value
                    map-options
                    option-value="name"
                    option-label="name"
          />
          <q-input
            v-model="formData.state"
            outlined
            disable
            type="text"
            class="q-mb-md"
            label="State" />

          <q-select outlined :rules="[ val => val && val.length > 0 || 'Select City']"
                    class=""
                    label="Select City"
                    v-model="formData.city"
                    :options="cities"
                    emit-value
                    map-options
                    option-value="name"
                    option-label="name"
          />

          <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Address']"
                    class=""
                    label="Select Address"
                    v-model="formData.address"
                    :options="currentUser.addresses"
                    emit-value
                    map-options
                    option-value="address"
                    option-label="address"
          />


<!--          <q-input-->
<!--            v-model="formData.address"-->
<!--            outlined-->
<!--            disable-->
<!--            type="text"-->
<!--            class=""-->
<!--            label="Address" />-->

          <div class="row">
            <q-separator />
            <q-item-label class="q-pt-md q-pb-md">Logo / Banner (Required)</q-item-label>
            <q-separator />
          </div>

          <q-uploader v-if="formData.img === ''"
            class="q-mt-md bg-img bg-primary"
            :style="{ 'background-image': 'url(' + formData.img + ')' }"
            accept=".jpg, image/*"
            color="primary"
            :multiple=false
            :factory="uploadFile"
            ref="uploader"
            auto-upload
            auto-expand
            label="Upload Image"
          />

          <q-inner-loading :showing="uploading">
            <q-spinner size="50px" color="primary" />
          </q-inner-loading>

          <div class="row" v-if="formData.img !== ''">
            <img class="preview" height="200" width="300" :src="formData.img">
            <q-btn @click="clearImg()" icon="cancel" color="red" />
            <br>
          </div>

          <div class="row q-mt-md full-width">
            <q-space />
            <q-btn class="col" rounded
                   :loading="loading"
                   color="primary"
                   :disable="formData.img === ''"
                   type="submit"
                   label="Submit" />
          </div>


        </q-form>
      </q-tab-panel>

      <div style="margin: auto" class="text-center justify-center">
      </div>


    </div>
  </q-page>

</template>

<script>
import {mapActions, mapState} from "vuex";
import {firebaseDb, storage} from "boot/firebase";
import { LocalStorage } from 'quasar'

export default {
  name: "CreateRes",
  data() {
    return {
      type:'text',
      loading:false,
      voice:true,
      uploading:false,
      uploadValue:0,
      agreed:1,
      formData: {
        name: '',
        phone: '',
        userId:'',
        type:'',
        email: '',
        state:'',
        ratings:5,
        img:'',
        city:'',
        address:'',
      },
      types:[],
      errors:{},
      has_error: false,
    }
  },
  firestore: {
    types: firebaseDb.collection('restaurant_types'),
  },
  mounted() {
    this.formData.name = this.currentUser.name; this.formData.email = this.currentUser.email;this.formData.phone = this.currentUser.phone; this.formData.userId = this.currentUser.userId;
    if(LocalStorage.getItem('address')){
      this.formData.address = LocalStorage.getItem('address');
    }
    if(!this.currentUser.addresses.length){
      this.$router.push('/address');
    }
    if(LocalStorage.getItem('city')){
      this.formData.city = LocalStorage.getItem('city');
      this.formData.state = LocalStorage.getItem('state');
    }else {
      this.$q.notify({
        message: 'Please set up your current state',
        color: 'negative'
      });
      this.$router.push('/home');
    }
  },

  methods:{
    ...mapActions('store', ['getUsers']),
    uploadFile(files) {
      this.loading = true;
      this.uploading = true;
      this.file_path = files[0]
      const fileData = new FormData();
      fileData.append('file_path', this.file_path)
      fileData.append('phone', this.currentUser.phone)
      fileData.append('path', 'res')
      this.$axios.post('image/upload', fileData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then((response) => {
        this.loading = false;
        this.uploading = false;
        if(response.data.image){
          this.$q.notify({
            type: 'success',
            message: `Restaurant successfully uploaded`
          })
          this.formData.img = response.data.image;
          console.log(this.formData.img)
        }

      }).catch(()=>{
        this.loading = false;
        this.uploading = false;
      });
    },
    submitForm() {
      this.formData.created = Date.now();
      this.formData.updated = Date.now();
      this.loading = true;
      this.errors = {};
      this.has_error = false;
      this.$q.loading.show();
      let vm = this;


      firebaseDb.collection("restaurants").doc(this.formData.userId).get().then(function (items) {
        if (!items.exists) {
          firebaseDb.collection('restaurants').doc(vm.formData.userId).set(vm.formData)
            .then(docRef => {
              vm.$q.loading.hide();
              vm.loading = false;
              vm.$q.notify({
                message: 'Restaurant successfully added',
                color: 'info'
              });
              vm.$store.commit('store/setResDetail', {
                name: vm.formData.name,
                phone: vm.formData.phone,
                state: vm.formData.state,
                address:vm.formData.address,
                city: vm.formData.city,
                email: vm.formData.email
              })
              vm.$router.push('/res/list_foods')
            })
            .catch(err => console.log(err))
        }
        if (items.exists){
          vm.$q.loading.hide();
          vm.loading = false;
          vm.$q.notify({
            message: 'This User Already Has a restaurant',
            color: 'negative'
          });
        }
      });
    },
    click1() {
      this.$refs.input1.click()
    },
    previewImage(event) {
      this.uploadValue = 0;
      this.picture = null;
      this.imageData = event.target.files[0];
      this.onUpload()
    },
    clearImg(){
      // this.uploading = true;
      this.formData.img = '';
      // this.$axios.post('image/delete', {file: this.formData.img}).then((response) => {
      //   this.uploading = false;
      //   this.formData.img = '';
      //   this.$q.notify({
      //     type: 'success',
      //     message: `Restaurant Image successfully deleted, pls re upload`
      //   })
      // }).catch(()=>{
      //   this.uploading = false;
      // });
    },
    onUpload() {
      this.picture = null;
      const storageRef = storage.ref(`${this.imageData.name}`).put(this.imageData);
      storageRef.on(`state_changed`, snapshot => {
          this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        }, error => {
          console.log(error.message)
        },
        () => {
          this.uploadValue = 100;
          storageRef.snapshot.ref.getDownloadURL().then((url) => {
            this.formData.img = url;
          });
        }
      );
    },
  },


  computed: {
    ...mapState('store', ['users','currentState','currentCity','cities','currentUser']),
  }
}
</script>

<style scoped>

</style>
