<template>
  <q-page class="flex q-pa-md bg-white flex-center">
    <div class="column full-width q-mt-md ">
      <q-tab-panel name="register" class="q-pb-md form">

        <q-form @submit="submitForm" class="q-mb-xl">

          <q-input
            outlined
            v-model="formData.name"
            :rules="[ val => val && val.length > 0 || 'Enter  Name ']"
            label="Food Name">
            <template  v-slot:append>
              <q-icon v-show="formData.name.length > 0" name="cancel" @click.stop="formData.name = ''" class="cursor-pointer" />
            </template>
          </q-input>

          <q-input
            outlined
            class=""
            v-model="formData.description"
            label="Description">
            <template  v-slot:append>
              <q-icon v-show="formData.description.length > 0" name="cancel" @click.stop="formData.description = ''" class="cursor-pointer" />
            </template>
          </q-input>

          <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Category']"
                    class="text-uppercase q-mt-md"
                    label="Select Category"
                    v-model="formData.category"
                    :options="categories"
                    emit-value
                    map-options
                    option-value="name"
                    option-label="name"
          />

          <div class="">
            <q-checkbox class="" v-model="formData.is_general" label="General Food" />
          </div>

          <div>
            <q-checkbox class="" v-model="formData.is_food_diet" label="Food Diet" />
          </div>

          <div class="row">
            <q-separator />
            <q-item-label class="q-pt-md q-pb-md">Schedule Order</q-item-label>
            <q-separator />


            <div class="q-gutter-sm q-mt-md">
              <span v-for="day in days">
                <input v-model="formData.days" :key="day" type="checkbox" :value="day" />
                <span class="q-pl-sm">{{ day }}</span>
              </span>
            </div>
          </div>


          <div v-if="formData.is_food_diet" class="q-mt-md q-pb-sm">
          <div class="row">
            <q-separator />
            <q-item-label class="q-pt-md q-pb-md">Diet Plans</q-item-label>
            <q-separator />
          </div>

          <div class="">
            <q-checkbox class="" v-model="formData.is_breakfast" label="Breakfast" />
          </div>
          <div>
            <q-checkbox class="" v-model="formData.is_launch" label="Launch" />
          </div>
          <div>
            <q-checkbox class="" v-model="formData.is_dinner" label="Dinner" />
          </div>
          </div>

          <q-input
            outlined
            class="q-mt-md"
            type="number"
            v-model="formData.price"
            :rules="[ val => val && val.length > 0 || 'Enter price ']"
            label="Price :">
            <template  v-slot:append>
              <q-icon v-show="formData.price.length > 0" name="cancel" @click.stop="formData.price = ''" class="cursor-pointer" />
            </template>
          </q-input>

          <div class="row" v-if="formData.variants.length > 0">
            <q-separator />
            <q-item-label class="q-pt-md q-pb-md">Variants : {{ formData.variants}}</q-item-label>
            <q-separator />
          </div>

          <div class="q-pa-md">
            <q-btn @click="variant = true" label="Add Variations" color="primary" />
          </div>


          <!--          <div class="row">-->
<!--            <q-uploader-->
<!--              :factory="factoryFn"-->
<!--              multiple-->
<!--              style=""-->
<!--            />-->
<!--          </div>-->

          <div class="row">
            <q-separator />
            <q-item-label class="q-pt-md q-pb-md">Food Image</q-item-label>
            <q-separator />
          </div>

          <q-uploader v-if="formData.img === ''"
                      class="q-mt-md bg-img bg-primary"
                      :style="{ 'background-image': 'url(' + formData.img + ')' }"
                      accept=".jpg, image/*"
                      color="primary"
                      :multiple=false
                      :factory="uploadFile"
                      ref="uploader"
                      auto-upload
                      auto-expand
                      label="Upload Image"
          />

          <q-inner-loading :showing="uploading">
            <q-spinner size="50px" color="primary" />
          </q-inner-loading>


          <div class="row" v-if="formData.img !== ''">
            <img class="preview" height="200" width="300" :src="formData.img">
            <q-btn @click="clearImg()" icon="cancel" color="red" />
            <br>
          </div>

          <div class="row q-mt-md full-width">
            <q-space />
            <q-btn class="col" rounded
                   :loading="loading" v-if="this.currentRes.address.length < 5"
                   color="primary"
                   to="/map"
                   label="Set up address" />

            <q-btn class="col" rounded
                   :loading="loading" v-else
                   color="primary"
                   :disable="formData.img === ''"
                   type="submit"
                   label="Submit" />
          </div>




        </q-form>
      </q-tab-panel>

      <div style="margin: auto" class="text-center justify-center">
      </div>


    </div>

    <q-dialog v-model="variant" persistent>
      <q-card style="min-width: 350px" class="q-mb-lg">
        <form @submit.prevent="">

          <q-card-section>
            <div class="text-bold text-center">Create Variant For {{ formData.name }}</div>
          </q-card-section>

          <q-separator />

          <q-card-section class="">
            <div>
              <q-input outlined v-model="form.name" :rules="[ val => !!val || 'variant name is required']"
                       type="text" label="Variant : " />
              <q-btn label="Add Variant" color="secondary" @click="addVariant" />
            </div>

            <div class="" v-if="formData.variants.length > 0">
              <q-list>
                <q-item v-for="(item,index) in formData.variants" :key="index">
                  <q-item-section >
                    <q-item-label>{{  index+1 }}</q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label class="text-capitalize" lines="1">{{  item }}</q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <q-btn  class="" @click.stop="deleteVar(index)" color="red" size="12px" fla dense round icon="delete" />
                    <!--                  <q-btn  class="q-mt-sm" @click="edit(item)" color="info" size="12px" fla dense round icon="edit" />-->
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
          </q-card-section>

          <q-card-actions  align="right" class="text-primary">
            <q-btn flat label="Close" v-close-popup />
          </q-card-actions>
        </form>
      </q-card>
    </q-dialog>
  </q-page>

</template>

<script>
import {mapActions, mapState} from "vuex";
import {firebaseDb, storage} from "boot/firebase";
import {LocalStorage} from "quasar";


export default {
  name: "CreateFood",
  data() {
    return {
      type:'text',
      selectedDate: '',
      loading:false,
      uploading:false,
      caption : '',
      img1: '',
      days:['Mon','Tues','Wed','Thurs','Fri','Sat','Sun'],
      imageData: null,
      picture: null,
      variant:false,
      uploadValue: 0,
      agreed:1,
      form:{
        name : '',
      },
      formData: {
        name: '',
        description:'',
        is_general:false,
        is_food_diet:false,
        img:'',
        price:'',
        active:true,
        is_dinner:false,
        is_launch:false,
        is_breakfast:false,
        userId:'',
        categories:'',
        state: LocalStorage.getItem("state"),
        days:[],
        variants:[],
        city:'Abuja',
        // city:LocalStorage.getItem("city"),
      },
      errors:{},
      has_error: false,
    }
  },
  mounted() {
    if(!this.categories.length){
      this.getCategories()
    }
    // if(LocalStorage.getItem('city') === null){
    //   this.$router.push('/home');
    // }
    if(!this.currentRes){
      this.$router.push('/res/create/res');
    }
  },

  methods: {
    ...mapActions('store', ['getCategories']),
    addVariant(){
      this.formData.variants.push(this.form.name);
      this.form.name = '';
    },
    submitForm() {
      this.formData.created = Date.now();
      this.formData.updated = Date.now();
      this.formData.city = this.currentRes.city
      this.formData.res_name = this.currentRes.name
      this.formData.res_phone = this.currentRes.phone
      this.formData.res_address = this.currentRes.address
      this.formData.userId = this.currentUser.userId
      this.loading = true;
      this.errors = {};
      this.has_error = false;
      this.$q.loading.show();


      let vm = this;
      firebaseDb.collection('foods').add(this.formData)
        .then(docRef => {
          this.$q.loading.hide();
          this.loading = false;

          vm.$q.notify({
            message: 'Food successfully added, add more food',
            color: 'info'
          });

          this.clearImg();
          this.formData.name = ''; this.formData.description = ''; this.formData.price = 0;
          this.$router.push('/res/list_foods')
        })
        .catch(error => console.log(err))
    },

    clearImg(){
      this.formData.img = '';
    },

    uploadFile(files) {
      this.loading = true;
      this.uploading = true;
      this.file_path = files[0]
      const fileData = new FormData();
      fileData.append('file_path', this.file_path)
      fileData.append('phone', this.currentUser.phone)
      fileData.append('path', 'food')
      this.$axios.post('image/upload', fileData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then((response) => {
        this.loading = false;
        this.uploading = false;
        if(response.data.image){
          this.$q.notify({
            type: 'success',
            message: `Food Image successfully uploaded`
          })
          this.formData.img = response.data.image;
        }

      }).catch(()=>{
        this.loading = false;
        this.uploading = false;
      });
    },

  },


  computed: {
    ...mapState('store', ['categories','currentUser','currentCity','currentState','currentRes'])
  }
}
</script>

<style scoped>

</style>
