<template>
  <q-page class="flex q-pa-md bg-white flex-center">
    <div class=" full-width q-mt-md ">

      <q-tab-panel name="register" class="q-pb-md form">

        <q-form @submit="submitForm" class="q-mb-xl">
          <q-input
            outlined
            v-model="formData.name"
            :rules="[ val => val && val.length > 0 || 'Enter name']"
            label="Restaurant Name">
            <template  v-slot:append>
              <q-icon v-show="formData.name.length > 0" name="cancel" @click.stop="formData.name = ''" class="cursor-pointer" />
            </template>
          </q-input>
          <q-input
            v-model="formData.email"
            outlined
            class="q-mt-sm"
            type="email"
            :rules="[ val => val && val.length > 0 || 'Enter email']"
            label="Restaurant Email">
            <template v-slot:append>
              <q-icon v-show="formData.email.length > 0" name="cancel" @click.stop="formData.email = ''" class="cursor-pointer" />
            </template>
          </q-input>
          <q-input
            v-model="formData.phone"
            :rules="[ val => val && val.length > 0 || 'Enter phone ']"
            outlined
            type="text"
            class="q-mt-sm"
            :class="formData.phone"
            label="Phone" />

          <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Restaurant Categories']"
                    class=""
                    label="Select Restaurant Categories"
                    v-model="formData.type"
                    :options="types"
                    emit-value
                    map-options
                    multiple
                    use-chips
                    option-value="name"
                    option-label="name"
          />

          <q-input
            v-model="formData.state"
            outlined
            disable
            type="text"
            class="q-mb-md"
            label="State" />

          <div class="row">
            <div class="col-6">
              <q-select outlined :rules="[ val => val && val > 0 || 'Select Opening Time']"
                        class=""
                        label="Opening Time"
                        v-model="formData.open_at"
                        :options="options"
                        emit-value
                        map-options
                        option-value="val"
                        option-label="label"
              />
            </div>
            <div class="col-6">
              <q-select outlined :rules="[ val => val && val > 0 || 'Select Closing Time']"
                        class=""
                        label="Closing Time"
                        v-model="formData.close_at"
                        :options="options"
                        emit-value
                        map-options
                        option-value="val"
                        option-label="label"
              />
            </div>
          </div>

          <q-select outlined :rules="[ val => val && val.length > 0 || 'Select City']"
                    class=""
                    label="Select City"
                    v-model="formData.city"
                    :options="cities"
                    emit-value
                    map-options
                    option-value="name"
                    option-label="name"
          />

          <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Address']"
                    class=""
                    label="Select Address"
                    v-model="formData.address"
                    :options="currentUser.addresses"
                    emit-value
                    map-options
                    option-value="address"
                    option-label="address"
          />


<!--          <q-input-->
<!--            v-model="formData.address"-->
<!--            outlined-->
<!--            disable-->
<!--            type="text"-->
<!--            class=""-->
<!--            label="Address" />-->

          <div class="row">
            <q-separator />
            <q-item-label class="q-pt-md q-pb-md">Logo / Banner (Required)</q-item-label>
            <q-separator />
          </div>

          <q-uploader v-if="formData.img === ''"
                      class="q-mt-md bg-img bg-primary"
                      :style="{ 'background-image': 'url(' + formData.img + ')' }"
                      accept=".jpg, image/*"
                      color="primary"
                      :multiple=false
                      :factory="uploadFile"
                      ref="uploader"
                      auto-upload
                      auto-expand
                      label="Upload Image"
          />

          <q-inner-loading :showing="uploading">
            <q-spinner size="50px" color="primary" />
          </q-inner-loading>

          <div class="row" v-if="formData.img !== ''">
            <img class="preview" height="200" width="300" :src="formData.img">
            <q-btn @click="clearImg()" icon="cancel" color="red" />
            <br>
          </div>

          <div class="row q-mt-md full-width">
            <q-space />
            <q-btn class="col" rounded
                   :loading="loading"
                   color="primary"
                   :disable="formData.img === ''"
                   type="submit"
                   label="Submit" />
          </div>


        </q-form>
      </q-tab-panel>

      <div style="margin: auto" class="text-center justify-center">
      </div>


    </div>
  </q-page>

</template>

<script>
import {mapActions, mapState} from "vuex";
import {firebaseDb, storage} from "boot/firebase";
import { LocalStorage } from 'quasar'

export default {
  name: "CreateRes",
  data() {
    return {
      type:'text',
      loading:false,
      voice:true,
      uploadValue:0,
      uploading:false,
      agreed:1,
      types:[],
      formData: {
        name: '',
        phone: '',
        userId:'',
        email: '',
        type:[],
        state:'',
        ratings:5,
        open_at:7,
        close_at:17,
        img:'',
        city:'',
        address:'',
      },
      options: [
        {label: '8am', val: 8},
        {label: '9am', val: 9},
        {label: '10am', val: 10},
        {label: '11am', val: 11},
        {label: '12pm', val: 12},
        {label: '1pm', val: 13},
        {label: '2pm', val: 14},
        {label: '3pm', val: 15},
        {label: '4pm', val: 16},
        {label: '5pm', val: 17},
        {label: '6pm', val: 18},
        {label: '7pm', val: 19},
    ],
      errors:{},
      has_error: false,
    }
  },
  firestore: {
    types: firebaseDb.collection('restaurant_types'),
  },
  mounted() {
    this.formData.name = this.currentUser.name; this.formData.email = this.currentUser.email;this.formData.phone = this.currentUser.phone; this.formData.userId = this.currentUser.userId;
    if(LocalStorage.getItem('address')){
      this.formData.address = LocalStorage.getItem('address');
    }
    if(!this.currentUser.addresses.length){
      this.$router.push('/address');
    }
    if(LocalStorage.getItem('city')){
      this.formData.city = LocalStorage.getItem('city');
      this.formData.state = LocalStorage.getItem('state');
    }else {
      this.$q.notify({
        message: 'Please set up your current City',
        color: 'negative'
      });
      this.$router.push('/set/city');
    }
    this.getRes()
  },

  methods:{
    ...mapActions('store', ['getUsers']),
    getRes(){
      let vm = this;
      let restaurant = firebaseDb.collection("restaurants").doc(this.currentUser.userId);

      restaurant.get().then(function(doc) {
        if (doc.exists) {
          vm.formData = doc.data();
          vm.formData.type = Array.isArray(doc.data().type) ? doc.data().type : [];
        } else {
          vm.$router.push('/res/create/res');
        }
      }).catch(function(error) {
        vm.$router.push('/res/create/res');
      });

    },
    submitForm() {
      this.formData.updated = Date.now();
      this.loading = true;
      this.errors = {};
      this.has_error = false;
      this.$q.loading.show();
      let vm = this;

      firebaseDb.collection('restaurants').doc(this.currentUser.userId).set(this.formData)
        .then(docRef => {
          vm.$q.loading.hide();
          vm.loading = false;
          vm.$q.notify({
            message: 'Restaurant successfully Updated',
            color: 'info'
          });
          vm.$store.commit('store/setResDetail', {
            name: vm.formData.name,
            phone: vm.formData.phone,
            state: vm.formData.state,
            address:vm.formData.address,
            city: vm.formData.city,
            email: vm.formData.email
          })
          vm.$router.push('/res/list_foods')
        })
        .catch(err => console.log(err))
    },
    uploadFile(files) {
      this.loading = true;
      this.uploading = true;
      this.file_path = files[0]
      const fileData = new FormData();
      fileData.append('file_path', this.file_path)
      fileData.append('phone', this.currentUser.phone)
      fileData.append('path', 'res')
      this.$axios.post('image/upload', fileData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then((response) => {
        this.loading = false;
        this.uploading = false;
        if(response.data.image){
          this.$q.notify({
            type: 'success',
            message: `Restaurant successfully uploaded`
          })
          this.formData.img = response.data.image;
          console.log(this.formData.img)
        }

      }).catch(()=>{
        this.loading = false;
        this.uploading = false;
      });
    },

    clearImg(){
      this.formData.img = '';
    }
  },


  computed: {
    ...mapState('store', ['users','currentState','currentCity','cities','currentUser']),
  }
}
</script>

<style scoped>

</style>
