<template>
<q-page class="bg-white">
  <div class="q-pa-md">
    <div class="q-gutter-md full-width" >
      <q-input v-model="text" label="Search" />

    </div>

    <div class="column q-mt-md">

      <q-list v-if="all_foods.length > 0">
        <template v-for="item in all_foods">
          <q-item :key="item.id" v-ripple>
<!--            <q-item-section top thumbnail>-->
<!--              <img style="height: 60px; width: 50px" :src="item.img">-->
<!--            </q-item-section>-->

            <q-item-section>
              <q-item-label lines="1">{{  item.name }}</q-item-label>
              <q-item-label lines="1">{{  item.category }}</q-item-label>
              <q-item-label lines="1">₦{{  item.price }} </q-item-label>
              <q-item-label class="text-info" v-if="item.active" lines="1">Active</q-item-label>
              <q-item-label class="text-negative" v-else lines="1">Not Active</q-item-label>
            </q-item-section>
            <q-item-section side>

                 <q-btn  class="" @click="confirm(item)" color="red" size="12px" fla dense round icon="delete" />
                 <q-btn  class="q-mt-sm" @click="edit(item)" color="info" size="12px" fla dense round icon="edit" />

            </q-item-section>
          </q-item>
          <q-separator :key="item.id+1111" />
        </template>
      </q-list>
      <div class="absolute-center" v-else>
        <q-item-label class="text-h4">No foods</q-item-label>
      </div>
<!--      <q-item-label class="text-center" v-else>Add More meal</q-item-label>-->
    </div>
  </div>

  <q-dialog v-model="variant" persistent>
    <q-card style="max-width: 350px" class="q-mb-lg">
      <form @submit.prevent="" class="q-pa-md">

        <q-card-section>
          <div class="text-bold text-center">Create Variant For {{ formData.name }}</div>
        </q-card-section>

        <q-separator />

        <q-card-section class="">
          <div>
            <q-input outlined v-model="form.name" :rules="[ val => !!val || 'variant name is required']"
                     type="text" label="Variant : " />
            <q-btn label="Add Variant" color="secondary" @click="addVariant" />
          </div>

          <div class="" v-if="formData.variants.length > 0">
            <q-list>
              <q-item v-for="(item,index) in formData.variants" :key="index">
                <q-item-section >
                  <q-item-label>{{  index+1 }}</q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label class="text-capitalize" lines="1">{{  item }}</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-btn  class="" @click.stop="deleteVar(index)" color="red" size="12px" fla dense round icon="delete" />
<!--                  <q-btn  class="q-mt-sm" @click="edit(item)" color="info" size="12px" fla dense round icon="edit" />-->
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card-section>

        <q-card-actions  align="right" class="text-primary">
          <q-btn flat label="Close" v-close-popup />
        </q-card-actions>
      </form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="prompt" persistent>
    <q-card style="min-width: 350px" class="q-mb-lg">
      <form @submit.prevent="updateFood">

        <q-card-section>
          <div class="text-h6 text-center">Editing {{ formData.name }}</div>
        </q-card-section>

        <q-separator />

        <q-card-section class="q-pt-none">
          <q-input v-model="formData.name" :rules="[ val => !!val || 'name is required']"
                   type="text" label="Name : " />

          <q-input v-model="formData.description"
                   type="text" label="Description : " />

          <q-input v-model="formData.price" :rules="[ val => !!val || 'Price is required']"
                   type="text" label="Price : " />

          <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Category']"
                    class="text-uppercase q-mt-sm"
                    label="Select Category"
                    v-model="formData.category"
                    :options="categories"
                    emit-value
                    map-options
                    option-value="name"
                    option-label="name"
          />


          <q-input
            v-model="formData.state"
            outlined
            disable
            type="text"
            class="q-mb-md"
            label="State" />

          <q-select outlined :rules="[ val => val && val.length > 0 || 'Select City']"
                    class=""
                    label="Select City"
                    v-model="formData.city"
                    :options="cities"
                    emit-value
                    map-options
                    option-value="name"
                    option-label="name"
          />

          <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Restaurant Address']"
                    class=""
                    label="Select Address"
                    v-model="formData.res_address"
                    :options="currentUser.addresses"
                    emit-value
                    map-options
                    option-value="address"
                    option-label="address"
          />


          <div class="">
            <q-checkbox class="" v-model="formData.is_general" label="General Food" />
          </div>

          <div>
            <q-checkbox class="" v-model="formData.is_food_diet" label="Food Diet" />
          </div>

         <div>
            <q-checkbox class="" v-model="formData.active" label="Active" />
          </div>

          <div class="row" v-if="formData.variants.length > 0">
            <q-separator />
            <q-item-label class="q-pt-md q-pb-md">Variants : {{ formData.variants}}</q-item-label>
            <q-separator />
          </div>

          <div class="q-pa-md">
            <q-btn @click="variant = true" label="Add Variations" color="primary" />
          </div>


          <div v-if="formData.is_food_diet" class="q-mt-md q-pb-sm">
            <div class="row">
              <q-separator />
              <q-item-label class="q-pt-md q-pb-md">Diet Plans</q-item-label>
              <q-separator />
            </div>

            <div class="">
              <q-checkbox class="" v-model="formData.is_breakfast" label="Breakfast" />
            </div>
            <div>
              <q-checkbox class="" v-model="formData.is_launch" label="Launch" />
            </div>
            <div>
              <q-checkbox class="" v-model="formData.is_dinner" label="Dinner" />
            </div>
          </div>



          <div class="row">
            <q-separator />
            <q-item-label class="q-pt-md q-pb-md">Food Image</q-item-label>
            <q-separator />
          </div>

          <q-uploader v-if="formData.img === ''"
                      class="q-mt-md bg-img bg-primary"
                      :style="{ 'background-image': 'url(' + formData.img + ')' }"
                      accept=".jpg, image/*"
                      color="primary"
                      :multiple=false
                      :factory="uploadFile"
                      ref="uploader"
                      auto-upload
                      auto-expand
                      label="Upload Image"
          />

          <q-inner-loading :showing="uploading">
            <q-spinner size="50px" color="primary" />
          </q-inner-loading>

          <div class="row" v-if="formData.img !== ''">
            <img class="preview" height="200" width="300" :src="formData.img">
            <q-btn @click="clearImg()" icon="cancel" color="red" />
            <br>
          </div>


        </q-card-section>


        <q-card-actions  align="right" class="text-primary">
          <q-btn flat label="Cancel" v-close-popup />
          <q-btn :disable="formData.img === ''" flat label="Update" type="submit" />
        </q-card-actions>
      </form>
    </q-card>
  </q-dialog>

  <q-page-sticky position="bottom-right" :offset="[18, 18]">
    <q-btn to="/res/create/food" icon="add" fab  color="primary" />
  </q-page-sticky>
</q-page>
</template>

<script>
import {mapActions, mapState} from "vuex";
import {firebaseDb} from "boot/firebase";
import {LocalStorage} from "quasar";

export default {
name: "ListFoods",

  mounted() {
  this.getAllFoods();
  },
  data(){
  return {
    prompt : false,
    text:'',
    variant:false,
    uploading:false,
    imageData: null,
    picture: null,
    uploadValue: 0,
    form:{
      name : '',
    },
    formData: {
      img: '',
      variants:[],
    },
  }
  },
  methods : {
    ...mapActions('store', ['getAllFoods']),
    deleteVar(index){
      this.formData.variants.splice(index, 1);
    },
    addVariant(){
      this.formData.variants.push(this.form.name);
      this.form.name = '';
    },
    uploadFile(files) {
      this.loading = true;
      this.uploading = true;
      this.file_path = files[0]
      const fileData = new FormData();
      fileData.append('file_path', this.file_path)
      fileData.append('phone', this.currentUser.phone)
      fileData.append('path', 'food')
      this.$axios.post('image/upload', fileData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then((response) => {
        this.loading = false;
        this.uploading = false;
        if(response.data.image){
          this.$q.notify({
            type: 'success',
            message: `Food Image successfully uploaded`
          })
          this.formData.img = response.data.image;
        }

      }).catch(()=>{
        this.loading = false;
        this.uploading = false;
      });
    },

    edit(item){
      this.prompt = true;
      this.formData = item;
      this.formData.variants = item.variants ?? [];
      this.formData.description = item.description ?? '';
      this.formData.state = LocalStorage.getItem('state');

      // this.formData.name = item.name;
      // this.formData.id = item.id;
      // this.formData.price = item.price;
      // this.formData.active = item.active;
      // this.formData.is_dinner = item.is_dinner;
      // this.formData.is_breakfast = item.is_breakfast;
      // this.formData.is_launch = item.is_launch;
      // this.formData.category = item.category;
      // this.formData.img = item.img;
      // this.formData.userId = this.currentUser.userId;
    },

    confirm (item) {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Are you sure you want to delete this food ?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.delete(item)
      })
    },
    delete(item){
      this.$q.loading.show();
      firebaseDb.collection("foods").doc(item.id).delete().then(()=>{
        this.$q.notify({
          message: 'Food successfully deleted',
          color: 'info'
        });
        this.$q.loading.hide();
        this.getAllFoods();
      }).catch(error => {
        this.$q.loading.hide()
        this.$q.notify({
          message: 'Something went wrong',
          color: 'negative'
        });
      })
    },

    updateFood(){
      this.$q.loading.show();
      firebaseDb.collection('foods').doc(this.formData.id).set(this.formData,{ merge: true })
        .then(docRef => {
          this.$q.notify({
            message: 'Food successfully updated',
            color: 'info'
          });
          this.prompt = false;
          this.$q.loading.hide();
          this.getAllFoods();
        })
    },
    click1() {
      this.$refs.input1.click()
    },

    previewImage(event) {
      this.uploadValue = 0;
      this.picture = null;
      this.imageData = event.target.files[0];
      this.onUpload()
    },

    clearImg(){
      this.formData.img = '';
      this.uploadValue = 0;
      this.imageData = null;
    },
  },
  computed: {
    ...mapState('store', ['all_foods','currentUser','cities','currentRes','categories'])
  }
}
</script>

<style scoped>

</style>
