<template>
  <q-page class="">
    <div class="absolute-center" v-show="loading">
      <img style="height: 200px"  src="~assets/loader-2_food.gif" />
    </div>

    <div class="column" v-if="!loading">

      <div class="absolute- bg-white justify-around home-tab" style="max-width: 100vw">

        <q-tabs
          style="width: 100vw;"
          v-model="tab"
          inline-label
          no-caps
          class="text-black text-h5 text-weight-light"
        >
          <q-tab  @click="Ongoing" name="Ongoing"  :label="'Ongoing (' +pending.length +')'" />
          <q-tab  @click="History" name="History"  :label="'History('+ delivered.length + ')'" />
<!--          <q-tab  @click="Draft" name="Draft"  label="Draft" />-->

        </q-tabs>


        <q-separator />

      </div>


      <div class="q-mb-xl " v-if="tab === 'Ongoing'" >
        <div v-if="pending.length > 0" class="bg-blue-grey-1">
            <q-list padding class="row res_list">
              <OrderItem :key="res.url" v-for="res in pending" :type="'o'" :res="res" />
            </q-list>
        </div>
        <div v-else class="row">
          <div class="absolute-center">
            <q-item-label class="text-h6"> No Pending Order</q-item-label>
          </div>
        </div>
      </div>
      <div class="q-mb-xl " v-if="tab === 'History'" >

        <div v-if="delivered.length > 0" class="row bg-blue-grey-1">
            <q-list padding class="row res_list">
              <OrderItem :key="res.url" v-for="res in delivered" :type="'h'" :res="res" />

            </q-list>
        </div>
        <div v-else class="row">
          <div class="absolute-center">
            <q-item-label class="text-h6"> No Order History</q-item-label>
          </div>
        </div>
      </div>

    </div>

  </q-page>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import OrderItem from "components/ResOrderItem";
import {firebaseDb} from "boot/firebase";

export default {
  name: 'ResOrder',
  components: {OrderItem},
  data() {
    return {
      text: '',
      tab: 'Ongoing',
      loading:false,
      searching:false,
      res_orders:[],
      all_loaded:true,
      page:2,
      result:'No result for now, search other categories',
      title:'Pick Your Favourites',
    }
  },
  firestore: {
    res_orders: firebaseDb.collection('orders'),
  },
  mounted () {
    // this.getResOrders();
    this.$bind(
      'res_orders',
      firebaseDb.collection('orders')
        .where('res_id', '==', this.currentUser.userId)
    );
  },
  methods : {
    ...mapActions('store', ['getResOrders']),
    Ongoing(){
      this.tab = 'Ongoing';
    },
    History(){
      this.tab = 'History';
    },
    Draft(){
      this.tab = 'Draft';
    },

    Goto(id,name){
      this.$router.push('/restaurant/'+id+'/'+name);
    },
  },
  computed : {
    ...mapState('store', ['categories','currentUser']),
    pending(){
      return this.res_orders.filter(item => {
        return item.delivered === false && !item.cancelled && item.paid
      });
    },
    delivered(){
      return this.res_orders.filter(item => {
        return item.delivered === true && !item.cancelled
      });
    }

  }

}
</script>

<style lang="scss">

.res_list {
  padding-left: 15px; padding-right: 10px
}
.res_img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.res_item {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  padding-right: 10px!important
}
</style>
