<template>
    <q-card bordered class="column" style="width: 500px; border-radius: 10px">
      <q-card-actions align="right" class="bg-white text-teal">
        <q-btn flat icon="close" v-close-popup />
      </q-card-actions>

      <q-card-section>
        <div class="text-h6">Add Address</div>
      </q-card-section>

      <q-separator />

      <q-form @submit="submitForm" class="full-width bg-white q-pa-lg">
        <q-select :rules="[ val => val && val.length > 0 || 'Select type']"
                  class="text-bold"
                  label="Select Type"
                  outlined
                  v-model="formData.type"
                  :options="types"
        />
        <div class="row">
          <div class="col-sm-8">
            <q-input
              outlined
              class="q-mb-sm"
              :rules="[ val => val && val.length > 0 || 'Enter address']"
              v-model="formData.address"
              disable
              label="Address">
            </q-input>
          </div>

          <div class="col-sm-4 float-right">
            <q-btn to="/map" class="q-mb-sm float-right" icon="location_on"></q-btn>
          </div>


        </div>


        <q-input
          v-model="formData.name"
          outlined
          class="q-mb-sm"
          :rules="[ val => val && val.length > 0 || 'Enter Name']"
          type="text"
          label="Name">
          <template v-slot:append>
            <q-icon v-show="formData.name.length > 0" name="cancel" @click.stop="formData.name = ''" class="cursor-pointer" />
          </template>
        </q-input>


        <q-input
          v-model="formData.phone"
          outlined
          :rules="[ val => val && val.length == 11 || 'Enter Valid Phone number']"
          type="text"
          class="q-mb-md"
          label="Phone" />

        <div class="row full-width">
          <q-space />
          <q-btn class="col" rounded
                 :loading="loading"
                 color="primary"
                 type="submit"
                 label="Save" />
        </div>


      </q-form>

    </q-card>
</template>

<script>
import { mapState } from 'vuex'
import { firebaseDb } from 'boot/firebase'
import { LocalStorage } from 'quasar'

export default {
  data(){
    return {
      option : false,
      loading:false,
      types:['home','work','others'],
      formData: {
        name: '',
        address:'',
        phone: '',
        type:'home',
      },
      errors:{},
      has_error: false,
    }
  },
  methods:{
    goto(){
      this.$router.push('/map');
    },
    submitForm(event){
      this.loading = true;
      if(!this.currentUser.addresses){
        this.currentUser.addresses = [];
      }
      this.currentUser.addresses.push(this.formData)
      this.loading = false;
      this.$emit('saved', 'someValue')
      // this.option = false;
      this.$q.notify({
        message: 'Address successfully added',
        color: 'info'
      });

      firebaseDb.collection('users').doc(this.currentUser.userId).set({
        addresses: this.currentUser.addresses
      }, { merge: true });


      this.$store.commit('store/setUserDetail', {
        name: this.currentUser.name,
        phone: this.currentUser.phone,
        addresses:this.currentUser.addresses,
        balance : 0,
        email:this.currentUser.email,
        city:this.currentUser.city,
        avatar: this.currentUser.avatar ?? 'https://cdn.quasar.dev/img/avatar.png',
        is_admin: this.currentUser.is_admin,
        is_res: this.currentUser.is_res,
        userId:this.currentUser.userId,
      })
    }
  },
  mounted () {
    if(LocalStorage.getItem('address') === null){
      this.$router.push('/map');
    }else {
      this.formData.address = LocalStorage.getItem('address');
    }
  },
  name: 'AddAddress',
  computed : {
    ...mapState('store', ['currentUser']),
  }
}
</script>

<style scoped>

</style>
