<template>
<div style="margin-left: 60px; border:1px solid red" class="q-mt-md">
  <q-item-label class="text-h6">ALL FOODS ({{foods.length}})</q-item-label>
  <div v-for="(item,index) in foods" :key="item.id" class="q-pa-sm q-ma-sm" style="border: 1px solid green">
    <p>[{{index+1}}] <span class="text-bold">Name : </span>{{ item.name}}
    <span class="text-bold">[Price : </span>{{ item.price}}]
    <span class="text-bold">[Is Active : </span>{{ item.active ? 'Yes' : 'No' }}]</p>
    <p><span class="text-bold">Description : </span>{{ item.description}}</p>
    <p><span class="text-bold">[Category : </span>{{ item.category}}]
    <span class="text-bold">[Other Categories : </span>{{ item.categories}}</p>
    <p><span class="text-bold">[Is Dinner : </span>{{ item.is_dinner}}]
    <span class="text-bold">[Is Launch : </span>{{ item.is_launch}}]
    <span class="text-bold">[Is Breakfast : </span>{{ item.is_breakfast}}]</p>
    <p><span class="text-bold">Image Link : </span>{{ item.img }}</p>
    <p><span class="text-bold">[Is Diet food : </span>{{ item.is_food_diet ? 'YES' : 'NO' }}]
    <span class="text-bold">[Days Available : </span>{{ item.days }}]</p>
  </div>
</div>
</template>

<script>
import {firebaseDb} from "boot/firebase";

export default {
name: "adminFood",

  data() {
    return {
      foods: [],
    }
  },
  props:['res_id'],
  created() {
    this.getFoods(this.res_id);
  },
  methods : {
    getFoods(res) {
      this.tab = res;
      this.loading = true;
      this.foods = [];
      firebaseDb.collection("foods").where('res_name', '==', res).get().then
      ((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          this.foods.push({...doc.data(), id: doc.id});
        });
        this.loading = false
      });
    },

    getRes(id){
      let docRef = firebaseDb.collection("restaurants").doc(id);
      docRef.get().then((doc) => {
        if (doc.exists) {
          console.log("Document data:", doc.data());
          this.$store.commit('store/setResItem', doc.data());
        }
      }).catch((error) => {
        console.log("Error getting document:", error);
      });
    },
  }
  }
</script>

<style scoped>

</style>
