<template>
    <q-item style="max-width: 92vw;" @click="Goto(res.id,res.name)" clickable class="bg-white res_item shadow-4 text-black q-mt-sm col-12 q-pl-md">

      <q-item-section top thumbnail>
        <img style="" class="full-height res_img q-ml-sm" :src="res.banner">
      </q-item-section>


    <q-item-section>
      <q-item-label class="text-black text-bold">{{ res.name }}</q-item-label>
      <q-item-label lines="2" class="text-weight-light q-mb-md text-black">[{{ res.address }}]</q-item-label>
      <!--      <q-item-label caption lines="4">{{ food.description }}</q-item-label>-->
      <q-rating class=""
                v-model="rating"
                size=""
                color="red"
                readonly
      />
    </q-item-section>

    <q-item-section side top>
      <q-icon name="bookmark" color="warning" size="2.6em" />
      <q-item-label>3.4km</q-item-label>
      <q-item-label class="text-weight-light q-mb-md q-mt-md text-black">[{{ res.delivery_time }} min]</q-item-label>
    </q-item-section>

  </q-item>
</template>

<script>
export default {
name: "FavouriteItem",
  props : ['res'],
  methods : {
    goto(slug){
      this.$router.push(slug);
    },
  }
}
</script>

<style scoped>

</style>
