<template>
  <q-card class="">
    <q-card-section class="row items-center  bg-primary text-white">
      <div class="text-h6 text-uppercase">{{cat }} Search Results</div>
      <q-space />
      <q-btn icon="close" flat round dense v-close-popup />
    </q-card-section>

    <q-card-section class="q-pt-none bg-white text-black">
      <div v-if="foods.length > 0" class="ro bg-white">
        <q-list padding class="row">
          <div
            class="col-xs-12 col-md-6 q-mb-md full-width vertical-middle"
            v-for="item in foods"
            :key="item.url"
            @click="itemSelected = item"
          >
            <FoodItem :key="item.id" :food="item" />
            <q-separator />
          </div>
        </q-list>

      </div>
    </q-card-section>


  </q-card>
</template>

<script>
import FoodItem from "components/FoodSearchItem";
export default {
name: "FoodByCat",
  components: {FoodItem},
  props : ['foods','cat']
}
</script>

<style scoped>

</style>
