<template>
  <div>

    <template v-if="small">
      <q-card  class="my-card food" style="border-radius: 5px">
        <div v-ripple @click="addCart(food)"  class="cursor-pointer relative-position">
<!--        <div style="border-radius: 5px" class="">-->
<!--          <q-img style="height: 100px;" :src="food.img"  />-->
<!--        </div>-->
        <q-card-section class="food_name" style="padding: 5px 3px!important;">
          <q-item-label  class="text-center text-capitalize" lines="3">
            {{ food.name }}
          </q-item-label>
          <q-item-label class="text-center text-bold text-negative">
            ₦{{ food.price }}
          </q-item-label>
        </q-card-section>
        </div>

      </q-card>
    </template>
    <template v-else>
      <q-item class="full-width">
<!--        <q-item-section top thumbnail>-->
<!--          <q-img class="food_image" spinner-color="primary" style="border-radius: 15px" :src="food.img" />-->
<!--        </q-item-section>-->
        <q-item-section>
          <q-item-label lines="2" class="text-black text-bold text-capitalize">{{ food.name }} </q-item-label>
          <q-item-label v-if="!is_res" class="">[{{ food.res_name }}]</q-item-label>
          <q-item-label style="font-size: 0.9em" lines="4" class="text-weight-light">{{ food.description }}</q-item-label>
          <q-item-label class="text-primary text-bold">₦ {{ formatPrice(food.price) }}</q-item-label>


          <!--        <div class="row text-gray-5" >-->
          <!--          <div class="col-sm-3">-->
          <!--          </div>-->
          <!--          <div class="col-sm-1">-->
          <!--            <q-btn class="" size="" dense label="|" flat />-->
          <!--          </div>-->
          <!--          <div class="col-sm-4">-->
          <!--            <q-btn class=" text-bold" icon="shopping_bag" dense size="" color="primar text-black full-width" dens label="0" flat />-->
          <!--          </div>-->
          <!--          <div class="col-sm-1">-->
          <!--            <q-btn class="" size="" dense label="|" flat />-->
          <!--          </div>-->
          <!--          <div class="col-sm-3">-->
          <!--            <q-btn class="" icon="thumb_up" dense label="0" flat />-->
          <!--          </div>-->
          <!--        </div>-->

        </q-item-section>
        <q-item-section side top>
          <q-btn
            class="float-right no-radius"
            @click=""
            color="black"
            flat
            dense
            size="19px"
            icon="bookmark_border">
          </q-btn>

          <q-btn
            class="float-right no-radius"
            to="/carts"
            color="primary"
            v-if="existsInCart(food.id)"
            flat
            dense
            size="19px"
            icon="preview">
          </q-btn>
          <q-btn
            class="float-right q-mt-sm no-radius"
            @click="addCart(food)"
            color="primary"
            v-else
            flat
            dense
            size="19px"
            icon="add_circle">
          </q-btn>



          <!--        <q-item-label v-if="existsInCart(food.id)" @click="Goto()" class="absolute-top-right bg-dark" clickable >View cart</q-item-label>-->
          <!--        <q-item-label v-else @click="AddToCart(food)" class="absolute-top-right bg-dark" clickable >Add to Cart </q-item-label>-->

        </q-item-section>
      </q-item>
    </template>

    <q-dialog
      v-model="option"
      full-height
    >
      <q-card bordered class="column full-height" style="width: 500px; border-radius: 10px">

        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="OK" v-close-popup />
        </q-card-actions>

        <q-card-section>
          <div class="text-h6">Add new item</div>
        </q-card-section>

        <q-separator />

        <q-card-section class="col q-pt-none">
          <q-item>
<!--            <q-item-section top thumbnail>-->
<!--              <img alt="prokichen" class="food_image full-height" style="border-radius: 15px" :src="selected.img">-->
<!--            </q-item-section>-->

            <q-item-section>
              <q-item-label class="text-black text-capitalize">{{ selected.name }}</q-item-label>
              <q-separator class="q-mt-sm q-mb-sm" />
              <q-item-label class="text-black text-capitalize">{{ selected.description }}</q-item-label>


              <q-item-label>
                <q-btn class="float-left text-bold" size="" color="primary" dense :label="'₦'+selected.price" flat />
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <div class="float-right" >
                <q-btn @click="increaseQty()" outline dense size="12px" color="warning" icon="add" />
                <q-item-label class="q-ma-sm">{{ selected.qty }}</q-item-label>
                <q-btn outline @click="decreaseQty" dense size="12px" color="warning" icon="remove" />
              </div>
            </q-item-section>

          </q-item>
          <q-separator />


          <div class="q-pt-md" v-if="selected.variants.length > 0">
            <q-item-label class="text-bold q-mb-sm">Options</q-item-label>
            <q-separator />

            <div class="q-gutter-sm">
              <q-radio v-for="(item,index) in selected.variants" :key="index" v-model="selected.variant" :val="item" :label="item" />
            </div>

            <div class="q-px-sm" v-if="selected.variant">
              Selected : <strong>{{ selected.variant }}</strong>
            </div>


          </div>
        </q-card-section>

        <div class="bg-primary q-pa-sm">
          <q-item v-ripple>
            <q-item-section class="text-bold text-black">
              {{ qty }} Item <br/>
              <span class="text-white"> ₦{{ parseInt(selected.price) * selected.qty  }}</span>
            </q-item-section>
            <q-item-section side>
              <q-btn label=" Add to cart" @click="saveCart()" color="white" dense flat />

            </q-item-section>
          </q-item>
        </div>

      </q-card>
    </q-dialog>


  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { firebaseDb } from 'boot/firebase'

export default {
  props: ["food", 'small','is_res'],
  name: 'FoodItem',
  data() {
    return {
      option:false,
      val:'',
      selected: {
        variants : [],
      },
      qty:1,
    };
  },
  mounted() {

  },
  methods: {
    ...mapActions('store', ['addToCart','getCarts']),
    saveCart(){
      this.$q.loading.show();
      this.selected.date = Date.now();
      this.addToCart(this.selected).then(response => {
        this.$q.loading.hide()
        this.$q.notify({
          message: 'Item successfully added to cart',
          color: 'positive'
        });
        this.option = false
        this.getCarts()
      }).catch(error => {
        this.$q.loading.hide()
        this.$q.notify({
          message: error,
          color: 'negative'
        });
      });
      // this.$q.loading.hide();
      // this.option = false
    },

    addCart(item){
      if(this.carts.length > 0){
        if(this.carts[0].res_name !== item.res_name){
          this.$q.notify({
            message: 'Please checkout your '+ this.carts[0].res_name + ' order to order from this restaurant',
            color: 'negative'
          });

          this.$router.push('/carts')

        }else{
          this.selected = item;
          this.selected.variants = item.variants ?? [];
          this.selected.qty = 1;
          this.selected.variant = '';
          this.qty = 1;
          this.option = true;
        }
      }else {
        this.selected = item;
        this.selected.variants = item.variants ?? [];
        this.selected.qty = 1;
        this.qty = 1;
        this.option = true;
      }

    },
    increaseQty(){
      this.selected.qty = this.selected.qty+1;
      this.qty++
    },
    decreaseQty(){
      if(this.selected.qty > 1){
        this.selected.qty--;
        this.qty--
      }
    },
    Goto(){
      this.$router.push('/cart')
    },
    existsInCart(id){
      let index = this.carts.findIndex( (cart) => {
        if(cart.id === id){
          return true
        }
      });
      if(index !== -1) {
        return true
      }else {
        return false
      }
    },
    formatPrice(value) {
      let val = (value/1).toFixed(2).replace('.', '.')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    },
  },
  computed : {
    ...mapState('store', ['carts','currentUser']),
  }
};
</script>
<style lang="scss">
.add_cart {
  color: #d03d21b8;
}
.food_image {
  width: 90px!important;
  height: 80px!important;
}
@media screen and (min-width: 768px) {
  .food_image {
    width: 350px;
  }
}
</style>
