<template>
  <q-card class="my-card food" style="border-radius: 5px">
    <div style="border-radius: 5px" class="food-img-sm" v-bind:style="{ backgroundImage: 'url(' + food.img + ')',backgroundPosition:'center center',backgroundSize:'cover',backgroundRepeat:'no-repeat'}">
    </div>
    <q-card-section class="food_name" style="padding: 5px 3px!important;">
      <q-item-label  class="text-center" lines="3">
        {{ food.name }}
      </q-item-label>
      <q-item-label class="text-center text-bold text-negative">
        ₦{{ food.price }}
      </q-item-label>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "Food",
  props:['food'],
  methods: {
    Goto(item){
      this.$store.commit("store/update_food", item);
      this.$router.push('/food/'+item.id+'/details');
    }
  },
}
</script>

<style scoped>

</style>
