<template>
  <q-item style="max-width: 92vw;" clickable class="bg-white res_item shadow-4 text-black q-mt-sm col-12 q-pl-md">

    <q-item-section class="q-mt-md q-mb-md q-pl-md" >
      <q-item-label lines="1" class="text-black text-bold">{{ fDate(res.order_id) }}</q-item-label>
      <q-item-label lines="1" class="text-black text-weight-light">{{ res.address.name }} => {{ res.address.phone }}</q-item-label>

      <q-item-label lines="1" class="text-bold q-mb-sm text-black"> <span class="text-secondary"></span> {{ res.res_name }} </q-item-label>
<!--      <q-item-label v-show="type == 'd'" lines="1" class="text-weight-light q-mb-sm text-black"> <q-icon name="location_on" /> {{ res.res_address }}</q-item-label>-->
<!--      <q-item-label caption>{{ res.res_phone }} </q-item-label>-->
      <q-item-label caption lines="2">{{ res.res_address }}</q-item-label>
      <q-item-label class="text-bold" caption>{{ res.items.length }} item(s)</q-item-label>
      <template v-if="res.paid">
        <q-item-label class="text-bold" :class="res.status === 'awaiting restaurant' ? 'text-secondary' : 'text-info'" caption>Status : {{ res.status }}</q-item-label>
      </template>
      <template v-else>
        <q-item-label v-if="!res.paid" class="text-bold text-negative">UNPAID</q-item-label>
      </template>
    </q-item-section>

    <q-item-section side>

      <q-btn
        class="float-right no-radius"
        color="primary"
        @click="viewOrder(res)"
        flat
        dense
        size="19px"
        icon="preview">
      </q-btn>

      <q-btn
        class="float-right no-radius"
        color="info"
        v-if="res.paid && !res.cancelled"
        @click="goto(res)"
        flat
        dense
        size="19px"
        icon="preview">
      </q-btn>
      <q-btn
        v-if="!res.paid && !res.cancelled"
        dense
        @click="pay(res)"
        label="PAY Now"
        color="primary">
      </q-btn>

    </q-item-section>

    <q-dialog
      v-model="showItem"
    >
      <q-card class="justify-center" style="width: 300px">
        <q-card-section>
          <div class="text-h6">Order Details</div>
          <q-item-label>Customer : {{ res.address.name }} => {{ res.address.phone }}</q-item-label>
          <q-item-label>Address : {{ res.address.address }} </q-item-label>
          <q-item-label class="q-mt-lg text-bold ">Restaurants : </q-item-label>
          <q-item-label class="q-mt-md">{{ res.res_name }} => {{ res.res_address }}</q-item-label>

          <template v-if="res.paid">
            <q-item-label class="text-bold" :class="res.status === 'awaiting restaurant' ? 'text-secondary' : 'text-info'" caption>Status : {{ res.status }}</q-item-label>

            <q-item-label class="q-qt-md text-secondary">Delivery Status : {{ res.delivered ? 'Delivered' : 'Pending' }}</q-item-label>

          </template>
          <template v-else>
            <q-item-label v-if="!res.paid" class="text-bold text-negative">UNPAID</q-item-label>
          </template>

        </q-card-section>
        <q-card v-for="item in res.items" :key="item.id+'od'" flat bordered class=" my-card">
          <q-item class="">
            <q-item-section>
              <q-item-label lines="2">{{ item.name }}</q-item-label>
              <q-item-label>Qty : {{ item.qty }}</q-item-label>

            </q-item-section>
            <q-item-section side top>
              <q-item-label>₦{{ item.price }}</q-item-label>
              <q-item-label>x{{ item.qty }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card>

        <q-item class="text-bold bg-default" v-ripple >
          <q-item-section >
            SubTotal
          </q-item-section>
          <q-item-section side>₦{{ res.total}}</q-item-section>
        </q-item>

        <q-item  class="text-bold bg-default" v-ripple >
          <q-item-section >
            Delivery Fee
          </q-item-section>
          <q-item-section side>₦{{ res.shipping }} </q-item-section>
        </q-item>
        <q-item v-if="res.charge" class="text-bold bg-default" v-ripple >
          <q-item-section >
            Service Charge
          </q-item-section>
          <q-item-section side>₦{{ res.charge }} </q-item-section>
        </q-item>
        <q-item class="text-bold bg-default" v-ripple >
          <q-item-section >
            Total
          </q-item-section>
          <q-item-section side>₦{{ res.grand_total }}</q-item-section>
        </q-item>
        <q-item class="text-bold text-secondary bg-default" v-ripple >
          <q-item-section >
            Payment Status
          </q-item-section>
          <q-item-section side>{{ res.paid ? 'Paid' : 'Unpaid' }}</q-item-section>
        </q-item>

      </q-card>
    </q-dialog>

  </q-item>
</template>

<script>
import { mapState } from 'vuex'
import {date} from "quasar";

export default {
name: "OrderItem",
  props : ['res','type'],
  data (){
  return {
    showItem:false,
  }
  },
  methods : {
    fDate(item){
      return date.formatDate(Date.now(), 'YYYY-MM-DD HH:mm')
    },
    goto(item){
      this.$store.commit("store/setOrderDetails",item)

      this.$router.push(`order/details/${item.id}`);
    },
    pay(item){
      item.order_id = item.id;
      this.$store.commit('store/setNewOrder', item);

      this.$router.push('/make/payment')
    },
    viewOrder(item){
      this.showItem = true;
    },
    track(item){
      this.$store.commit("store/setOrderDetails",item)
      this.$router.push(`order/track/new`);
    },
  },
  computed : {
    ...mapState('store', ['currentUser']),
  }

}
</script>

<style scoped lang="scss">
.res_img {
  padding-top: 30px!important;
  padding-bottom: 30px!important;
  padding-left: 5px!important;
}
</style>
