<template>
  <div class="justify-center">
<!--    <div class="">-->
<!--      <q-input class="q-mb-md"-->
<!--        v-model.number="amount"-->
<!--        type="number"-->
<!--        label="Amount : - "-->
<!--        filled-->
<!--        hint="Payment gateway charges applies"-->
<!--        prefix="₦"-->
<!--        :rules="[val => !!val || 'Amount is required']"-->
<!--      />-->
<!--    </div>-->
    <template class="q-mt-md" v-if="payAmount > 0">
      <paystack
        :amount="payAmount"
        :email="currentUser.email"
        :paystackkey="paystackkey"
        :reference="reference"
        :callback="callback"
        :close="close"
        :embed="false"
      >
        <q-icon style="font-size: 1.3em;" name="account_balance_wallet" />
        Make Payment
      </paystack>
    </template>
    <template v-else>
      <div class="bg-warning q-pa-md" >
        <q-item-label>You cant pay ₦{{ amount }}, Minimum payable amount is <span class="text-bold">100</span> </q-item-label>
      </div>
    </template>
  </div>
</template>

<script>
  import { mapState,mapActions } from 'vuex'
  import paystack from 'vue-paystack';
    export default {
      name: "PaystackPay",
      props: ['amount'],
      data(){
        return {
          paystackkey: "pk_live_781e722b352938ed9ba1f99614506bb384971914", //paystack public key
          // amount: 1000
        }
      },
      components: {
        paystack
      },
      methods : {
        ...mapActions('store', ['getCurrentUser']),
        callback: function(response){
          if(response.status == 'success'){
            this.updateEwallet(response.reference, response.status)
          }else {
            this.$q.notify({
              message: response.message,
              color: 'red',
            });
          }
        },
        close: function(){
          console.log("Payment closed")
        },
        updateEwallet(ref,status){
          this.$axios.post("/transaction/store", {amount : this.amount,reference : ref, status: status})
            .then(resp => {
            this.$q.notify({
              message: this.amount+' Successfully funded to Account ',
              color: 'secondary',
            });
            // this.loading = false;
            this.getCurrentUser();
            // this.prompt = false
          }).catch(error => {
            // this.loading = false;
            // this.prompt = false
          });
        }
      },
      computed :{
        ...mapState('store', ['currentUser']),
        payAmount(){
          if(this.amount < 100){
            return 0
          }
          return (parseInt(this.total_fee) * 100);
        },

        total_fee(){
          // return this.format_money(((parseInt(this.amount) + 100) / 0.985));
          return ((parseInt(this.amount) + 100) / 0.9849);
          // return ((parseInt(this.amount) + 100) / 0.985);
        },
        service_charge(){
          return this.total_fee - parseInt(this.amount);
          // return this.format_money(this.total_fee - parseInt(this.amount));
        },

        reference(){
          let text = "";
          let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

          for( let i=0; i < 10; i++ )
            text += possible.charAt(Math.floor(Math.random() * possible.length));

          return text;
        }
      }
    }
</script>

<style scoped>
  .payButton {
    background: #F2C037 !important;
    display: inline-block;
    position: relative;

    border: 0;
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    line-height: 1.715em;
    text-decoration: none;

    overflow: visible;
    font-weight: 500;
    text-transform: uppercase;

  }
</style>
