<template>
  <q-item style="max-width: 92vw;" clickable class="bg-white  shadow-4 text-black q-mt-sm q-pa-md col-12 q-pl-md">



    <q-item-section class="q-mt-md q-mb-md" >
      <q-item-label lines="1" class="text-black text-bold">{{ res.order_id ? fDate(res.order_id) : '' }}</q-item-label>
      <q-item-label lines="1" class="text-black text-bold">{{ res.address.name }} => {{ res.address.phone }}</q-item-label>

      <q-item-label lines="1" class="text-bold q-mb-s text-black"> <span class="text-secondary"></span> {{ res.res_name }} </q-item-label>
      <q-item-label lines="2" caption>{{ res.res_address }}</q-item-label>
      <q-item-label class="text-bold" caption>{{ res.items.length }} item(s)</q-item-label>
      <template v-if="res.paid">
        <q-item-label :class="res.status === 'awaiting restaurant' ? 'text-secondary' : 'text-info'" caption>Status : {{ res.status }}</q-item-label>
      </template>
      <template v-else>
        <q-item-label v-if="res.cancelled" :class="res.status === 'awaiting restaurant' ? 'text-secondary' : 'text-info'" caption>Status : {{ res.status }}</q-item-label>
        <q-item-label class="text-secondary">Unpaid</q-item-label>
      </template>
    </q-item-section>

    <q-item-section side>

      <q-btn
        class="float-right no-radius"
        color="primary"
        @click="viewOrder(res)"
        flat
        dense
        size="19px"
        icon="preview">
      </q-btn>

<!--      <q-btn  class="float-right" @click="confirm(res)" color="red" size="19px" flat dense round icon="delete" />-->


    </q-item-section>

    <q-dialog
      v-model="showItem"
    >
      <q-card class="justify-center" style="width: 300px">
        <q-card-section>
          <div class="text-h6">Order Details</div>
          <q-item-label>Customer : {{ res.address.name }} => {{ res.address.phone }}</q-item-label>
          <q-item-label><span class="text-bold">Address</span> : {{ res.address.address }} </q-item-label>
          <q-item-label><span class="text-bold">House </span> : {{ res.house }} </q-item-label>

          <div class="q-mt-md q-mb-md">
            <q-item-label class="q-mt-md  text-h6">Restaurants : </q-item-label>
            <q-item-label class="q-mt-md">{{ res.res_name }}</q-item-label>
            <q-item-label class="q-mt-md">{{ res.res_phone }} </q-item-label>
            <q-item-label>{{ res.res_address }}</q-item-label>
          </div>


          <q-item-label class="q-qt-md text-secondary">Delivery Status : {{ res.delivered ? 'Delivered' : 'Pending' }}</q-item-label>
          <q-item-label class="q-qt-md text-secondary">Status : {{ res.status }}</q-item-label>
        </q-card-section>
        <q-card v-for="item in res.items" :key="item.id+'od'" flat bordered class=" my-card">
          <q-item class="">
            <q-item-section>
              <q-item-label lines="2">{{ item.name }}</q-item-label>
              <q-item-label>Qty : {{ item.qty }}</q-item-label>

            </q-item-section>
            <q-item-section side top>
              <q-item-label>₦{{ item.price }}</q-item-label>
              <q-item-label>x{{ item.qty }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card>


        <template v-if="currentUser.is_admin">

          <q-item v-if="res.coupon" class="text-bold bg-default" v-ripple >
            <q-item-section >
              Coupon
            </q-item-section>
            <q-item-section side>{{ res.coupon}}</q-item-section>
          </q-item>

          <q-item class="text-bold bg-default" v-ripple >
            <q-item-section >
              SubTotal
            </q-item-section>
            <q-item-section side>₦{{ res.total}}</q-item-section>
          </q-item>
          <q-item v-if="res.food_coupon" clickable class="text-bold bg-default" v-ripple >
            <q-item-section >
              Food Discount
            </q-item-section>

            <q-item-section side>{{ res.food_coupon }} <span v-if="!res.is_amt">%</span></q-item-section>
          </q-item>
          <q-item  class="text-bold bg-default" v-ripple >
            <q-item-section >
              Delivery Fee
            </q-item-section>
            <q-item-section side>₦{{ res.shipping }} </q-item-section>
          </q-item>
          <q-item v-if="res.charge" class="text-bold bg-default" v-ripple >
            <q-item-section >
              Service Charge ({{ res.charge_percent}}) <span v-if="!res.is_amt">%</span>
            </q-item-section>
            <q-item-section side>₦{{ res.charge }} </q-item-section>
          </q-item>
          <q-item v-if="res.shipping_coupon" clickable class="text-bold bg-default" v-ripple >
            <q-item-section >
              Delivery Discount
            </q-item-section>

            <q-item-section side>{{ res.shipping_coupon }} %</q-item-section>
          </q-item>
          <q-item class="text-bold bg-default" v-ripple >
            <q-item-section >
              Total
            </q-item-section>
            <q-item-section side>₦{{ res.grand_total }}</q-item-section>
          </q-item>
          <q-item class="text-bold text-secondary bg-default" v-ripple >
            <q-item-section >
              Payment Status
            </q-item-section>
            <q-item-section side>{{ res.paid ? 'Paid' : 'Unpaid' }}</q-item-section>
          </q-item>

          <q-item class="row" v-if="!res.delivered">
            <div class="q-gutter-sm" v-if="res.status === 'awaiting restaurant'">
              <q-btn color="info" @click="accept(res)" class="full-width" label="Accept Order"></q-btn>

              <q-btn class="q-mt-mb full-width" @click="cancel(res)" color="secondary" label="Cancel Order"></q-btn>
            </div>
            <div class="q-gutter-sm" v-else>
              <q-btn color="info" @click="deliver(res)" class="full-width" label="Deliver Order"></q-btn>

            </div>

          </q-item>
        </template>

        <template v-else>

          <q-item class="text-bold bg-default" v-ripple >
            <q-item-section >
              Total
            </q-item-section>
            <q-item-section side>₦{{ res.total}}</q-item-section>
          </q-item>
          <q-item class="text-bold text-secondary bg-default" v-ripple >
            <q-item-section >
              Status
            </q-item-section>
            <q-item-section side>{{ res.status }}</q-item-section>
          </q-item>

          <q-item class="row" >
            <div class="q-gutter-sm" v-if="res.status === 'awaiting restaurant'">
              <q-btn color="info" @click="accept(res)" class="full-width" label="Accept Order"></q-btn>

              <q-btn class="q-mt-mb full-width" @click="cancel(res)" color="secondary" label="Cancel Order"></q-btn>
            </div>

          </q-item>
        </template>


      </q-card>
    </q-dialog>

  </q-item>
</template>

<script>
import { mapState } from 'vuex'
import {firebaseDb} from "boot/firebase";
import { date } from 'quasar'

export default {
name: "OrderItem",
  props : ['res','type'],
  data (){
  return {
    showItem:false,
  }
  },
  methods : {
    goto(id){
      this.$router.push(`order/details/${id}`);
    },
    fDate(item){
      return date.formatDate(parseInt(item), 'YYYY-MM-DD HH:mm')
    },
    accept(item){
      firebaseDb.collection('orders').doc(item.id).set({
        status: 'Order Accepted'
      }, { merge: true });
      this.$q.notify({
        message: 'Order accepted, riders will arrive soon',
        color: 'info'
      });
      this.showItem = false;

    },
    deliver(item){
      firebaseDb.collection('orders').doc(item.id).set({
        status: 'Order Delivered', delivered : true
      }, { merge: true });
      this.$q.notify({
        message: 'Order mark as delivered',
        color: 'info'
      });
      this.showItem = false;

    },
    cancel(item){
      firebaseDb.collection('orders').doc(item.id).set({
        cancelled: true, status : 'Cancelled by '+this.currentUser.name
      }, { merge: true });
      this.showItem = false;
      this.$q.notify({
        message: 'Order successfully cancelled',
        color: 'secondary'
      });
    },
    viewOrder(item){
      this.showItem = true;
    },
    track(item){
      this.$store.commit("store/setOrderDetails",item)
      this.$router.push(`order/track/new`);
    },
    confirm (item) {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Are you sure you want to delete this order ?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.delete(item)
      })
    },
    delete(item){
      this.$q.loading.show();
      firebaseDb.collection("orders").doc(item.id).delete().then(()=>{
        this.$q.notify({
          message: 'Order successfully deleted',
          color: 'info'
        });
        this.$q.loading.hide();

      }).catch(error => {
        this.$q.loading.hide()
        this.$q.notify({
          message: 'Something went wrong',
          color: 'negative'
        });
      })
    },
  },
  computed : {
    ...mapState('store', ['currentUser']),
  }

}
</script>

<style scoped>

</style>
