<template>
  <div class="col" style="min-height: 200px">
    <div  class="content-center ">
      <q-input  class=" q-ml-xl bg-white full-width" :class="$q.dark.isActive ? 'bg-black' : ''" debounce="500" filled :standout="$q.dark.isActive ? 'bg-black' : 'bg-white'" v-model="keyword" placeholder="Search">
        <template v-slot:prepend>
          <q-icon name="clear" class="cursor-pointer" @click="keyword = ''" />
        </template>
        <template v-slot:append>
          <q-icon  name="search" class="cursor-pointer" @click="search" />
        </template>
      </q-input>

    </div>
    <div class="absolute-center" v-if="!searching && results === 1">
      Start typing .....
    </div>
    <div class="absolute-center" v-if="!searching && results === 0">
      No result found for {{ keyword }}
    </div>

    <div v-if="searching" class="column items-center col-md-12">
      <div class="q-ma-lg">
        <q-item-label>
          Searching <q-spinner-dots
          color="primary"
          size="2em"
        />
        </q-item-label>
      </div>
    </div>
    <div v-if="results != 1" class="column">
      <q-item-label class="text-center q-mt-md q-mb-md">Search Results</q-item-label>
      <div v-if="results.length">
<!--        <q-item-label class="float-right q-mt-sm q-mb-md text-bold text-primary">PRODUCTS</q-item-label>-->
        <q-separator />
        <q-list bordered separator class="q-mb-sm">
          <q-item clickable v-for="item in results" :key="item.id" v-ripple @click="Goto(item)">
            <q-item-section side top>
              <q-img style="height: 60px; width: 60px" :src="item.thumbnail_image"/>
            </q-item-section>

            <q-item-section>
              <q-item-label>{{ item.name }}</q-item-label>
              <q-item-label>₦{{ formatPrice(item.base_discounted_price)  }}</q-item-label>
              <!--              <q-separator />-->
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <div v-if="results.categories">
        <q-item-label class="float-right q-mb-xl q-mt-md text-bold text-primary">CATEGORIES</q-item-label>
        <q-list separator class="q-mb-sm q-mt-md ">
          <q-item clickable v-for="item in results.categories.data" :key="item.id" v-ripple  @click="GotoCat(item.id)" >

            <q-item-section side top>
              <q-img style="height: 60px; width: 60px" :src="item.icon"/>
            </q-item-section>

            <q-item-section>
              <q-item-label>{{ item.name }}</q-item-label>
              <!--              <q-item-label>{{ item.price_formatted  }}</q-item-label>-->
              <!--              <q-separator />-->
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <div v-if="results.categories">
        {{ results.categories.length }}
      </div>
    </div>
    <!--{{ results }}-->
  </div>
</template>

<script>
    export default {
        name: "Search",
      data () {
        return {
          results : 1,
          keyword:'',
          searching:false,
        }
      },
      methods : {
        GotoCat(id){
          this.$router.push('/category/'+id+'/products');
        },
        formatPrice(value) {
          let val = (value/1).toFixed(2).replace('.', '.')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        Goto(item){
          this.$store.commit("store/update_product", item);
          this.$router.push('/product/'+item.id+'/details');
        },
        search(){
          this.searching = true;
          this.title = 'Search results for '+this.text;
          this.result = 'No result found for keyword ,'+this.text +' search by categories rather';
          this.$axios.get('/products/search',{ key: this.keyword }).then((resp) => {
            this.results = resp.data.data;
            console.log(resp.data.data)
            this.searching = false;
          })
        }
      }
    }
</script>

<style scoped>

</style>
