<template>
<div>

      <q-item-label class="text-capitalize" lines="1">{{  item.name }}</q-item-label>
      <q-item-label lines="1">{{  item.email }}</q-item-label>
      <q-item-label lines="1">{{  item.phone }}</q-item-label>
      <q-item-label class="text-bold" lines="1" v-if="item.is_res">Res Owner</q-item-label>
      <q-item-label class="text-bold" lines="1" v-if="item.is_admin">Admin</q-item-label>
      <q-item-label class="text-bold" lines="1" v-if="!item.is_admin && !item.is_res">User</q-item-label>

<!--    <q-item-section side>-->

<!--      <q-btn  class="" @click="confirm(item)" color="red" size="12px" flat dense round icon="delete" />-->

<!--    </q-item-section>-->

</div>
</template>

<script>
export default {
  props : ['item'],
name: "UserItem"
}
</script>

<style scoped>

</style>
