// app global css in SCSS form

.no-border {
  border-radius: 0;
}

.body--light {
  /* ... */
}

.body--dark {
  background: #000
}

.dim_img{
  filter: brightness(30%);
}

.text-h6 {
  //font-weight: 400;
  letter-spacing: 0.0025em;
}

.home-tab {
  .q-tab__label {
    font-weight: 500!important;
    font-size: 14px;
  }
}
.max-bottom {
  margin-bottom: 50px;
}

.auth-logo {
  height: 60px;
  width: 60px;
}

.home-slider {
  min-height: 200px;
}

.q-tab {
  text-transform: none;
  font-weight: lighter;
}

a {
  color: black;
  text-decoration: none;
}
.q-card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.12);
}
.food {
  .food-img {
    height: 120px !important;
  }
  .food-img-sm {
    height: 80px !important;
  }
}
.q-page {
  //margin-bottom: 50px;
  background-color: #9e9e9e14;

}


.account-head {
  /*padding-top: 10px;*/
  height: 100px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}


.top_brand {
  .food {
    height: 130px;
  }
  .bottom {
    min-height: 65px;
  }
}

.food_name{
  min-height: 80px!important;
}

@media screen and (min-width: 768px) {
  .food .food-img{
    height: 300px!important;
  }

  .auth-logo {
    height: 120px;
    width: 120px;
  }

  .home-slider {
    min-height: 300px;
  }

  .top_brand {
    .bottom {
      min-height: 75px;
    }
  }


}




