<template>
  <q-page class="">
    <div class="q-pa-lg">
      <q-item-label class="text-h5">Select Date</q-item-label>
    </div>
    <div class="row bg-white justify-center q-pa-md" style="max-width: 800px; width: 100%; overflow: hidden;">
      <div class="q-gutter-sm q-mt-m">

        <q-btn-toggle
          class="full-width"
          spread
          v-model="selectedDate"
          toggle-color="primary"
          color="white"
          text-color="black"
          :options="[
          {label: 'Mon', value: 'min'},
          {label: 'Tues', value: 'tues'},
          {label: 'Wed', value: 'wed'},
          {label: 'Thurs', value: 'thurs'},
        ]"
        />
        <q-btn-toggle
          class="full-width"
          spread
          v-model="selectedDate"
          toggle-color="primary"
          color="white"
          text-color="black"
          :options="[
          {label: 'Fri', value: 'fri'},
          {label: 'Sat', value: 'sat'},
          {label: 'Sun', value: 'sun'}
        ]"
        />
      </div>
    </div>

    <div class="q-pa-lg">
      <q-item-label class="text-h6">Select Type of Diet</q-item-label>
    </div>

    <div class="row bg-white justify-center q-pa-lg">
      <div class="q-gutter-lg full-width">
        <q-btn-toggle
          class="full-width"
          spread
          v-model="type"
          toggle-color="primary"
          color="white"
          text-color="black"
          :options="[
          {label: 'Breakfast', value: 'breakfast'},
          {label: 'Lunch', value: 'lunch'},
          {label: 'Dinner', value: 'dinner'}
        ]"
        />
      </div>
    </div>

<!--    <div class="q-pa-lg">-->
<!--      <q-item-label class="text-h5">Select Delivery Time</q-item-label>-->
<!--    </div>-->

    <div class="row bg-white justify-center q-pa-sm q-pb-md">

      <q-btn :to="'/book/result/' + $route.params.restaurant" label="search" class="q-mt-lg" rounded color="primary" />

    </div>


  </q-page>

</template>

<script>
export default {
  name: "BookFood",
  data () {
    return {
      calendar:'',
      days:['Mon','Tues','Wed','Thurs','Fri','Sat','Sun'],
      time:'8:00am',
      selectedDate: '',
      model: 'one',
      type:'breakfast',
      secondModel: 'one'
    }
  }
}
</script>

<style lang="scss" scoped>
.my-custom-toggle{
  border: 1px solid #027be3
}
</style>
