<template>
  <q-page class="">

    <div class="absolute-center" v-show="loading">
      <img style="height: 200px"  src="~assets/loader-2_food.gif" />
    </div>


    <div class="column" v-if="!loading">

      <q-parallax class="p-height" :height="270" :speed="0.5">


        <template v-slot:media>
          <!--          <img :src="$url+'/images/banner.png'" />-->
          <img class="dim_img" :src="restaurant.img" />

        </template>


        <div class="row q-pa-sm">
          <div class="col-12">
            <q-item-label style="font-size: 2.0em" class="text-white text-capitalize bg-text">{{ restaurant.name }}</q-item-label>
            <q-item-label lines="1" v-if="restaurant.type" class="text-black text-capitalize text-bold">[{{ restaurant.type }}]</q-item-label>
          </div>
          <div class="col-12">
            <q-item-label class="text-white bg-text q-mt-sm text-bold">
              <q-icon size="19px" name="location_on" />
              {{ restaurant.address }}</q-item-label>

            <q-item-label class="text-white bg-text q-mt-md text-bold">
              <q-rating v-model="stars" :max="1" size="19px" />
              {{  restaurant.ratings }} (123 Reviews)
            </q-item-label>
          </div>

        </div>

        <div class="absolute-bottom bg-white justify-around home-tab">
          <q-tabs
            style="width: 100vw;"
            v-model="tab"
            inline-label
            no-caps
            class="text-primary text-bold shadow-2"
          >
            <q-tab  @click="getFoods" name="is_breakfast"  label="BreakFast" />
            <q-tab  @click="getLaunch" name="is_launch"  label="Lunch" />
            <q-tab  @click="getDinner" name="is_dinner"  label="Dinner" />

          </q-tabs>
          <q-separator />

        </div>
      </q-parallax>


      <div class="q-mb-xs q-ml-sm" style="margin-bottom: 100px">
        <div v-if="searching" class="column items-center col-md-12">
          <div class="q-ma-lg">
            <q-item-label class="q-pt-mt text-h5">
              Searching <q-spinner-dots
              color="primary"
              size="2em"
            />
            </q-item-label>
          </div>
        </div>


        <div v-if="!searching && foods.length > 0" class="section">

          <div v-if="foods.length > 0" class="">

            <div v-for="(items, category, index) in sortedFoods">

              <div class="row q-pt-md q-mr-sm">
                <div class="col-10">
                  <q-item-label style="font-size: 1.2em" class="text-bold text-black">
                    {{ category }}
                  </q-item-label>
                </div>
                <div class="col-2 float-right">
                  <q-item-label  style="font-size: 1.2em" class="float-right text-warning text-bold">
                    <!--                    See all-->
                    <q-btn flat color="secondary" @click="toggle(index)" :icon="isOpenIndex === index ? 'expand_more' : 'expand_less'" />

                  </q-item-label>
                </div>
              </div>

              <q-separator />

              <q-list padding class="row" v-show="isOpenIndex === index">
                <div
                  class="col-xs-12 col-md-6 q-mb-md full-width vertical-middle"
                  v-for="item in items"
                  :key="item.url"
                  @click="itemSelected = item"
                >
                  <FoodItem :key="item.id" :food="item" />
                  <q-separator />
                </div>
              </q-list>
            </div>
          </div>
          <div v-else class="row">
            <div v-if="!searching" class="column items-center col-md-12">
              <div class="row q-mb-xl justify-around">
                <q-item-label class="q-mt-md text-center">{{ result }}</q-item-label>
              </div>
            </div>
          </div>
        </div>


        <div v-if="!searching && foods.length < 1">
          <div class="row">
            <q-item-label class="text-center absolute-center">No meal found</q-item-label>
          </div>
        </div>

        <div v-if="loading" class="column items-center col-md-12">
          <div class="q-ma-lg">
            <q-item-label>
              Loading <q-spinner-dots
              color="primary"
              size="2em"
            />
            </q-item-label>
          </div>
        </div>
      </div>

    </div>

  </q-page>
</template>
<script>

import {mapActions, mapState} from 'vuex'
import axios from "axios";
import {firebaseDb} from "boot/firebase";
import FoodItem from 'components/FoodItem'

export default {
  name: "Search",
  components: { FoodItem },
  data() {
    return {
      text:'',
      first : true,
      isOpenIndex:0,
      tab:'is_breakfast',

      card: false,
      stars:1,
      star:5,
      foods : [],
      sorted : [],

      item:[],
      // grid:false,
      grid: this.$q.screen.gt.xs,
      loading:true,
      searching:false,
      all_loaded:false,
      page:2,
      result:'No result for now, search other categories',
      title:'Pick Your Favourites',
    };
  },
  methods:{
    ...mapActions('store', ['getCarts']),
    toggle: function(index){
      if( this.isOpenIndex !== null ){
        this.isOpenIndex = ( this.isOpenIndex == index ) ? null : index;
      } else {
        this.isOpenIndex = index;
      }
    },
    getDetails(){
      this.loading = true;
      axios.get(`/restaurant/${this.$route.params.id}`)
        .then((res) => {
          this.item = res.data.restaurant;
          this.foods = res.data.foods.data
          this.loading = false;
        })
    },
    FoodAll(){
      this.tab = 'Food'
    },
    Review(){
      this.tab = 'Review';
    },
    Information(){
      this.tab = 'Information';
    },
    All(){
      this.searching = true;
      axios.get(`/restaurant/${this.$route.params.restaurant}`)
        .then((res) => {
          this.item = res.data.restaurant;
          this.foods = res.data.foods.data
          this.searching = false;
        })
    },
    searchByType(item){
      this.tab = item.name;
      this.searching = true;
      this.result = 'No result found for,'+item.name+' category, search other categories';
      this.title = item.name +' results';
      this.$axios.get('/food/res/type/'+item.slug+'/'+this.item.id).then((response) => {
        this.foods = response.data.data;
        this.searching = false;
      })
    },

    searchByInput(){
      this.searching = true;
      this.title = 'Search results for '+this.text;
      this.result = 'No result found for keyword ,'+this.text +' search by categories rather';
      this.$axios.post('/foods/search/restaurant',{ key: this.text, id:this.item.id }).then((resp) => {
        this.foods = resp.data.data;
        this.searching = false;
      })
    },
    getFoods(){
      this.tab = 'is_breakfast';
      this.searching = true;
      this.foods = [];
      firebaseDb.collection("foods").where('userId', '==', this.restaurant.id)
        .where('is_food_diet', '==', true)
        .where('is_breakfast', '==', true)
        .get().then
      ((querySnapshot) => {
        this.searching = false;
        querySnapshot.forEach((doc) => {
          let item = {}
          item.id = doc.id;
          item.name = doc.data().name;
          item.res_name = doc.data().res_name;
          item.res_id= doc.data().userId;
          item.res_phone = doc.data().res_phone;
          item.is_food_diet = doc.data().is_food_diet;
          item.is_breakfast = doc.data().is_breakfast;
          item.is_launch = doc.data().is_launch;
          item.is_dinner = doc.data().is_dinner;
          item.img = doc.data().img;
          item.category = doc.data().category;
          item.price = doc.data().price;
          // item.email = doc.data().email;
          this.foods.push(item);
        });
        this.loading = false
      });
    },
    getLaunch(){
      this.tab = 'is_launch';
      this.foods = [];
      this.searching = true;
      firebaseDb.collection("foods").where('userId', '==', this.restaurant.id)
        .where('is_food_diet', '==', true)
        .where('is_launch', '==', true)
        .get().then
      ((querySnapshot) => {
        this.searching = false;
        querySnapshot.forEach((doc) => {
          let item = {}
          item.id = doc.id;
          item.name = doc.data().name;
          item.res_name = doc.data().res_name;
          item.res_phone = doc.data().res_phone;
          item.res_id= doc.data().userId;
          item.is_food_diet = doc.data().is_food_diet;
          item.is_breakfast = doc.data().is_breakfast;
          item.is_launch = doc.data().is_launch;
          item.is_dinner = doc.data().is_dinner;
          item.img = doc.data().img;
          item.category = doc.data().category;
          item.price = doc.data().price;
          // item.email = doc.data().email;
          this.foods.push(item);
        });
        this.loading = false
      });
    },
    getDinner(){
      this.tab = 'is_dinner';
      this.foods = [];
      this.searching = true;
      firebaseDb.collection("foods").where('userId', '==', this.restaurant.id)
        .where('is_food_diet', '==', true)
        .where('is_dinner', '==', true)
        .get().then
      ((querySnapshot) => {
        this.searching = false;
        querySnapshot.forEach((doc) => {
          let item = {}
          item.id = doc.id;
          item.name = doc.data().name;
          item.res_id= doc.data().userId;
          item.res_name = doc.data().res_name;
          item.res_phone = doc.data().res_phone;
          item.is_food_diet = doc.data().is_food_diet;
          item.is_breakfast = doc.data().is_breakfast;
          item.is_launch = doc.data().is_launch;
          item.is_dinner = doc.data().is_dinner;
          item.img = doc.data().img;
          item.category = doc.data().category;
          item.price = doc.data().price;
          // item.email = doc.data().email;
          this.foods.push(item);
        });
        this.loading = false
      });
    },
  },
  mounted() {
    this.getFoods();
    this.getCarts();
  },
  computed : {
    ...mapState('store', ['resItem','categories']),
    restaurant(){
      return this.resItem;
    },
    // sortedFoods(){
    //   return this.groupBy(this.foods, 'category')
    // }
    sortedFoods(){
      return this.foods.reduce((r, a) => {
        r[a.category] = [...r[a.category] || [], a];
        return r;
      }, {});
    }
  },
};
</script>

<style lang="scss">
.home-tab {
  border-radius: 15px 15px 0 0;
}
.res_info {
  text-align: justify;
  line-height: 1.5em !important;
  font-family: serif;
  font-size: 1.2em;
}

</style>
