
<template>
  <q-page class="q-pa-md main">
    <div class="row">
      <div class="col text-h6"><q-item-label>Order Information</q-item-label></div>
      <div class="col text-h6 text-weight-light"><q-item-label class="float-right"><span class="text-red text-bold">ID</span> :
        {{  orderDetails.order_id  }}</q-item-label></div>
    </div>
    <div class="row q-mt-lg">
      <div class="col text-bold text-h6"><q-item-label>Delivery to </q-item-label></div>

      <div class="col"><q-item-label class="float-right text-red text-h6 text-weight-light">{{  orderDetails.address.phone }}</q-item-label></div>
    </div>

    <div class=" q-mt-md">
      <q-item bordered @click="" clickable class="bg-white q-pa-sm q-pl-md address shadow text-black">
        <q-item-section top thumbnail>
          <img class="full-height q-ml-sm" src="~assets/map.jpg">
        </q-item-section>


        <q-item-section>
          <q-item-label lines="2" class="text-bold text-black q-pt-sm"><q-icon name="location_on" />
            {{  orderDetails.address.address }}</q-item-label>
          <q-item-label caption class="text-black q-pb-xs q-pt-xs"><q-icon name="person" />
            {{  orderDetails.address.name  }}</q-item-label>
          <q-item-label caption class="text-black q-pb-sm"><q-icon name="local_phone" />
            {{  orderDetails.address.name  }}</q-item-label>

        </q-item-section>

      </q-item>
    </div>

    <q-item class="q-pa-none">
      <q-item-section>
        <q-item-label lines="1" class="text-bold text-black">Delivery Time</q-item-label>
      </q-item-section>
      <q-item-section>
        <q-item-label lines="1" class="text-black float-left">10:11 AM Oct , 2020 </q-item-label>
      </q-item-section>

      <q-item-section side>
        <q-item-label lines="1" class="text-red">Edit</q-item-label>
      </q-item-section>
    </q-item>

    <!--    <div class="row">-->
    <div class="bg-white sec-2 q-pa-m shadow text-black">
      <q-item clickable class="">
        <q-item-section top thumbnail>
          <q-img class="full-height rounded-borders q-ml-sm" height="600px" width="60px" :src="orderDetails.items[0].img" />
        </q-item-section>


        <q-item-section>
          <q-item-label lines="1" class="text-bold text-black q-pt-sm">{{ orderDetails.res_name }}</q-item-label>
          <q-item-label v-for="item in orderDetails.items" :key="item.id" caption class="text-black q-pb-xs q-pt-xs">{{ item.name }}
            <span class="float-right">=> {{ item.price }} x {{ item.qty }}</span>
          </q-item-label>

        </q-item-section>

      </q-item>
      <q-separator />
      <q-item>
        <q-item-section>
          <q-item-label lines="1" class=" text-black q-pt-sm"> Subtotal ({{ orderDetails.items.length }} item)</q-item-label>
        </q-item-section>
        <q-item-section side>
          ₦{{ orderDetails.total }}
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label lines="1" class="text-black"> Delivery Fee </q-item-label>
        </q-item-section>
        <q-item-section side>
          ₦{{ orderDetails.shipping }}
        </q-item-section>
      </q-item>
      <q-item class="text-red text-h5">
        <q-item-section>
          <q-item-label lines="1" class="text-bold"> Total </q-item-label>
        </q-item-section>
        <q-item-section side class="text-red text-weight-light">
          ₦{{ orderDetails.grand_total }}
        </q-item-section>
      </q-item>
    </div>
    <div class="row q-mt-md " v-if="orderDetails.note.length > 4">
      <q-item-label class="text-h5 text-bold">Note </q-item-label>

      <div class="bg-white arrow_box full-width text-center q-mt-md q-pa-md q-pb-xl">
        <q-item-label>{{  orderDetails.note }}</q-item-label>
      </div>
    </div>

    <div class="row q-mt-lg justify-around">
      <div class="col-4 justify-between offset-1">
        <q-btn class="" label="Rating" />
      </div>
      <div class="col-4   justify-end">
        <q-btn class="" color="primary" label="Re-Order" />
      </div>
    </div>

    <!--    </div>-->

  </q-page>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: "OrderInfo",
  mounted() {
    if(!this.orderDetails.address){
      this.$router.push(`/orders`);
    }
  },
  computed : {
    ...mapState('store', ['orders', 'orderDetails']),
  }
}
</script>

<style scoped lang="scss">
.address {
  border: 0.4px solid #9ec3c8;
  border-radius: 5px;
}
.sec-2 {
  border: 0.4px solid #f5f5f5;
}
.arrow_box {
  position: relative;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 15%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  //border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff !important;
  border-width: 20px;
  margin-left: -30px;
}

</style>
