<template>
  <q-page class="q-pa-md main">
    <div class="row">
      <div class="col text-h6"><q-item-label>Confirm Order</q-item-label></div>
      <div class="col text-h6 text-weight-light"><q-item-label class="float-right"><span class="text-red">ID</span> : 4321162H</q-item-label></div>
    </div>
    <div class="row q-mt-lg">
      <div class="col text-bold text-h6"><q-item-label>Delivery to </q-item-label></div>
      <div class="col"><q-item-label class="float-right text-red text-h6 text-weight-light">Add new address</q-item-label></div>
    </div>

    <div class=" q-mt-md">
      <q-item bordered @click="Goto(res.id,res.name)" clickable class="bg-white q-pa-sm q-pl-md address shadow text-black">
        <q-item-section top thumbnail>
          <img class="full-height q-ml-sm" src="~assets/map.jpg">
        </q-item-section>


        <q-item-section>
          <q-item-label lines="2" class="text-bold text-black q-pt-sm"><q-icon name="location_on" /> 764 Eighth Avenue, Andora Mercy, New</q-item-label>
          <q-item-label caption class="text-black q-pb-xs q-pt-xs"><q-icon name="person" /> Beatrice Paul</q-item-label>
          <q-item-label caption class="text-black q-pb-sm"><q-icon name="local_phone" /> +1(454)34211432</q-item-label>

        </q-item-section>

      </q-item>
    </div>

    <q-item class="q-pa-none">
      <q-item-section>
        <q-item-label lines="1" class="text-bold text-black">Delivery Time</q-item-label>
      </q-item-section>
      <q-item-section>
        <q-item-label lines="1" class="text-black float-left">10:11 AM Oct 6, 2020 </q-item-label>
      </q-item-section>

      <q-item-section side>
        <q-item-label lines="1" class="text-red">Edit</q-item-label>
      </q-item-section>
    </q-item>

    <!--    <div class="row">-->
    <div class="bg-white sec-2 q-pa-m shadow text-black">
      <q-item clickable class="">
        <q-item-section top thumbnail>
          <q-img class="full-height rounded-borders q-ml-sm" height="600px" width="60px" src="~assets/map.jpg" />
        </q-item-section>


        <q-item-section>
          <q-item-label lines="1" class="text-bold text-black q-pt-sm"> Kichi Coffee & Drink</q-item-label>
          <q-item-label caption class="text-black q-pb-xs q-pt-xs"> Lemon Juice Fresh</q-item-label>

        </q-item-section>

      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label lines="1" class=" text-black q-pt-sm"> Subtotal (1 item)</q-item-label>
        </q-item-section>
        <q-item-section side>
          $2.9
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label lines="1" class="text-black"> Ship Fee (2.4km)</q-item-label>
        </q-item-section>
        <q-item-section side>
          $2.9
        </q-item-section>
      </q-item>
      <q-item class="text-red text-h5">
        <q-item-section>
          <q-item-label lines="1" class="text-bold"> Total </q-item-label>
        </q-item-section>
        <q-item-section side class="text-red text-weight-light">
          $4.2
        </q-item-section>
      </q-item>
    </div>

    <div class=" ">
      <q-item-label class="q-pt-md text-h6">Add Voucher</q-item-label>

    </div>
    <div class="row q-mt-md ">
      <q-item-label class="text-h5 text-bold">Note </q-item-label>

      <div class="bg-white arrow_box full-width text-center q-mt-md q-pa-md q-pb-xl">
        <q-item-label>Please call me when you come. Thank you</q-item-label>
      </div>

      <q-item-label class="q-pt-md text-h6">Payment Method</q-item-label>
    </div>

    <div class="row q-mt-lg justify-around">
      <div class="col-6 justify-between offset-1">
        <q-btn class="full-width" color="primary" label="Confirm" />
      </div>

    </div>

    <!--    </div>-->

  </q-page>
</template>

<script>
export default {
  name: "OrderConfirmation"
}
</script>

<style scoped lang="scss">
.address {
  border: 0.4px solid #9ec3c8;
  border-radius: 5px;
}
.sec-2 {
  border: 0.4px solid #f5f5f5;
}
.arrow_box {
  position: relative;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 15%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  //border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff !important;
  border-width: 20px;
  margin-left: -30px;
}

</style>
