<template>
  <q-page class="q-pa-m">
    <div class="column">

      <q-parallax class="p-height" :height="470" :speed="0.5">


        <template v-slot:media>
          <!--          <img :src="$url+'/images/banner.png'" />-->
          <img src="~assets/map.jpg" />

        </template>

        <q-btn
          class="absolute-top-left text-primary text-bold"
          v-go-back.single
          color="primary"
          icon="arrow_back"
          flat
          size="1.3em"
          dense
          label="" />

        <q-item-label class="text-primary absolute-top text-center text-h5 q-mt-xl text-bold">Tracking On Map</q-item-label>

        <q-btn
          class="absolute-top-right text-primary text-bold"
          color="primary"
          icon="more_horiz"
          flat
          size="1.3em"
          dense
          label="" />



        <div class="absolute-bottom bg-white justify-around home-tab">
<div class="q-pa-md q-mt-md">
  <q-item-label class="text-bold text-h6">Your foods is coming in 5:35</q-item-label>

</div>
          <q-separator />

        </div>
      </q-parallax>`
      <div class="row">

        <q-item clickable class="bg-white full-width q-pa-sm q-pl-md address shadow text-black">
          <q-item-section top thumbnail>
            <img class="full-height q-ml-sm" src="~assets/map.jpg">
          </q-item-section>


          <q-item-section>
            <q-item-label lines="2" class="text-bold text-black q-pt-sm">{{ orderDetails.res_name  }}</q-item-label>
            <q-item-label caption class="text-black q-pb-xs q-pt-xs"> <span class="text-red">ID : </span>435673H</q-item-label>
            <q-item-label caption class="text-black q-pb-sm">{{ orderDetails.items.length }} items</q-item-label>

          </q-item-section>

        </q-item>
        <q-separator />
        <q-item clickable class="bg-white full-width q-pa-sm q-pl-md address shadow text-black">
          <q-item-section top thumbnail>
            <q-img class="full-height rounded-borders q-ml-sm" height="50px" width="50px" src="~assets/map.jpg" />

          </q-item-section>


          <q-item-section>
            <q-item-label lines="1" class="text-bold text-h6 text-black q-pt-sm">{{  orderDetails.address.name  }}</q-item-label>
            <q-item-label caption class="text-black q-pb-xs q-pt-xs"> <span class="text-red">ID : </span>435673H</q-item-label>

          </q-item-section>
          <q-item-section side>
            <div class="row q-col-gutter-sm">
              <div class="col-6">
                <q-btn icon="chat" color="primary" />
              </div>
              <div class="col-6 float-right">
                <q-btn icon="local_phone" class="float-right" color="secondary" />

              </div>
            </div>
          </q-item-section>

        </q-item>
        <q-separator />

      </div>

      <div class="row q-mt-sm q-pa-sm">
        <q-item-label class="text-h5 text-bold">TRIP</q-item-label>
      </div>

      <div class="q-pa-md">
        <q-stepper
          v-model="step"
          vertical
          color="primary"
          animated
        >
          <q-step
            :name="1"
            title="Confirm Your Order"
            icon="list_alt"
            :done="step > 1"
          >

          </q-step>

          <q-step
            :name="2"
            title="Shipper go to Restaurant"
            caption="Optional"
            icon="create_new_folder"
            :done="step > 2"
          >
          </q-step>

          <q-step
            :name="3"
            title="Waiting"
            icon="assignment"
            :done="step > 3"
          >
          </q-step>

          <q-step
            :name="4"
            title="Restaurant delivery for Sh"
            icon="add_comment"
            :done="step > 4"
          >
          </q-step>
          <q-step
            :name="5"
            title="Shipping"
            icon="home"
          >
          </q-step>
        </q-stepper>
      </div>



      <div class="text-center q-pa-xl">
        <div class="text-center">
          <q-item-label class="text-h5 text-weight-light">HOW IS YOUR SHIPPER?</q-item-label>
        </div>
        <div class="q-pl-xl q-pr-xl q-pt-none">
          <q-item-label class="q-mt-md text-caption q-mb-md">Your Feedback will help us improve shipping experience better</q-item-label>

          <q-rating class=""
                    v-model="rating"
                    size="2em"
                    color="grey"
                    readonly
          />
        </div>
      </div>

`
      <div class="column"></div>


    </div>
  </q-page>
</template>

<script>
import {mapState} from "vuex";

export default {
name: "TrackOrder",
  data (){
  return {
    step: 4,
    rating:1,
  }
  },
  computed : {
    ...mapState('store', ['orders', 'orderDetails']),
  }

}
</script>

<style scoped>

</style>
