<template>
  <q-layout view="lHh Lpr lFf" class="bg-white">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu"
        />

        <q-toolbar-title class="text-center">
          {{ title }}
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list style="margin-top: 160px">
        <q-item to="/" clickable>
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Prokitchen Home</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/map" clickable>
          <q-item-section avatar>
            <q-icon name="location_on" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Location</q-item-label>
          </q-item-section>
        </q-item>
        <q-item @click="openU('https://afiaanyi.com')" clickable >
          <q-item-section avatar>
            <q-icon name="shopping_cart" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Online Shop</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/profile">
          <q-item-section avatar>
            <q-icon name="account_box" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Account</q-item-label>
          </q-item-section>
        </q-item>
        <q-separator class="q-mt-xl" />
<!--        <q-item clickable>-->
<!--          <q-item-section avatar>-->
<!--            <q-icon name="settings" />-->
<!--          </q-item-section>-->
<!--          <q-item-section>-->
<!--            <q-item-label>Settings</q-item-label>-->
<!--          </q-item-section>-->
<!--        </q-item>-->
<!--        <q-item clickable to="/about">-->
<!--          <q-item-section avatar>-->
<!--            <q-icon name="school" />-->
<!--          </q-item-section>-->
<!--          <q-item-section>-->
<!--            <q-item-label>About Us</q-item-label>-->
<!--          </q-item-section>-->
<!--        </q-item>-->
        <q-item clickable to="/terms">
          <q-item-section avatar>
            <q-icon name="toc" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Terms & Condition</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/">
          <q-item-section avatar>
            <q-icon name="house" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Back Home</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/login">
          <q-item-section avatar>
            <q-icon name="login" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Login</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import {openURL} from "quasar";

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: false
    }
  },
  methods: {
    openU(item){
      openURL(item)
    }
  },
  computed :{
    title() {
      let currentPath = this.$route.fullPath;
      if (currentPath == '/') return 'Dashboard'
      else return this.$route.meta.name
    },
  }
}
</script>
