<template>
  <q-layout view="lHh Lpr lFf" class="bg-white">
    <q-header elevated v-if="!$route.meta.hide">
      <q-toolbar>
        <q-btn
          v-if="title != 'Prokitchen'"
          class="absolute-left text-primary text-bold"
          v-go-back.single
          @click="$router.go (-1)"
          color="white"
          icon="arrow_back"
          flat
          dense
          label="" />

        <q-toolbar-title :key="title" class="text-center">
          {{  title }}
        </q-toolbar-title>

<!--        <q-btn-->
<!--          class="absolute-right text-primary text-bold"-->
<!--          @click="prompt = true"-->
<!--          color="white"-->
<!--          icon="search"-->
<!--          flat-->
<!--          dense-->
<!--          label="" />-->

      </q-toolbar>
    </q-header>






    <q-footer elevated bordered class="bg-white">
      <q-tabs dense class="text-grey-6">
        <q-route-tab
          v-for="nav in navs"
          :key="nav.label"
          active-class="text-primary"
          :to="nav.to"
          :icon="nav.icon"
          :label="nav.label"
        >
            <q-badge v-if="carts.length > 0 && nav.to === '/carts'" color="red" floating>{{ carts.length }}</q-badge>
        </q-route-tab>
      </q-tabs>
    </q-footer>

    <q-page-container>
<!--      <router-view />-->
<!--      <transition :name="transitionName">-->
<!--        <keep-alive>-->
<!--          <router-view :key="$route.fullPath" class="child-slide"></router-view>-->
<!--        </keep-alive>-->
<!--      </transition>-->


              <transition
                enter-active-class="animated fadeIn"
                leave-active-class="animated fadeOut"
                mode="out-in"
              >
              <keep-alive>
                <router-view  :key="$route.fullPath" class="child-slide"></router-view>
              </keep-alive>
            </transition>

      <q-dialog
        v-model="closedOrder"
         transition-show="slide-up" transition-hide="slide-down"
      >
        <q-card class="column text-center" style="width: 350px">
          <q-card-section class="bg-secondary text-white">
            <div class="text-h6">Closed !!!
              <!--            <q-btn style="float: right" flat icon="close" v-close-popup />-->
            </div>
          </q-card-section>



          <q-card-section class="col q-pt-md">
            <q-item-label class="text-h6 q-mt-xl q-mb-xl text-center text-negative">
              Prokitchen is currently closed, check back later
            </q-item-label>

            <q-btn @click.stop="close = true" color="primary" label="Continue" />

          </q-card-section>

        </q-card>
      </q-dialog>

      <q-dialog v-model="prompt" persistent>
        <q-card style="min-width: 350px; min-height: 200px">
          <Search  :text="text" />

          <q-card-actions align="right" class="text-secondary">
            <q-btn flat label="Close Search" v-close-popup />
          </q-card-actions>
        </q-card>

      </q-dialog>


    </q-page-container>

  </q-layout>
</template>

<script>
import { mapState } from 'vuex'
// import Search from "pages/Search";

export default {
  name: 'MyLayout',
  // components: {Search},
  data () {
    return {
      map:true,
      close : false,
      prompt:false,
      text:'',
      leftDrawerOpen: false,
      transitionName:'',
      navs: [
        {
          label: "Home",
          icon: "home",
          to: "/"
          // to:'/'
        },
        {
          label: "Nearby",
          icon: "explore",
          to: "/nearby"
        },{
          label: "Orders",
          icon: "shopping_cart",
          to: "/orders"
        },
        {
          label: "Carts",
          icon: "notifications",
          to: "/carts"
        },
        {
          label: "Profiles",
          icon: "perm_identity",
          to: "/profile"
        }
      ]
    }
  },
  // beforeRouteUpdate (to, from, next) {
  //   const toDepth = to.path.split('/').length
  //   const fromDepth = from.path.split('/').length
  //   this.transitionName = toDepth < fromDepth ? 'slideInRight' : 'slideInRight'
  //   next()
  // },
  computed : {
    ...mapState('store', ['carts','currentUser']),
    title() {
      let currentPath = this.$route.fullPath;
      if (currentPath === '/') return 'Prokitchen'
      else return this.$route.meta.name
    },
    closedOrder(){
      let today = new Date().getHours();
      if(this.close){
        return  false;
      }
      if(this.currentUser){
        if(this.currentUser.user_type !== 'user'){
          return false;
        } else return today < 7 || today > 17;
      }else {
        return today < 7 || today > 17;
      }

    },
    transitionNames() {
      let currentPath = this.$route.fullPath;
      if (currentPath === '/') return 'slideInRight'
      else return 'slideInLeft'
    },
  },
  methods : {
    logout(){
      this.$store.commit('store/logout');
    }
  },
  watch: {
    // watching the route
    'text': function () {
        if(this.text.length > 1){
          this.prompt = true
        }
    }
  }

}
</script>

<style lang="scss">
.q-tab__label {
  text-transform: capitalize;
  font-size: 0.9em;
}
.child-slide {
  width: 100%;
  position: absolute;
  transition: all 0.2s;
}


.q-tab {
  padding: 0 10px!important;
}

.q-tab__icon {
  font-size: 28px;
}

</style>
