<template>
  <q-page class="q-pa-md bg-white">
    <div class="text-center q-mb-lg justify-center vertical-middle ">
        <img src="~assets/logo.png" style="height: 100px; width: 100px" >
      </div>

      <div class="column">
          <q-item-label class="text-bold">About</q-item-label>
      </div>

  </q-page>
</template>
<script>
  export default {
    data () {
      return {

      }
    },
    mounted() {
  
    },
    methods : {

      // ...mapActions('store', ['loginUser','loginFailed']),


    },
    computed: {
      // ...mapState('store', ['authError','currentUser','reg_success']),
    },
    watch : {
    },
  }
</script>

<style lang="scss">
.form {
  border-radius: 10px;
}
</style>
