<template>
  <q-page class="q-pa-md bg-white">
    <div class="text-center q-mb-lg text-justify vertical-middle ">
      <q-item-label class="text-bold text-h5 text-center">Prokitchen® TERMS AND CONDITION:</q-item-label>
      <q-item-label>•	Enables Restaurant Operators to market Meals with delivery option and enter into Sales Agreements for the sale of Meals to Clients,</q-item-label>
      <q-item-label>•	Enables the Users to place Orders of Meals with the Restaurant Operator, enter into Sales Agreements as Clients and arrange the delivery of the Meal by the Courier and</q-item-label>
      <q-item-label>•	 Enables the Courier to offer delivery services to the Clients for the delivery of the Meals and enter into Delivery Agreements with Clients.</q-item-label>
      <q-item-label> Client means any User of the Prokitchen® Food Platform that has placed an Order and enters into a Sales Agreement with the Restaurant Operator and a Delivery Agreement with the Courier.</q-item-label>

      <q-item-label>Courier means any person who has been registered in the Prokitchen® Food Platform as a provider of the delivery service to Clients with respect to Meals ordered through the Prokitchen® Food Platform.</q-item-label>

      <q-item-label>Courier Fee means the fee for the delivery services related to an Order, that the Client pays to the Courier under the Delivery Agreement.</q-item-label>
      <q-item-label>The Courier Fee is calculated in accordance with the principles set out in Section 7. Delivery Agreement means the agreement between the Client and the Courier for the delivery of the Meal ordered by the Client concluded through the Prokitchen® Food Platform.</q-item-label>
      <q-item-label> Drop-Off Location means the address indicated in the Order, where the Client wishes to receive the ordered Meal.</q-item-label>

      <q-item-label class="q-mt-sm"> General Terms means these terms and conditions applicable to the relationship between Prokitchen® and the Client in relation to the use of the Prokitchen® Food Platform by the Client.</q-item-label>
      <q-item-label class="q-mt-sm">Marketplace means the virtual marketplace created through the Prokitchen® food Platform and operated by Prokitchen® that enables the participating Restaurant Operators to market their Meals to Users so that the Users can order the Meal and enter into the Sales Agreement with the Restaurant Operator as Clients for purchasing the Meal and utilise the on-demand delivery services offered at the Marketplace by the Couriers.</q-item-label>
      <q-item-label class="q-mt-sm"> Meal means any ready-made meal and/or other food product or beverage that the Restaurant Operator offers for sale through the Prokitchen® Food Platform.</q-item-label>
      <q-item-label class="q-mt-sm"> Meal Price means the net price (together with applicable value added, sales or other taxes where applicable) that the Client has to pay to the Restaurant Operator for the ordered Meal.</q-item-label>
      <q-item-label class="q-mt-sm">  Minimum Order Value means the amount determined by the Bolt Food Platform which indicates the minimum Meal Price of a meal for which an Order can be placed through the Prokitchen® Food Platform.</q-item-label>
      <q-item-label class="q-mt-sm"> Minimum Value Compensation means the fee payable by Client to Prokitchen® in accordance with Section 3.3 in order to compensate the difference between the Minimum Order Value and the Meal Price of a particular Order..</q-item-label>
      <q-item-label class="q-mt-sm">  Order means the order of a Meal that the Client has placed with the Restaurant Operator.</q-item-label>
      <q-item-label class="q-mt-sm">  Order Price means the price that the User has to pay for the purchase(d) Meal(s) and delivery of the Order.</q-item-label>
      <q-item-label class="q-mt-sm">Restaurant means each and every establishment through which the Restaurant Operator conducts its business on the Prokitchen® Food Platform.</q-item-label>
      <q-item-label class="q-mt-sm">Restaurant Operator means the operator of any Restaurant, café, bistro, food kiosk, canteen, delivery-only-kitchen, gastronomy department in a grocery store or other Meal production establishment that provides its services on the Prokitchen® Food Platform.</q-item-label>
      <q-item-label class="q-mt-md"> Sales Agreement means the agreement between the Client and the Restaurant for the sale of Meals in accordance with the Order. User means any person that has registered a user account on the Prokitchen® Food Platform and uses the services of the Prokitchen® Food Platform through that user account.</q-item-label>
      <q-item-label class="q-mt-sm">2. LEGAL FRAMEWORK</q-item-label>
      <q-item-label class="q-mt-sm"> 2.1. The Prokitchen® Food Platform enables the Client to order Meals from Restaurant Operators and arrange the delivery of the Orders to the Drop-Off Location.</q-item-label>
      <q-item-label class="q-mt-sm">2.2. For the sale of Meals through the Prokitchen® Food Platform a Sales Agreement is concluded directly between the Client and the Restaurant Operator. For the delivery of the Order, the Client enters into a Delivery Agreement directly with the Courier. The Sales Agreement and the Delivery Agreement are deemed to be concluded from the moment that the Order is confirmed on the Prokitchen® Food Platform.</q-item-label>
      2.3. By operating the Prokitchen® Food Platform and the Marketplace, Prokitchen® acts only as a provider of the information society service and is neither a party to the Sales Agreement or the Delivery Agreement. Prokitchen® is not the manufacturer or seller of the Meals or provider of the delivery services and is not liable in any way for the performance of the Sales Agreement or the Delivery Agreement.
      2.4. By operating the Prokitchen® Food Platform, Prokitchen® acts as the agent for the Restaurant Operators in relation to mediation of Sales Agreements between the Restaurant Operators and the Clients. Prokitchen® also acts as the agent for the Couriers in relation to mediation of Courier Agreements between the Couriers and the Clients. As the agent Prokitchen® has been authorized by each Restaurant Operator and each Courier to receive payments from the Clients on behalf of the respective principal and allocate the received funds between the Restaurant Operators and the Couriers.
      3. ORDERING MEALS THROUGH BOLT FOOD PLATFORM
      3.1. The Client can select and order Meals through the Prokitchen® Food Platform. In the event that the Restaurant Operator cannot provide the Meal as requested in the Order, the Restaurant will not confirm the Order in the Prokitchen® Food Platform. The Restaurant Operator may contact the Client in order to agree on changes to the Order, so that the initial Meal Price would remain the same. If no agreement is reached or if the Client would have to pay more or less for the replacement Meal than the ordered Meal, the Order will be cancelled and the Client will not be charged for the Order or (where applicable) the Order Price will be returned to the Client in full.
      3.2. The Client has a right to receive Meals which comply with their description set out in the Prokitchen® Food Platform and any specific requirements (if agreed upon). In case of doubt regarding any allergies that the Client may have to any Meals, the Client is to contact the Restaurant Operator for further information.
      3.3. If the Minimum Order Value applies and the Meal Price related to an Order is below that Minimum Order Value the Client can place an Order and it will be confirmed by Prokitchen® on the condition that the Client compensates the difference between the Minimum Order Value and the Meal Price for that Order in the form of the Minimum Value Compensation payable to Prokitchen®.
      3.4. During the creation of a User account enabling access to the Prokitchen® Food Platform, the User’s mobile number is linked to the respective Prokitchen® User account and added to Prokitchen® database. If the User is no longer using the mobile number, he/she must notify Prokitchen® within 7 days so that the User’s account data could be anonymized. If the User does not notify Prokitchen® about any change to his/her number, the mobile operator might pass the same mobile number to a next person and when using the Prokitchen® Food Platform, this new person can see the User’s data.
      4. ORDERING DELIVERY THROUGH BOLT FOOD PLATFORM
      4.1. Upon placement of the Order the Client has to arrange the delivery service by the Courier through the Prokitchen® Food Platform in order to procure delivery of the Meal to the requested Drop-Off Location (i.e. there is no self-pick up option). The Client will enter into the Delivery Agreement with the Courier through the Prokitchen® Food Platform.
      4.2. The Courier will deliver the Order to the Drop-Off Location indicated by the Client through the Prokitchen® Food Platform. The Client and the Courier may agree on a different Drop-Off Location, provided that the new address is close to the original Drop-Off Location (not more than a few blocks away).
      4.3. The Client must be present at the Drop-Off Location at least at the estimated time of delivery of the Order indicated on the Prokitchen® Food Platform. The Client must be available to receive calls at the phone number submitted through the Prokitchen® Food Platform from the moment of submitting the Order on the Prokitchen® Food Platform until receiving the Order from the Courier.
      4.4. Prokitchen® may cancel the delivery and charge the Client for the full price of the Order in the following cases:
      4.4.1. the Client is not available at the Drop-Off Location within 10 minutes of the arrival of the Courier thereto;
      4.4.2. the phone number provided by the Client cannot be reached by the Courier within 10 minutes; or
      4.4.3. the Client and the Courier fail to agree on a new Drop-Off Location according to Section 4.2 above.
      4.5. Any delivery time or other time estimate communicated to the Client by the Courier or Prokitchen® through the Prokitchen® Food Platform are only estimated times. There is no guarantee that the Meal will be delivered at the estimated time. Delivery times of the Orders may also be affected by factors such as traffic jams, rush hours and weather conditions.
      5. COMPLAINTS
      5.1. If the Client has any complaints regarding the ordered Meals or the delivery of the Order, the Client is encouraged to inform Prokitchen® thereof through the Prokitchen® Food Platform as soon as possible, but no later than within one week of the delivery of the specific Order. Prokitchen® may request a photograph of the Meal or other evidence or explanation of the circumstances related to the complaint.
      5.2. Prokitchen® may provide a refund or account credit in respect of the affected Meal or part of the Meal or the delivery if Prokitchen® has reasonable cause to believe that the complaint is justified.
      6. PAYMENTS AND INVOICING
      6.1. The Client has to pay the Meal Price to the Restaurant Operator in the amount indicated on the Prokitchen® Food Platform. Meal Prices in the Prokitchen® Food Platform may differ from the Meal Prices in the Restaurant. The Meal Prices on the Prokitchen® Food Platform may be changed from time to time before making an Order.
      6.2. The Client has to pay the Courier Fee to the Courier in the amount calculated by the Prokitchen® Food Platform. The Courier Fee will be calculated taking into account the time of delivery, length of delivery route, means of delivery and other criteria. The applicable Courier Fee will be indicated to the Client prior to confirmation of the Order. The details of calculation of the Courier Fee may be adjusted from time to time by Prokitchen® taking into account the market situation, supply and availability of the Couriers on the Marketplace, and other factors relating to the service.
      6.3. Prokitchen®, acting as an agent of the Restaurant and the Courier shall prepare and issue to the Client the invoices or receipts for the Meal Price and the Courier Fee on behalf of the Restaurant Operator and the Courier respectively, and accept the Client’s payment for the invoices on behalf of the Restaurant Operator and the Courier. Prokitchen® is authorized to collect the Meal Price and the Courier Fee from the Client on behalf of the Restaurant Operator and the Courier respectively and distribute the sums accordingly to the respective principal.
      6.4. All payments are processed from Client’s payment card or other payment methods activated by the Client on the Prokitchen® Food Platform. Payments are processed through a third-party payment processor. Upon confirming the Order the Client authorizes the payment with its payment card or using other eligible payment method in the amount of the Order Price, and the respective amount will be reserved on the payment card or through other means of payment. The payment related to the Order will be performed and charged from the Client’s payment card or using other payment methods within 72h from confirmation of the Order.

      6.5. The payment obligations of the Client arising from the Sales Agreement and the Delivery Agreement are deemed to be fulfilled respectively towards the Restaurant Operator and the Courier when payment has been performed to Prokitchen® and charged from the Client’s credit card. If the Order Price cannot be reserved on the Client’s credit card, the Order will not be forwarded to the Restaurant.
      6.6. Prokitchen®, at its sole discretion, can make promotional offers and discounts regarding the Meal Price or the Courier Fee.
      6.7. Prokitchen® has the right to establish a Minimum Order Value that applies to Orders, for which the Meal Price is less than the Minimum Order Value and charge the Client for Minimum Value Compensation in accordance with Section 3.3.
      7. CANCELLATION AND SUSPENSION OF USE
      7.1. The Client may not withdraw from or cancel an Order after having made the payment order for paying the respective Order Price.
      7.2. Prokitchen® is entitled to remove a Client from the Prokitchen® Food Platform with immediate effect and/or refuse or cancel any Orders, if the Client causes any abuse or harm to the Prokitchen® Food Platform, if Prokitchen® has reasonable belief of fraudulent acts by the Client when using the Prokitchen® Food Platform, or if the Client otherwise fails to comply with his/her obligations under these General Terms (e.g. by not being present at the Drop-Off Location on several occasions, as per Section 4.4).
      7.3. The Client may not use the Prokitchen®  Food Platform for money laundering purposes. If the Client violates this Section
      7.3, Prokitchen® may permanently suspend the Client from using the Prokitchen® Food Platform.
      8. LICENCING, INTELLECTUAL PROPERTY RIGHTS AND DATA PROCESSING
      8.1. By registering on the Prokitchen® Food Platform, Prokitchen® grants the User a revocable, non-exclusive, non-transferable, non-sublicencable license to use the Prokitchen® Food Platform for the purpose of ordering Meals and arranging the delivery of the Orders.
      8.2. All intellectual property rights regarding the software, documentation or information used or developed by or on behalf of Prokitchen® during the provision of the information society services under these General Terms (incl. the Prokitchen® Food Platform and any material uploaded therein) belong to Prokitchen® (or, sometimes, to a limited extent, the Restaurant Operator).
      The User shall not copy, modify, adapt, reverse-engineer, decompile or otherwise discover the source code of the Prokitchen® Food Platform or any other software used by Prokitchen® or extract or use any data on the Prokitchen® Food Platform for commercial purposes or any other purpose than ordering Meals.
      The User shall use the Prokitchen® Food Platform solely for his/her personal, non-commercial purposes.
      8.3. The principles for processing the Users’ and Clients’ personal data is set out in the Privacy Policy available on the Prokitchen®  Food Platform.
      8.4. Prokitchen® is not providing any warranties, guarantees or representations regarding the quality of the Prokitchen® Food Platform, including regarding the absence of apparent or hidden defects, fitness for ordinary or particular (special) purpose, and Prokitchen®  is not required to satisfy the User’s claims regarding the quality of the Prokitchen® food Platform.
      9. LIABILITY
      9.1. The Restaurant Operator is solely liable for any defects in the quality and quantity of the ordered Meals or other shortcomings in the performance of the Sales Agreement and Prokitchen® does not assume any liability thereof (including liability for any allergic reactions to Meals or any other health issues).
      9.2. The Couriers are solely responsible for the performance of the Delivery Agreement and Prokitchen® does not assume any liability thereof.
      9.3. If a User suspects that his/her credit card associated with their Prokitchen®  Food Platform has been stolen and/or is being fraudulently used by a third party, the User has to inform Prokitchen® thereof immediately. Until receiving such notification, Prokitchen® will not be liable for any fraudulent use of the User’s credit card by third parties on the User’s account.
      9.4. The Prokitchen®  Food Platform is provided to the User strictly on an "as is" basis. Prokitchen®  will not be liable for any interruptions, connection errors, unavailability of, or faults in the Prokitchen®  Food Platform.
      10. MISCELLANEOUS
      10.1. Prokitchen® reserves the right to make changes to the General Terms at any time, by uploading the revised General Terms onto the Bolt Food Platform and notifying all Users thereof.
      10.2. Prokitchen®  may change or remove different parts of the Bolt Food Platform or change the Prokitchen®  Food Platform, its features and the selection of Restaurant Operators participating in the Prokitchen® Food Platform in part or in whole at any time without prior notice.
      10.3. The use of the Prokitchen® Food Platform and all legal relations formed there under will be governed by the substantive law of Estonia.
      10.4. Where versions of these General Terms exist in any other language, the English language version shall prevail.
    </div>

  </q-page>
</template>
<script>
  export default {
    data () {
      return {

      }
    },
    mounted() {

    },
    methods : {

      // ...mapActions('store', ['loginUser','loginFailed']),


    },
    computed: {
      // ...mapState('store', ['authError','currentUser','reg_success']),
    },
    watch : {
    },
  }
</script>

<style lang="scss">
.form {
  border-radius: 10px;
}
</style>
