<template>
  <q-page class="bg-white">
    <div class="q-pa-md">
      <q-item-label class="text-weight-light q-mb-sm text-h6 ">{{ res.length }} Total Restaurants</q-item-label>
<q-separator />

      <div class="q-gutter-md full-width" >
        <q-input v-model="text" label="Search" />

      </div>

      <div class=" q-mt-md" v-if="!searching">
        <div class="q-mb-xl ">

            <q-list v-if="res.length > 0" >
              <template v-for="(item,index) in res">
                <q-item :key="item.id" v-ripple>
                  <q-item-section top thumbnail>
                    <img style="height: 60px; width: 50px" :src="item.img">
                  </q-item-section>

                  <q-item-section>
                    <q-item-label lines="1">{{  item.name }}</q-item-label>
                    <q-item-label >{{  item.type }}</q-item-label>

                    <q-btn class="float-left"  label="Foods" @click="viewFood(item.name,  item.id)" flat color="primary" />

                    <!--                    <q-item-label class="text-info" v-if="item.active" lines="1">Active</q-item-label>-->
<!--                    <q-item-label class="text-negative" v-else lines="1">Not Active</q-item-label>-->
                  </q-item-section>
                  <q-item-section side>

<!--                    <q-btn  class="" @click="confirm(item)" color="red" size="12px" fla dense round icon="delete" />-->
                    <q-btn  class="" @click="deleteItem(item)" color="red" size="12px" fla dense round icon="delete" />
                    <q-btn  class="q-mt-sm" @click="edit(item)" color="info" size="12px" fla dense round icon="edit" />

                  </q-item-section>
                </q-item>
                <q-separator :key="index" />
              </template>
            </q-list>

          <div v-else class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> Loading .....</q-item-label>
            </div>
          </div>
        </div>

      </div>
      <div class="column q-mt-md" v-else>
        <div class="q-mb-xl ">
          <q-list v-if="results.length > 0" >
            <template v-for="(item,index) in results">
              <q-item :key="item.id" v-ripple>
                <q-item-section top thumbnail>
                  <img style="height: 60px; width: 50px" :src="item.img">
                </q-item-section>

                <q-item-section>
                  <q-item-label lines="1">{{  item.name }}</q-item-label>
                  <q-item-label l>{{  item.type }}</q-item-label>
                  <q-btn label="Foods" @click="viewFood(item.name,  item.id)" flat color="primary" />
<!--                  <q-item-label class="text-info" v-if="item.active" lines="1">Active</q-item-label>-->
<!--                  <q-item-label class="text-negative" v-else lines="1">Not Active</q-item-label>-->
                </q-item-section>
                <q-item-section side>

                                      <q-btn  class="" @click="deleteItem(item)" color="red" size="12px" fla dense round icon="delete" />
                  <q-btn  class="q-mt-sm" @click="edit(item)" color="info" size="12px" fla dense round icon="edit" />

                </q-item-section>
              </q-item>
              <q-separator :key="index" />
            </template>
          </q-list>
          <div v-else class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> Not Found .....</q-item-label>
            </div>
          </div>
        </div>
      </div>



    </div>


    <q-dialog v-model="prompt" persistent>
      <q-card style="max-width: 350px" class="q-mb-lg full-width q-pa-md">
        <q-card-section>
          <div class="text-h6 text-center">Editing {{ formData.name }}
            <q-btn align="right" flat icon="close" v-close-popup />
          </div>
        </q-card-section>

        <q-card-section>
          <q-form @submit="submitForm" class="q-mb-xl">
            <q-input
              outlined
              v-model="formData.name"
              :rules="[ val => val && val.length > 0 || 'Enter name']"
              label="Restaurant Name">
              <template  v-slot:append>
                <q-icon v-show="formData.name.length > 0" name="cancel" @click.stop="formData.name = ''" class="cursor-pointer" />
              </template>
            </q-input>
            <q-input
              v-model="formData.email"
              outlined
              class="q-mt-sm"
              type="email"
              :rules="[ val => val && val.length > 0 || 'Enter email']"
              label="Restaurant Email">
              <template v-slot:append>
                <q-icon v-show="formData.email.length > 0" name="cancel" @click.stop="formData.email = ''" class="cursor-pointer" />
              </template>
            </q-input>
            <q-input
              v-model="formData.phone"
              :rules="[ val => val && val.length > 0 || 'Enter phone ']"
              outlined
              type="text"
              class="q-mt-sm"
              :class="formData.phone"
              label="Phone" />

            <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Restaurant Categories']"
                      class=""
                      label="Select Restaurant Categories"
                      v-model="formData.type"
                      :options="types"
                      emit-value
                      map-options
                      multiple
                      use-chips
                      option-value="name"
                      option-label="name"
            />


            <q-input
              v-model="formData.state"
              outlined
              disable
              type="text"
              class="q-mb-md"
              label="State" />

            <div class="row">
              <div class="col-6">
                <q-select outlined :rules="[ val => val && val > 0 || 'Select Opening Time']"
                          class=""
                          label="Opening Time"
                          v-model="formData.open_at"
                          :options="options"
                          emit-value
                          map-options
                          option-value="val"
                          option-label="label"
                />
              </div>
              <div class="col-6">
                <q-select outlined :rules="[ val => val && val > 0 || 'Select Closing Time']"
                          class=""
                          label="Closing Time"
                          v-model="formData.close_at"
                          :options="options"
                          emit-value
                          map-options
                          option-value="val"
                          option-label="label"
                />
              </div>
            </div>

            <q-select outlined :rules="[ val => val && val.length > 0 || 'Select City']"
                      class=""
                      label="Select City"
                      v-model="formData.city"
                      :options="cities"
                      emit-value
                      map-options
                      option-value="name"
                      option-label="name"
            />


            <q-item-label>Featured :</q-item-label>
            <q-toggle
              v-model="formData.featured"
              color="green"
            />
<!--            <div class="q-gutter-sm">-->
<!--              <q-radio v-model="formData.featured" :val="1" label="Yes" />-->
<!--              <q-radio v-model="formData.featured" :val="0" label="No" />-->
<!--            </div>-->

            <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Address']"
                      class=""
                      label="Select Address"
                      v-model="formData.address"
                      :options="currentUser.addresses"
                      emit-value
                      map-options
                      option-value="address"
                      option-label="address"
            />

            <div class="row">
              <q-separator />
              <q-item-label class="q-pt-md q-pb-md">Logo / Banner (Required)</q-item-label>
              <q-separator />
            </div>

            <q-uploader v-if="formData.img === ''"
                        class="q-mt-md bg-img bg-primary"
                        :style="{ 'background-image': 'url(' + formData.img + ')' }"
                        accept=".jpg, image/*"
                        color="primary"
                        :multiple=false
                        :factory="uploadFile"
                        ref="uploader"
                        auto-upload
                        auto-expand
                        label="Upload Image"
            />

            <q-inner-loading :showing="uploading">
              <q-spinner size="50px" color="primary" />
            </q-inner-loading>

            <div class="row" v-if="formData.img !== ''">
              <img class="preview" height="200" width="300" :src="formData.img">
              <q-btn @click="clearImg()" icon="cancel" color="red" />
              <br>
            </div>

            <div class="row q-mt-md full-width">
              <q-space />
              <q-btn class="col" rounded
                     :loading="loading"
                     color="primary"
                     :disable="formData.img === ''"
                     type="submit"
                     label="Submit" />
            </div>


          </q-form>
        </q-card-section>

      </q-card>
    </q-dialog>

  </q-page>
</template>

<script>
import { firebaseDb } from 'boot/firebase'
import {mapActions, mapState} from 'vuex'

import {LocalStorage} from "quasar";

export default {
name: "AdminRestaurants",

  data(){
    return {
      prompt : false,
      searching : false,
      loading : false,
      text:'',
      uploadValue: 0,
      tab: 'All',
      res:[],
      // results:[],
      uploading:false,
      imageData: null,
      picture: null,
      types:[],
      formData: {
        name: '',
        phone: '',
        userId:'',
        email: '',
        type:[],
        state:'',
        ratings:5,
        open_at:7,
        close_at:17,
        img:'',
        city:'',
        featured:false,
        address:'',
      },
      options: [
        {label: '8am', val: 8},
        {label: '9am', val: 9},
        {label: '10am', val: 10},
        {label: '11am', val: 11},
        {label: '12pm', val: 12},
        {label: '1pm', val: 13},
        {label: '2pm', val: 14},
        {label: '3pm', val: 15},
        {label: '4pm', val: 16},
        {label: '5pm', val: 17},
        {label: '6pm', val: 18},
      ],
    }
  },
  firestore: {
    res: firebaseDb.collection('restaurants'),
    types: firebaseDb.collection('restaurant_types'),
  },
  methods : {
    // ...mapActions('store', ['getOrders']),
    ...mapActions('store', ['getUsers']),

    viewFood(item, id){
      this.$router.push('/admin/'+item+'/foods/'+id);
    },
    edit(item){
      this.prompt = true;
      this.formData = item;
      // this.formData.featured = item.featured;

      this.formData.type = Array.isArray(item.type) ? item.type : [ ];

      // this.formData.state = LocalStorage.getItem('state');

      // this.formData.name = item.name;
      // this.formData.id = item.id;
      // this.formData.price = item.price;
      // this.formData.active = item.active;
      // this.formData.is_dinner = item.is_dinner;
      // this.formData.is_breakfast = item.is_breakfast;
      // this.formData.is_launch = item.is_launch;
      // this.formData.category = item.category;
      // this.formData.img = item.img;
      // this.formData.userId = this.currentUser.userId;
    },

    deleteItem(item){
      this.$q.loading.show();
      firebaseDb.collection("restaurants").doc(item.id).delete().then(()=>{
        this.$q.notify({
          message: 'Restaurant successfully deleted',
          color: 'info'
        });
        this.$q.loading.hide();
      }).catch(error => {
        this.$q.loading.hide()
        this.$q.notify({
          message: 'Something went wrong',
          color: 'negative'
        });
      })

      firebaseDb.collection('d_res').doc(item.id).set(item)
        .then(docRef => {
          this.$q.loading.hide();
          this.$q.notify({
            message: 'Restaurant successfully recycled',
            color: 'info'
          });
          // this.$router.push('/product')
        })
        .catch(err => console.log(err))
    },
    submitForm() {
      this.formData.updated = Date.now();
      this.loading = true;
      this.errors = {};
      this.has_error = false;
      this.$q.loading.show();
      let vm = this;

      firebaseDb.collection('restaurants').doc(this.formData.id).set(this.formData)
        .then(docRef => {
          vm.$q.loading.hide();
          vm.loading = false;
          vm.$q.notify({
            message: 'Restaurant successfully Updated',
            color: 'info'
          });
          vm.prompt = false
        })
        .catch(err => console.log(err))
    },
    uploadFile(files) {
      this.loading = true;
      this.uploading = true;
      this.file_path = files[0]
      const fileData = new FormData();
      fileData.append('file_path', this.file_path)
      fileData.append('phone', this.currentUser.phone)
      fileData.append('path', 'res')
      this.$axios.post('image/upload', fileData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then((response) => {
        this.loading = false;
        this.uploading = false;
        if(response.data.image){
          this.$q.notify({
            type: 'success',
            message: `Restaurant successfully uploaded`
          })
          this.formData.img = response.data.image;
          console.log(this.formData.img)
        }

      }).catch(()=>{
        this.loading = false;
        this.uploading = false;
      });
    },

    clearImg(){
      this.formData.img = '';
    }

  },
  computed : {
    ...mapState('store', ['currentUser','currentState','currentCity','cities','categories','users']),

    results () {
      return this.res.filter(item => {
        return item.name.toLowerCase().includes(this.text.toLowerCase())
      });
    },



  },

  watch : {
    text() {
      if(this.text.length > 0){

        this.searching = true;

      }
      if(this.text.length < 1){
        this.searching = false
      }
    },
  }
}
</script>

<style scoped>

</style>
