<template>
  <q-page class="bg-white">
    <div class="q-pa-md">
      <q-item-label class="text-weight-light q-mb-sm text-h6 ">{{ res.length }} Total Restaurants</q-item-label>
<q-separator />
      <div class="column q-mt-md">
        <div class="q-mb-xl " v-if="res.length > 0">
          <template >
            <div v-for="(item,index) in res" :key="item.id" style="border:1px solid black" class="q-pa-sm">
             [{{ index+1 }}] {{ item }}
              <admin-food :res_id="item.name" />
            </div>
          </template>
        </div>
      </div>



    </div>

  </q-page>
</template>

<script>
import { firebaseDb } from 'boot/firebase'
import {mapActions, mapState} from 'vuex'

import {LocalStorage} from "quasar";
import AdminFood from "components/adminFood";

export default {
name: "AdminRestaurants",
  components: {AdminFood},
  data(){
    return {
      prompt : false,
      searching : false,
      loading : false,
      text:'',
      uploadValue: 0,
      tab: 'All',
      res:[],
      // results:[],
      uploading:false,
      imageData: null,
      picture: null,
      types:[],
      formData: {
        name: '',
        phone: '',
        userId:'',
        email: '',
        type:[],
        state:'',
        ratings:5,
        open_at:7,
        close_at:17,
        img:'',
        city:'',
        featured:false,
        address:'',
      },
      options: [
        {label: '8am', val: 8},
        {label: '9am', val: 9},
        {label: '10am', val: 10},
        {label: '11am', val: 11},
        {label: '12pm', val: 12},
        {label: '1pm', val: 13},
        {label: '2pm', val: 14},
        {label: '3pm', val: 15},
        {label: '4pm', val: 16},
        {label: '5pm', val: 17},
        {label: '6pm', val: 18},
      ],
    }
  },
  firestore: {
    res: firebaseDb.collection('restaurants'),
    types: firebaseDb.collection('restaurant_types'),
  },
  methods : {
    // ...mapActions('store', ['getOrders']),
    ...mapActions('store', ['getUsers']),

    viewFood(item){
      this.$router.push('/admin/'+item+'/foods');
    },
    edit(item){
      this.prompt = true;
      this.formData = item;
      // this.formData.featured = item.featured;

      this.formData.type = Array.isArray(item.type) ? item.type : [ ];

      // this.formData.state = LocalStorage.getItem('state');

      // this.formData.name = item.name;
      // this.formData.id = item.id;
      // this.formData.price = item.price;
      // this.formData.active = item.active;
      // this.formData.is_dinner = item.is_dinner;
      // this.formData.is_breakfast = item.is_breakfast;
      // this.formData.is_launch = item.is_launch;
      // this.formData.category = item.category;
      // this.formData.img = item.img;
      // this.formData.userId = this.currentUser.userId;
    },

    deleteItem(item){
      this.$q.loading.show();
      firebaseDb.collection("restaurants").doc(item.id).delete().then(()=>{
        this.$q.notify({
          message: 'Restaurant successfully deleted',
          color: 'info'
        });
        this.$q.loading.hide();
      }).catch(error => {
        this.$q.loading.hide()
        this.$q.notify({
          message: 'Something went wrong',
          color: 'negative'
        });
      })

      firebaseDb.collection('d_res').doc(item.id).set(item)
        .then(docRef => {
          this.$q.loading.hide();
          this.$q.notify({
            message: 'Restaurant successfully recycled',
            color: 'info'
          });
          // this.$router.push('/product')
        })
        .catch(err => console.log(err))
    },
    submitForm() {
      this.formData.updated = Date.now();
      this.loading = true;
      this.errors = {};
      this.has_error = false;
      this.$q.loading.show();
      let vm = this;

      firebaseDb.collection('restaurants').doc(this.formData.id).set(this.formData)
        .then(docRef => {
          vm.$q.loading.hide();
          vm.loading = false;
          vm.$q.notify({
            message: 'Restaurant successfully Updated',
            color: 'info'
          });
          vm.prompt = false
        })
        .catch(err => console.log(err))
    },
    uploadFile(files) {
      this.loading = true;
      this.uploading = true;
      this.file_path = files[0]
      const fileData = new FormData();
      fileData.append('file_path', this.file_path)
      fileData.append('phone', this.currentUser.phone)
      fileData.append('path', 'res')
      this.$axios.post('image/upload', fileData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then((response) => {
        this.loading = false;
        this.uploading = false;
        if(response.data.image){
          this.$q.notify({
            type: 'success',
            message: `Restaurant successfully uploaded`
          })
          this.formData.img = response.data.image;
          console.log(this.formData.img)
        }

      }).catch(()=>{
        this.loading = false;
        this.uploading = false;
      });
    },

    clearImg(){
      this.formData.img = '';
    }

  },
  computed : {
    ...mapState('store', ['currentUser','currentState','currentCity','cities','categories','users']),

    results () {
      return this.res.filter(item => {
        return item.name.toLowerCase().includes(this.text.toLowerCase())
      });
    },



  },

  watch : {
    text() {
      if(this.text.length > 0){

        this.searching = true;

      }
      if(this.text.length < 1){
        this.searching = false
      }
    },
  }
}
</script>

<style scoped>

</style>
