<template>
  <q-page class="flex q-pa-md bg-white flex-center">
    <div class="column full-width q-mt-md ">
      <q-tab-panel name="register" class="q-pb-md form">

        <q-form @submit="submitForm">
          <q-input
            outlined
            v-model="formData.name"
            :error="has_error && errors.name ? true : false"
            label="Full Name">
            <template  v-slot:append>
              <q-icon v-show="formData.name.length > 0" name="cancel" @click.stop="formData.name = ''" class="cursor-pointer" />
            </template>
            <template v-slot:error>
              {{ errors.name[0] }}
            </template>
          </q-input>
          <q-input
            v-model="formData.email"
            outlined
            class=""
            :error="has_error && errors.email ? true : false"
            type="email"
            label="Email">
            <template v-slot:append>
              <q-icon v-show="formData.email.length > 0" name="cancel" @click.stop="formData.email = ''" class="cursor-pointer" />
            </template>
            <template v-slot:error>
              {{ errors.email[0] }}
            </template>
          </q-input>


          <q-input
            v-model="formData.phone"
            outlined
            type="text"
            class="q-mb-md"
            label="Phone" />

          <q-input
            v-model="formData.password"
            outlined
            class=""
            :type="type"
            :error="has_error && errors.password ? true : false"
            label="Password">
            <template  v-slot:append>
              <q-icon v-show="formData.password.length > 0 && type === 'password'" name="remove_red_eye" @click.stop="type = 'text'" class="cursor-pointer" />
              <q-icon v-show="formData.password.length > 0 && type === 'text'" name="cancel" @click.stop="formData.password = ''" class="cursor-pointer" />
            </template>
            <template v-slot:error>
              {{ errors.password[0] }}
            </template>
          </q-input>


          <q-input
            v-model="formData.location"
            outlined
            type="text"
            class="q-mb-md"
            label="Location" />

          <q-input
            v-model="formData.dob"
            outlined
            type="date"
            class="q-mb-md"
            label="Date of Birth" />


          <div class="row full-width">
            <q-space />
            <q-btn class="col" rounded
                   :loading="loading"
                   color="primary"
                   type="submit"
                   label="Submit" />
          </div>


        </q-form>
      </q-tab-panel>

      <div style="margin: auto" class="text-center justify-center">
      </div>


    </div>
  </q-page>

</template>

<script>
export default {
name: "CreateNewUser",
  data() {
    return {
      type:'text',
      loading:false,
      voice:true,
      agreed:1,
      formData: {
        name: 'name',
        phone: '0812..',
        login:'',
        password_confirmation: '',
        email: 'example@gmail.com',
        password: '',
        location:'',
        dob:'',
      },
      errors:{},
      has_error: false,
    }
  },
  mounted() {
    // this.$store.commit("store/loginFailed", '');
  },

  methods:{
    submitForm() {
      this.loading = true;
      this.errors = {};
      this.has_error = false;
      this.$q.loading.show();
      this.loading = false;
      // this.registerUser(this.formData)
      this.$axios.post('auth/register', this.formData)
        .then((response) => {
          this.$store.commit("store/regSuccess", 'Registration successful, pls login to continue');
          // this.$router.push('/auth/');
          this.successStep();
          this.$q.loading.hide();
        })
        .catch(error => {
          this.loading = false;
          this.$q.loading.hide();
          this.errors = error.response.data.errors;
          console.log(this.errors)
          this.has_error = true;
        })

    },
  },

  components: {
  }
}
</script>

<style scoped>

</style>
