<template>
  <q-page class="bg-white">

    <div class="q-pa-md">

      <div class="q-gutter-md full-width" >
        <q-input v-model="text" label="Search" />

      </div>

      <div class="column q-mt-md" v-if="!searching">
        <div class="q-mb-xl " v-if="tab === 'All'" >

          <div v-if="user.length > 0" class="">
            <q-table
              title="Treats"
              :data="users"
              :columns="columns"
              color="primary"
              row-key="name"
            >
              <template v-slot:top-right>
                <q-btn
                  color="primary"
                  icon-right="archive"
                  label="Export to csv"
                  no-caps
                  @click="exportTable"
                />
              </template>
            </q-table>
          </div>
          <div v-else class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> Loading .....</q-item-label>
            </div>
          </div>
        </div>

        <div class="q-mb-xl " v-if="tab === 'Admin'" >

          <div v-if="admin.length > 0">
            <q-list>
              <q-item :key="item.id" v-for="item in admin" v-ripple>
                <q-item-section top thumbnail>
                  <img style="height: 40px; width: 40px" :src="item.avatar">
                </q-item-section>

                <q-item-section>
                  <UserItem :item="item" />
                </q-item-section>
                <q-item-section side>
                  <q-btn  class="" @click="edit(item)" color="warning" size="12px" fla dense round icon="edit" />
                </q-item-section>
              </q-item>
              <q-separator />
            </q-list>
          </div>

          <div v-else class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> No Admin User</q-item-label>
            </div>
          </div>
        </div>
        <div class="q-mb-xl " v-if="tab === 'Res'" >

          <div v-if="res_owner.length > 0">
            <q-list>
              <q-item :key="item.id" v-for="item in res_owner" v-ripple>
                <q-item-section top thumbnail>
                  <img style="height: 40px; width: 40px" :src="item.avatar">
                </q-item-section>

                <q-item-section>
                  <UserItem :item="item" />
                </q-item-section>
                <q-item-section side>
                  <q-btn  class="" @click="edit(item)" color="warning" size="12px" fla dense round icon="edit" />
                </q-item-section>
              </q-item>
              <q-separator />
            </q-list>
          </div>

          <div v-else class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> No Res Owner</q-item-label>
            </div>
          </div>
        </div>

      </div>
      <div class="column q-mt-md" v-else>
        <div class="q-mb-xl ">
          <div v-if="results.length > 0" class="">
            <q-list>

              <q-item :key="item.id" v-for="item in results" v-ripple>
<!--                <q-item-section top thumbnail>-->
<!--                  <img style="height: 40px; width: 40px" :src="item.avatar">-->
<!--                </q-item-section>-->

                <q-item-section>
              <UserItem :item="item" />
                </q-item-section>
                    <q-item-section side>
                      <q-btn  class="" @click="edit(item)" color="warning" size="12px" fla dense round icon="edit" />
                    </q-item-section>
              </q-item>
              <q-separator />
            </q-list>
          </div>
          <div v-else class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> Not Found .....</q-item-label>
            </div>
          </div>
        </div>
      </div>



    </div>


  </q-page>
</template>

<script>
import { firebaseDb } from 'boot/firebase'
import { mapState } from 'vuex'
import UserItem from 'components/UserItem'

import { exportFile } from 'quasar'

function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== void 0
    ? formatFn(val)
    : val

  formatted = formatted === void 0 || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`
}

export default {
name: "ExportUsers",
  components: { UserItem },
  data(){
    return {
      prompt : false,
      searching : false,
      text:'',
      uploadValue: 0,

      tab: 'All',
      users:[],
      // results:[],
      user_item:[],
      types:[
        'res','user','manager','admin'
      ],
      loading:false,
      formData: {
        user_type : 'user'
      },
      columns: [
        { name: 'name', label: 'Full name', field: 'name' },
        { name: 'phone', label: 'Phone', field: 'phone' },
      ],
    }
  },
  firestore: {
    users: firebaseDb.collection('users'),
  },
  methods : {
    // ...mapActions('store', ['getOrders']),
    exportTable () {
      // naive encoding to csv format
      const content = [ this.columns.map(col => wrapCsvValue(col.label)) ].concat(
        this.users.map(row => this.columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === void 0 ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'users-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    All () {
      this.tab = 'All';
    },
    Res () {
      this.tab = 'Res';
    },
    Admin () {
      this.tab = 'Admin';
    },
    edit(item){
      this.user_item = item;
      this.formData = item;
      this.prompt = true;
    },
    updateUser(){

      // alert(this.formData.id)

      firebaseDb.collection('users').doc(this.formData.id).set({
        name: this.formData.name, is_admin : this.formData.is_admin, is_res : this.formData.is_res,
        user_type : this.formData.user_type
      }, { merge: true });

      this.$q.notify({
        message: 'User successfully updated',
        color: 'info'
      });

      this.prompt = false;
      this.formData = {};
    }
  },
  computed : {
    ...mapState('store', ['categories', 'currentUser']),
    admin () {
      return this.users.filter(item => {
        return item.is_admin === true
      });
    },
    res_owner () {
      return this.users.filter(item => {
        return item.is_res === true
      });
    },
    user () {
      return this.users.filter(item => {
        return item.is_res === false && item.is_admin === false
      });
    },

     results () {
      return this.users.filter(item => {
        return item.email.toLowerCase().includes(this.text.toLowerCase())
      });
    },



  },

  watch : {
    text() {
      if(this.text.length > 0){

        this.searching = true;

      }
      if(this.text.length < 1){
        this.searching = false
      }
    },
  }
}
</script>

<style scoped>

</style>
