<template>
  <q-page class="bg-white">
    <div class="q-pa-md">
      <q-item-label class="text-bold">{{ foods.length }} Total Foods</q-item-label>

<q-separator />

<!--      <div class="q-gutter-md" >-->
<!--&lt;!&ndash;        <q-input v-model="text" label="Search" />&ndash;&gt;-->

<!--      </div>-->

      <div class="q-gutter-md full-width" >
        <q-input v-model="text" label="Search" />
      </div>

      <div class=" q-mt-md" v-if="!searching">
        <div class="q-mb-xl ">

            <q-list v-if="foods.length > 0" >
              <template v-for="(item,index) in foods">
                <q-item :key="item.id" v-ripple>
<!--                  <q-item-section top thumbnail>-->
<!--                    <img style="height: 60px; width: 50px" :src="item.img">-->
<!--                  </q-item-section>-->

                  <q-item-section>
                    <q-item-label lines="1">{{  item.name }}</q-item-label>
                    <q-item-label lines="1">{{  item.category }}</q-item-label>
                    <q-item-label class="text-bold" lines="1">{{  item.res_name }}</q-item-label>
                    <q-item-label lines="1">₦{{  item.price }} </q-item-label>
                    <q-item-label class="text-info" v-if="item.active" lines="1">Active</q-item-label>
                    <q-item-label class="text-negative" v-else lines="1">Not Active</q-item-label>
                  </q-item-section>
                  <q-item-section side>

<!--                    <q-btn  class="" @click="confirm(item)" color="red" size="12px" fla dense round icon="delete" />-->
                    <q-btn  class="q-mt-sm" @click="edit(item)" color="info" size="12px" fla dense round icon="edit" />

                  </q-item-section>
                </q-item>
                <q-separator :key="index" />
              </template>
            </q-list>

          <div v-else class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> Loading .....</q-item-label>
            </div>
          </div>
        </div>

      </div>
      <div class="column q-mt-md" v-else>
        <div class="q-mb-xl ">
          <q-list v-if="results.length > 0" >
            <template v-for="(item,index) in results">
              <q-item :key="item.id" v-ripple>
                <q-item-section>
                  <q-item-label lines="1">{{  item.name }}</q-item-label>
                  <q-item-label lines="1">{{  item.category }}</q-item-label>
                  <q-item-label class="text-bold" lines="1">{{  item.res_name }}</q-item-label>
                  <q-item-label lines="1">₦{{  item.price }} </q-item-label>
                  <q-item-label class="text-info" v-if="item.active" lines="1">Active</q-item-label>
                  <q-item-label class="text-negative" v-else lines="1">Not Active</q-item-label>
                </q-item-section>
                <q-item-section side>

                  <!--                    <q-btn  class="" @click="confirm(item)" color="red" size="12px" fla dense round icon="delete" />-->
                  <q-btn  class="q-mt-sm" @click="edit(item)" color="info" size="12px" fla dense round icon="edit" />

                </q-item-section>
              </q-item>
              <q-separator :key="index" />
            </template>
          </q-list>
          <div v-else class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> Not Found .....</q-item-label>
            </div>
          </div>
        </div>
      </div>

    </div>


    <q-dialog v-model="prompt" persistent>
      <q-card style="min-width: 350px" class="q-mb-lg">
        <form @submit.prevent="updateFood">

          <q-card-section>
            <div class="text-h6 text-center">Editing {{ formData.name }}</div>
          </q-card-section>

          <q-separator />

          <q-card-section class="q-pt-none">
            <q-input v-model="formData.name" :rules="[ val => !!val || 'name is required']"
                     type="text" label="Name : " />

            <q-input v-model="formData.price" :rules="[ val => !!val || 'Price is required']"
                     type="text" label="Price : " />

            <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Category']"
                      class="text-uppercase q-mt-sm"
                      label="Select Category"
                      v-model="formData.category"
                      :options="categories"
                      emit-value
                      map-options
                      option-value="name"
                      option-label="name"
            />


            <q-input
              v-model="formData.state"
              outlined
              disable
              type="text"
              class="q-mb-md"
              label="State" />

            <q-select outlined :rules="[ val => val && val.length > 0 || 'Select City']"
                      class=""
                      label="Select City"
                      v-model="formData.city"
                      :options="cities"
                      emit-value
                      map-options
                      option-value="name"
                      option-label="name"
            />

            <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Restaurant Address']"
                      class=""
                      label="Select Address"
                      v-model="formData.res_address"
                      :options="currentUser.addresses"
                      emit-value
                      map-options
                      option-value="address"
                      option-label="address"
            />


            <div class="">
              <q-checkbox class="" v-model="formData.is_general" label="General Food" />
            </div>

            <div>
              <q-checkbox class="" v-model="formData.is_food_diet" label="Food Diet" />
            </div>

            <div>
              <q-checkbox class="" v-model="formData.active" label="Active" />
            </div>

            <div v-if="formData.is_food_diet" class="q-mt-md q-pb-sm">
              <div class="row">
                <q-separator />
                <q-item-label class="q-pt-md q-pb-md">Diet Plans</q-item-label>
                <q-separator />
              </div>

              <div class="">
                <q-checkbox class="" v-model="formData.is_breakfast" label="Breakfast" />
              </div>
              <div>
                <q-checkbox class="" v-model="formData.is_launch" label="Launch" />
              </div>
              <div>
                <q-checkbox class="" v-model="formData.is_dinner" label="Dinner" />
              </div>
            </div>


            <div class="row">
              <q-separator />
              <q-item-label class="q-pt-md q-pb-md">Food Image</q-item-label>
              <q-separator />
            </div>

            <q-uploader v-if="formData.img === ''"
                        class="q-mt-md bg-img bg-primary"
                        :style="{ 'background-image': 'url(' + formData.img + ')' }"
                        accept=".jpg, image/*"
                        color="primary"
                        :multiple=false
                        :factory="uploadFile"
                        ref="uploader"
                        auto-upload
                        auto-expand
                        label="Upload Image"
            />

            <q-inner-loading :showing="uploading">
              <q-spinner size="50px" color="primary" />
            </q-inner-loading>

            <div class="row" v-if="formData.img !== ''">
              <img class="preview" height="200" width="300" :src="formData.img">
              <q-btn @click="clearImg()" icon="cancel" color="red" />
              <br>
            </div>


          </q-card-section>


          <q-card-actions  align="right" class="text-primary">
            <q-btn flat label="Cancel" v-close-popup />
            <q-btn :disable="formData.img === ''" flat label="Update" type="submit" />
          </q-card-actions>
        </form>
      </q-card>
    </q-dialog>

  </q-page>
</template>

<script>
import { firebaseDb } from 'boot/firebase'
import { mapState } from 'vuex'

import {LocalStorage} from "quasar";

export default {
name: "AdminFoods",

  data(){
    return {
      prompt : false,
      searching : false,
      text:'',
      uploadValue: 0,
      tab: 'All',
      foods:[],
      // results:[],
      uploading:false,
      imageData: null,
      picture: null,
      formData: {
        img: '',
      },
    }
  },
  firestore: {
    foods: firebaseDb.collection('foods'),
  },
  methods : {
    // ...mapActions('store', ['getOrders']),

    uploadFile(files) {
      this.loading = true;
      this.uploading = true;
      this.file_path = files[0]
      const fileData = new FormData();
      fileData.append('file_path', this.file_path)
      fileData.append('phone', this.formData.res_phone)
      fileData.append('path', 'food')
      this.$axios.post('image/upload', fileData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then((response) => {
        this.loading = false;
        this.uploading = false;
        if(response.data.image){
          this.$q.notify({
            type: 'success',
            message: `Food Image successfully uploaded`
          })
          this.formData.img = response.data.image;
        }

      }).catch(()=>{
        this.loading = false;
        this.uploading = false;
      });
    },
    edit(item){
      this.prompt = true;
      this.formData = item;
      this.formData.state = LocalStorage.getItem('state');

      // this.formData.name = item.name;
      // this.formData.id = item.id;
      // this.formData.price = item.price;
      // this.formData.active = item.active;
      // this.formData.is_dinner = item.is_dinner;
      // this.formData.is_breakfast = item.is_breakfast;
      // this.formData.is_launch = item.is_launch;
      // this.formData.category = item.category;
      // this.formData.img = item.img;
      // this.formData.userId = this.currentUser.userId;
    },
    updateFood(){
      this.$q.loading.show();
      firebaseDb.collection('foods').doc(this.formData.id).set(this.formData,{ merge: true })
        .then(docRef => {
          this.$q.notify({
            message: 'Food successfully updated',
            color: 'info'
          });
          this.prompt = false;
          this.$q.loading.hide();
        })
    },
    clearImg(){
      this.formData.img = '';
      this.uploadValue = 0;
      this.imageData = null;
    },
  },
  computed : {
    ...mapState('store', ['currentUser','cities','categories']),

     results () {
      return this.foods.filter(item => {
        return item.res_name.toLowerCase().includes(this.text.toLowerCase())
      });
    },
  },

  watch : {
    text() {
      if(this.text.length > 0){

        this.searching = true;

      }
      if(this.text.length < 1){
        this.searching = false
      }
    },
  }
}
</script>

<style scoped>

</style>
