<template>
  <q-page class="bg-blue-grey-1">
    <div class="">
      <q-list bordered separator style="margin-bottom: 100px;" class="text-black">
        <q-item class="bg-white q-pa-lg " clickable to="/edit-profile" v-ripple>
          <q-item-section top thumbnail>
            <q-avatar size="50px" rounded >
              <img :src="currentUser.gravatar">
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label>{{  currentUser.name }}</q-item-label>
            <q-item-label>Admin</q-item-label>
          </q-item-section>

          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>


        <div class="bg-white p-card">
          <q-item clickable to="#" v-ripple>
            <q-item-section side><q-icon color="black" name="payment" /></q-item-section>
            <q-item-section>Manager Users</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>

          <q-item clickable to="#" v-ripple>
            <q-item-section side><q-icon color="black" name="location_on" /></q-item-section>
            <q-item-section>Manager Quotations</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
          <q-item clickable to="#" v-ripple>
            <q-item-section side><q-icon color="black" name="location_on" /></q-item-section>
            <q-item-section>Manager Orders</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
          <q-item clickable to="/res/list_foods" v-ripple>
            <q-item-section side><q-icon color="black" name="kitchen" /></q-item-section>
            <q-item-section>Manager Foods</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
          <q-item clickable to="#" v-ripple>
            <q-item-section side><q-icon color="black" name="receipt_long" /></q-item-section>
            <q-item-section>Manage Vouchers</q-item-section>
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
          </q-item>
        </div>


        <div class="bg-white p-card">

        <q-item to="/admin/create/user" clickable v-ripple>
          <q-item-section side><q-icon color="black" name="notification_important" /></q-item-section>
          <q-item-section>Create User Account</q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>
        <q-item to="/res/create/food" clickable v-ripple>
          <q-item-section side><q-icon color="black" name="add_box" /></q-item-section>
          <q-item-section>Add Food</q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>
          <q-item to="/admin/categories" clickable v-ripple>
          <q-item-section side><q-icon color="black" name="add_box" /></q-item-section>
          <q-item-section>Categories</q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>
        <q-item to="/admin/create/restaurant" clickable v-ripple>
          <q-item-section side><q-icon color="black" name="language" /></q-item-section>
          <q-item-section>Create Restuarant Account</q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>
        <q-item to="/" clickable v-ripple>
          <q-item-section side><q-icon color="black" name="settings" /></q-item-section>
          <q-item-section>Settings</q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>
        <q-item to="/" clickable v-ripple>
          <q-item-section side><q-icon color="black" name="verified_user" /></q-item-section>
          <q-item-section>Invite Friends</q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>
        <q-item to="/" clickable v-ripple>
          <q-item-section side><q-icon color="black" name="live_help" /></q-item-section>
          <q-item-section>Support </q-item-section>
          <q-item-section side>
            <q-icon name="keyboard_arrow_right" />
          </q-item-section>
        </q-item>

        </div>


        <div class="bg-white p-card">
        <q-item @click="logout()" clickable v-ripple class="text-center">
          <!--          <q-item-section></q-item-section>-->
          <q-item-section class="text-negative text-bold">Log Out</q-item-section>

        </q-item>
        </div>
      </q-list>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: "PageProfile",
  methods:{
    logout() {
      // this.$store.commit('store/logout');
      this.$router.push('/auth');
    }
  },
  computed : {
    ...mapState('store', ['currentUser']),
  }
}
</script>

<style lang="scss">
.account-head-new{
  z-index: 5;
}
.p-card {
  margin: 15px;
  border-radius: 10px;
}

</style>
