<template>
<q-page class="bg-white">
  <div class="q-pa-md q-mb-xl">
    <div class="q-gutter-md full-width" >
<!--      <q-input v-model="text" label="Search" />-->

    </div>

    <div class="column q-mt-md">
      <q-list>
        <template v-for="item in categories">
          <q-item :key="item.id" v-ripple>


            <q-item-section top thumbnail>
              <img style="height: 40px; width: 40px" :src="item.image">
            </q-item-section>

            <q-item-section>
              <q-item-label lines="1">{{  item.name }}</q-item-label>
            </q-item-section>
            <q-item-section side>

              <q-btn  class="q-mt-sm" @click="editItem(item)" color="info" size="10px" flat dense round icon="edit" />

              <q-btn  class="" @click="confirm(item)" color="red" size="12px" flat dense round icon="delete" />

            </q-item-section>
          </q-item>
          <q-separator :key="item.id+1111" />
        </template>

      </q-list>
    </div>
  </div>
  <q-dialog v-model="prompt" persistent>
    <q-card style="min-width: 350px" class="q-mb-lg">
      <form @submit.prevent="edit ? updateCategory() : addCategory()">
        <q-card-section>
          <div class="text-h6 text-center">Add New Category</div>
        </q-card-section>

        <q-separator />

        <q-card-section class="q-pt-none">
          <q-input v-model="formData.name" :rules="[ val => !!val || 'Name is required']"
                   type="text" label="Name : " />

          <div class="row">

            <q-item-label class="q-pt-md q-pb-md">Category Image</q-item-label>
            <q-separator />
          </div>
          <div class="" v-if="uploadValue < 1">
            <!--            <q-btn @click="click1">choose a photo</q-btn>-->
            <img @click="click1" src="~assets/uploader.png" />
            <input type="file" ref="input1"
                   style="display: none"
                   @change="previewImage" accept="image/*" >
          </div>

          <div class="q-mt-md" v-if="uploadValue > 0">
            <p>{{uploadValue.toFixed()+"%"}}
              <progress class="full-width" id="progress" :value="uploadValue" max="100" ></progress>  </p>
          </div>
          <div class="row" v-if="formData.image !== ''">
            <img class="preview" height="200" width="300" :src="formData.image">
            <q-btn @click="clearImg()" icon="cancel" color="red" />
            <br>
          </div>
        </q-card-section>


        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cancel" v-close-popup />
          <q-btn flat :label="edit ? 'Update' : 'Add'" type="submit" />
        </q-card-actions>
      </form>
    </q-card>
  </q-dialog>

  <q-page-sticky position="bottom-right" :offset="[18, 18]">
    <q-btn @click="addCat" icon="add" fab  color="primary" />
  </q-page-sticky>
</q-page>
</template>

<script>
import {mapActions, mapState} from "vuex";
import {firebaseDb, storage} from "boot/firebase";
import {LocalStorage} from "quasar";

export default {
name: "Categories",

  mounted() {
  },
  data(){
  return {
    prompt : false,
    categories:[],
    edit: false,
    picture: null,
    text:'',
    uploadValue: 0,
    formData: {
      name: '',
      image: '',
    }
  }
  },
  firestore: {
    categories: firebaseDb.collection('restaurant_types'),
  },
  methods : {
    click1() {
      this.$refs.input1.click()
    },
    editItem(item){
      this.prompt = true;
      this.edit = true;
      this.formData = item;
    },
    previewImage(event) {
      this.uploadValue = 0;
      this.picture = null;
      this.imageData = event.target.files[0];
      this.onUpload()
    },
    clearImg(){
      this.formData.image = '';
      this.uploadValue = 0;
      this.imageData = null;
    },

    onUpload() {
      this.picture = null;
      const storageRef = storage.ref(`${this.imageData.name}`).put(this.imageData);
      storageRef.on(`state_changed`, snapshot => {
          this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        }, error => {
          console.log(error.message)
        },
        () => {
          this.uploadValue = 100;
          storageRef.snapshot.ref.getDownloadURL().then((url) => {
            this.formData.image = url;
          });
        }
      );
    },

    addCat(){
      this.prompt = true
    },
    confirm (item) {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Are you sure you want to delete this category ?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.delete(item)
      })
    },
    addCategory(){
      this.loading = true;
      this.errors = {};
      this.has_error = false;
      this.$q.loading.show();

      let vm = this;
      firebaseDb.collection('restaurant_types').add(this.formData)
        .then(docRef => {
          this.$q.loading.hide();
          this.loading = false;
          this.prompt = false

          vm.$q.notify({
            message: 'Category successfully added, add more category',
            color: 'info'
          });

          this.clearImg();
          this.formData.name = '';
          // this.$router.push('/product')
        })
        .catch(error => console.log(err))
    },
    updateCategory(){
      this.loading = true;
      this.$q.loading.show();
      let vm = this;
      firebaseDb.collection('restaurant_types').doc(this.formData.id).set(this.formData)
        .then(docRef => {
          this.$q.loading.hide();
          this.loading = false;
          this.prompt = false

          vm.$q.notify({
            message: 'Category successfully updated',
            color: 'info'
          });

          this.clearImg();
          this.formData.name = '';
          // this.$router.push('/product')
        })
        .catch(error => console.log(err))
    },

    delete(item){
      this.$q.loading.show();
      firebaseDb.collection("restaurant_types").doc(item.id).delete().then(()=>{
        this.$q.notify({
          message: 'Category successfully deleted',
          color: 'info'
        });
        this.$q.loading.hide();
        this.getCategories();
      }).catch(error => {
        this.$q.loading.hide()
        this.$q.notify({
          message: 'Something went wrong',
          color: 'negative'
        });
      })
    },
  },
  computed: {
  }
}
</script>

<style scoped>

</style>
