<template>
  <q-page class="bg-white">
    <div class="q-pa-md">
      <div class="q-pa-sm">
        <q-item-label class="text-bold text-uppercase">{{ $route.params.res }} Foods ({{ foods.length }})</q-item-label>

      </div>

<q-separator />

<!--      <div class="q-gutter-md" >-->
<!--&lt;!&ndash;        <q-input v-model="text" label="Search" />&ndash;&gt;-->

<!--      </div>-->

      <div class="q-gutter-md full-width" >
        <q-input v-model="text" label="Search" />
      </div>


      <div class=" q-mt-md" v-if="!searching">
        <div class="q-mb-xl ">

            <q-list v-if="foods.length > 0" >
              <template v-for="(item,index) in foods">
                <q-item :key="item.id" v-ripple>
<!--                  <q-item-section top thumbnail>-->
<!--                    <img style="height: 60px; width: 50px" :src="item.img">-->
<!--                  </q-item-section>-->

                  <q-item-section>
                    <q-item-label lines="1">{{  item.name }}</q-item-label>
                    <q-item-label lines="1">{{  item.category }}</q-item-label>
                    <q-item-label class="text-bold" lines="1">{{  item.res_name }}</q-item-label>
                    <q-item-label lines="1">₦{{  item.price }} </q-item-label>
                    <q-item-label class="text-info" v-if="item.active" lines="1">Active</q-item-label>
                    <q-item-label class="text-negative" v-else lines="1">Not Active</q-item-label>
                  </q-item-section>
                  <q-item-section side>

                    <q-btn  class="" @click="confirm(item)" color="red" size="12px" fla dense round icon="delete" />
                    <q-btn  class="q-mt-sm" @click="edit(item)" color="info" size="12px" fla dense round icon="edit" />

                  </q-item-section>
                </q-item>
                <q-separator :key="index" />
              </template>
            </q-list>

          <div v-if="loading" class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> Loading .....</q-item-label>
            </div>
          </div>
          <div v-if="!loading && foods.length < 1" class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> No Food Available .....</q-item-label>
            </div>
          </div>
        </div>

      </div>
      <div class="column q-mt-md" v-else>
        <div class="q-mb-xl ">
          <q-list v-if="results.length > 0" >
            <template v-for="(item,index) in results">
              <q-item :key="item.id" v-ripple>
                <q-item-section>
                  <q-item-label lines="1">{{  item.name }}</q-item-label>
                  <q-item-label lines="1">{{  item.category }}</q-item-label>
                  <q-item-label class="text-bold" lines="1">{{  item.res_name }}</q-item-label>
                  <q-item-label lines="1">₦{{  item.price }} </q-item-label>
                  <q-item-label class="text-info" v-if="item.active" lines="1">Active</q-item-label>
                  <q-item-label class="text-negative" v-else lines="1">Not Active</q-item-label>
                </q-item-section>
                <q-item-section side>

                  <!--                    <q-btn  class="" @click="confirm(item)" color="red" size="12px" fla dense round icon="delete" />-->
                  <q-btn  class="q-mt-sm" @click="edit(item)" color="info" size="12px" fla dense round icon="edit" />

                </q-item-section>
              </q-item>
              <q-separator :key="index" />
            </template>
          </q-list>
          <div v-else class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> No Food Available .....</q-item-label>
            </div>
          </div>
        </div>
      </div>

    </div>


    <q-dialog v-model="prompt" persistent>
      <q-card style="min-width: 350px" class="q-mb-lg">
        <form @submit.prevent="updateFood">

          <q-card-section>
            <div class="text-h6 text-center">Editing {{ formData.name }}</div>
          </q-card-section>

          <q-separator />

          <q-card-section class="q-pt-none">
            <q-input v-model="formData.name" :rules="[ val => !!val || 'name is required']"
                     type="text" label="Name : " />

            <q-input v-model="formData.description"
                     type="text" label="Description : " />


            <q-input v-model="formData.price" :rules="[ val => !!val || 'Price is required']"
                     type="text" label="Price : " />

            <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Category']"
                      class="text-uppercase q-mt-sm"
                      label="Select Category"
                      v-model="formData.category"
                      :options="categories"
                      emit-value
                      map-options
                      option-value="name"
                      option-label="name"
            />


            <q-input
              v-model="formData.state"
              outlined
              disable
              type="text"
              class="q-mb-md"
              label="State" />

            <q-select outlined :rules="[ val => val && val.length > 0 || 'Select City']"
                      class=""
                      label="Select City"
                      v-model="formData.city"
                      :options="cities"
                      emit-value
                      map-options
                      option-value="name"
                      option-label="name"
            />

            <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Restaurant Address']"
                      class=""
                      label="Select Address"
                      v-model="formData.res_address"
                      :options="currentUser.addresses"
                      emit-value
                      map-options
                      option-value="address"
                      option-label="address"
            />


            <div class="">
              <q-checkbox class="" v-model="formData.is_general" label="General Food" />
            </div>

            <div>
              <q-checkbox class="" v-model="formData.is_food_diet" label="Food Diet" />
            </div>

            <div>
              <q-checkbox class="" v-model="formData.active" label="Active" />
            </div>

            <div v-if="formData.is_food_diet" class="q-mt-md q-pb-sm">
              <div class="row">
                <q-separator />
                <q-item-label class="q-pt-md q-pb-md">Diet Plans</q-item-label>
                <q-separator />
              </div>

              <div class="">
                <q-checkbox class="" v-model="formData.is_breakfast" label="Breakfast" />
              </div>
              <div>
                <q-checkbox class="" v-model="formData.is_launch" label="Launch" />
              </div>
              <div>
                <q-checkbox class="" v-model="formData.is_dinner" label="Dinner" />
              </div>
            </div>


            <div class="row">
              <q-separator />
              <q-item-label class="q-pt-md q-pb-md">Food Image</q-item-label>
              <q-separator />
            </div>

            <q-uploader v-if="formData.img === ''"
                        class="q-mt-md bg-img bg-primary"
                        :style="{ 'background-image': 'url(' + formData.img + ')' }"
                        accept=".jpg, image/*"
                        color="primary"
                        :multiple=false
                        :factory="uploadFile"
                        ref="uploader"
                        auto-upload
                        auto-expand
                        label="Upload Image"
            />

            <q-inner-loading :showing="uploading">
              <q-spinner size="50px" color="primary" />
            </q-inner-loading>

            <div class="row" v-if="formData.img !== ''">
              <img class="preview" height="200" width="300" :src="formData.img">
              <q-btn @click="clearImg()" icon="cancel" color="red" />
              <br>
            </div>


          </q-card-section>


          <q-card-actions  align="right" class="text-primary">
            <q-btn flat label="Cancel" v-close-popup />
            <q-btn flat label="Update" type="submit" />
          </q-card-actions>
        </form>
      </q-card>
    </q-dialog>

    <q-dialog v-model="add_food" persistent>
      <q-card style="min-width: 350px" class="q-mb-lg">

      <q-form @submit="submitForm" class="q-mb-xl">
        <q-card-actions  align="right" class="text-primary">
          <q-btn flat label="close" v-close-popup />
        </q-card-actions>
        <q-card-section>
          <div class="text-h6 text-center"> {{ title }}</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
        <q-input
          outlined
          v-model="formData.name"
          :rules="[ val => val && val.length > 0 || 'Enter Name ']"
          label="Name">
          <template  v-slot:append>
            <q-icon v-show="formData.name.length > 0" name="cancel" @click.stop="formData.name = ''" class="cursor-pointer" />
          </template>
        </q-input>

        <q-input
          outlined
          class=""
          v-model="formData.description"
          label="Description">
          <template  v-slot:append>
            <q-icon v-show="formData.description.length > 0" name="cancel" @click.stop="formData.description = ''" class="cursor-pointer" />
          </template>
        </q-input>

        <q-select outlined :rules="[ val => val && val.length > 0 || 'Select Category']"
                  class="text-uppercase q-mt-md"
                  label="Select Category"
                  v-model="formData.category"
                  :options="categories"
                  emit-value
                  map-options
                  option-value="name"
                  option-label="name"
        />

        <div class="">
          <q-checkbox class="" v-model="formData.is_general" label="General Food" />
        </div>

        <div>
          <q-checkbox class="" v-model="formData.is_food_diet" label="Food Diet" />
        </div>
        <div class="row">
          <q-separator />
          <q-item-label class="q-pt-md q-pb-md">Schedule Order</q-item-label>
          <q-separator />


          <div class="q-gutter-sm q-mt-md">
              <span v-for="day in days">
                <input v-model="formData.days" :key="day" type="checkbox" :value="day" />
                <span class="q-pl-sm">{{ day }}</span>
              </span>
          </div>
        </div>
        <div v-if="formData.is_food_diet" class="q-mt-md q-pb-sm">
          <div class="row">
            <q-separator />
            <q-item-label class="q-pt-md q-pb-md">Diet Plans</q-item-label>
            <q-separator />
          </div>

          <div class="">
            <q-checkbox class="" v-model="formData.is_breakfast" label="Breakfast" />
          </div>
          <div>
            <q-checkbox class="" v-model="formData.is_launch" label="Launch" />
          </div>
          <div>
            <q-checkbox class="" v-model="formData.is_dinner" label="Dinner" />
          </div>
        </div>

        <q-input
          outlined
          class="q-mt-md"
          type="number"
          v-model="formData.price"
          :rules="[ val => val && val.length > 0 || 'Enter price ']"
          label="Price :">
          <template  v-slot:append>
            <q-icon v-show="formData.price.length > 0" name="cancel" @click.stop="formData.price = ''" class="cursor-pointer" />
          </template>
        </q-input>
        <q-input
          outlined
          v-model="formData.img"
          label="Image :">
        </q-input>

        <div class="row" v-if="formData.variants.length > 0">
          <q-separator />
          <q-item-label class="q-pt-md q-pb-md">Variants : {{ formData.variants}}</q-item-label>
          <q-separator />
        </div>

        <div class="q-pa-md">
          <q-btn @click="variant = true" label="Add Variations" color="primary" />
        </div>

        <div class="row">
          <q-separator />
          <q-item-label class="q-pt-md q-pb-md">Food Image</q-item-label>
          <q-separator />
        </div>

        <q-uploader v-if="formData.img === ''"
                    class="q-mt-md bg-img bg-primary"
                    :style="{ 'background-image': 'url(' + formData.img + ')' }"
                    accept=".jpg, image/*"
                    color="primary"
                    :multiple=false
                    :factory="uploadFile"
                    ref="uploader"
                    auto-upload
                    auto-expand
                    label="Upload Image"
        />

        <q-inner-loading :showing="uploading">
          <q-spinner size="50px" color="primary" />
        </q-inner-loading>


        <div class="row" v-if="formData.img !== ''">
          <img class="preview" height="200" width="300" :src="formData.img">
          <q-btn @click="clearImg()" icon="cancel" color="red" />
          <br>
        </div>

        <div class="row q-mt-md full-width">
          <q-space />

          <q-btn class="col" rounded
                 :loading="loading"
                 color="primary"
                 type="submit"
                 label="Submit" />
        </div>
        </q-card-section>
      </q-form>
      </q-card>
    </q-dialog>

    <q-dialog v-model="variant" persistent>
      <q-card style="min-width: 350px" class="q-mb-lg">
        <form @submit.prevent="">

          <q-card-section>
            <div class="text-bold text-center">Create Variant For {{ formData.name }}</div>
          </q-card-section>

          <q-separator />

          <q-card-section class="">
            <div>
              <q-input outlined v-model="form.name" :rules="[ val => !!val || 'variant name is required']"
                       type="text" label="Variant : " />
              <q-btn label="Add Variant" color="secondary" @click="addVariant" />
            </div>

            <div class="" v-if="formData.variants.length > 0">
              <q-list>
                <q-item v-for="(item,index) in formData.variants" :key="index">
                  <q-item-section >
                    <q-item-label>{{  index+1 }}</q-item-label>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label class="text-capitalize" lines="1">{{  item }}</q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <q-btn  class="" @click.stop="deleteVar(index)" color="red" size="12px" fla dense round icon="delete" />
                    <!--                  <q-btn  class="q-mt-sm" @click="edit(item)" color="info" size="12px" fla dense round icon="edit" />-->
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
          </q-card-section>

          <q-card-actions  align="right" class="text-primary">
            <q-btn flat label="Close" v-close-popup />
          </q-card-actions>
        </form>
      </q-card>
    </q-dialog>

    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn @click="addMeal" icon="add" fab  color="primary" />
    </q-page-sticky>
  </q-page>
</template>

<script>
import { firebaseDb } from 'boot/firebase'
import {mapActions, mapState} from 'vuex'

import {LocalStorage} from "quasar";

export default {
name: "AdminFoods",

  data(){
    return {
      prompt : false,
      add_food : false,
      res:[],
      searching : false,
      loading : false,
      text:'',
      title:'',
      uploadValue: 0,
      tab: 'All',
      foods:[],
      // results:[],
      uploading:false,
      isEdit:false,
      imageData: null,
      picture: null,
      days:['Mon','Tues','Wed','Thurs','Fri','Sat','Sun'],
      variant:false,
      agreed:1,
      formData: {
        name: '',
        description:'',
        is_general:false,
        is_food_diet:false,
        img:'',
        price:'',
        active:true,
        is_dinner:false,
        is_launch:false,
        is_breakfast:false,
        userId:'',
        categories:'',
        address:'',
        state: LocalStorage.getItem("state"),
        days:[],
        variants:[],
        city:LocalStorage.getItem("city"),
      },
      form:{
        name : '',
      },
    }
  },
  mounted () {
    this.getFoods(this.$route.params.res);
    this.getRes(this.$route.params.id);
    if(!this.categories.length){
      this.getCategories()
    }
  },
  methods : {
    ...mapActions('store', ['getCategories']),
    confirm (item) {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Are you sure you want to delete this food ?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.delete(item)
      })
    },

    getRes(id){
      let docRef = firebaseDb.collection("restaurants").doc(id);
      docRef.get().then((doc) => {
        if (doc.exists) {
          this.res =  doc.data();
        }
      }).catch((error) => {
        console.log("Error getting document:", error);
      });
    },
    // ...mapActions('store', ['getOrders']),
    submitForm() {
      this.formData.created = Date.now();
      this.formData.updated = Date.now();
      this.formData.city = this.res.city
      this.formData.res_name = this.res.name
      this.formData.res_phone = this.res.phone
      this.formData.res_address = this.res.address
      this.formData.userId = this.res.userId
      this.loading = true;
      this.errors = {};
      this.has_error = false;
      this.$q.loading.show();


      let vm = this;
      firebaseDb.collection('foods').add(this.formData)
        .then(docRef => {
          this.$q.loading.hide();
          this.loading = false;

          vm.$q.notify({
            message: 'Food successfully added, add more food',
            color: 'info'
          });

          this.clearImg();
          this.formData.name = ''; this.formData.description = ''; this.formData.price = 0;
          this.add_food = false;
          this.getFoods(this.$route.params.res);
        })
        .catch(error => console.log(err))
    },

    deleteVar(index){
      this.formData.variants.splice(index, 1);
    },
    addVariant(){
      this.formData.variants.push(this.form.name);
      this.form.name = '';
    },

    addMeal(){
      this.add_food = true;
      this.isEdit = false;
      this.formData.city = this.res.city
      this.formData.address = this.res.address;
      this.formData.res_name = this.res.name
      this.formData.res_phone = this.res.phone
      this.formData.userId = this.res.userId
      this.title = "Add new food"
    },

    getFoods(res){
      this.tab = res;
      this.loading = true;
      this.foods = [];
      firebaseDb.collection("foods").where('res_name', '==', res).get().then
      ((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          this.foods.push({...doc.data(), id: doc.id });
        });
        this.loading = false
      });
    },

    uploadFile(files) {
      this.loading = true;
      this.uploading = true;
      this.file_path = files[0]
      const fileData = new FormData();
      fileData.append('file_path', this.file_path)
      fileData.append('phone', this.formData.res_phone)
      fileData.append('path', 'food')
      this.$axios.post('image/upload', fileData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then((response) => {
        this.loading = false;
        this.uploading = false;
        if(response.data.image){
          this.$q.notify({
            type: 'success',
            message: `Food Image successfully uploaded`
          })
          this.formData.img = response.data.image;
        }

      }).catch(()=>{
        this.loading = false;
        this.uploading = false;
      });
    },

    edit(item){
      this.title = "Editing food"
      this.prompt = true;
      this.isEdit = true;
      this.formData = item;
      this.formData.state = LocalStorage.getItem('state');
    },

    updateFood(){
      this.$q.loading.show();
      firebaseDb.collection('foods').doc(this.formData.id).set(this.formData,{ merge: true })
        .then(docRef => {
          this.$q.notify({
            message: 'Food successfully updated',
            color: 'info'
          });
          this.prompt = false;
          this.$q.loading.hide();
        })
    },
    clearImg(){
      this.formData.img = '';
      this.uploadValue = 0;
      this.imageData = null;
    },

    delete(item){
      this.$q.loading.show();
      firebaseDb.collection("foods").doc(item.id).delete().then(()=>{
        this.$q.notify({
          message: 'Food successfully deleted',
          color: 'info'
        });
        this.$q.loading.hide();
        this.getFoods(this.$route.params.res);

      }).catch(error => {
        this.$q.loading.hide()
        this.$q.notify({
          message: 'Something went wrong',
          color: 'negative'
        });
      })
    },

  },
  computed : {
    ...mapState('store', ['currentUser','cities','categories']),

     results () {
      return this.foods.filter(item => {
        return item.name.toLowerCase().includes(this.text.toLowerCase())
      });
    },
  },

  watch : {
    text() {
      if(this.text.length > 0){

        this.searching = true;

      }
      if(this.text.length < 1){
        this.searching = false
      }
    },
  }
}
</script>

<style scoped>

</style>
