<template>
  <q-page class="bg-white">
    <div class="absolute- bg-white justify-around home-tab" style="max-width: 100vw">

      <q-tabs
        style="width: 100vw;"
        v-model="tab"
        inline-label
        no-caps
        class="text-black text-h5 text-weight-light"
      >
        <q-tab  @click="All" name="All"  :label="'Users ('+user.length+')'" />
        <q-tab  @click="Admin" name="Admin"  :label="'Admin('+admin.length+')'" />
        <q-tab  @click="Res" name="Res"  :label="'Res Owner('+res_owner.length+')'" />

      </q-tabs>
    </div>
    <div class="q-pa-md">

      <div class="q-gutter-md full-width" >
        <q-input v-model="text" label="Search" />

      </div>

      <div class="column q-mt-md" v-if="!searching">
        <div class="q-mb-xl " v-if="tab === 'All'" >

          <div v-if="user.length > 0" class="">
            <q-list>

              <q-item :key="item.id" v-for="item in user" v-ripple>
<!--                <q-item-section top thumbnail>-->
<!--                  <img style="height: 40px; width: 40px" :src="item.avatar">-->
<!--                </q-item-section>-->

                <q-item-section>
              <UserItem :item="item" />
                </q-item-section>
                    <q-item-section side>
                      <q-btn  class="" @click="edit(item)" color="warning" size="12px" fla dense round icon="edit" />
                    </q-item-section>
              </q-item>
              <q-separator />
            </q-list>
          </div>
          <div v-else class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> Loading .....</q-item-label>
            </div>
          </div>
        </div>

        <div class="q-mb-xl " v-if="tab === 'Admin'" >

          <div v-if="admin.length > 0">
            <q-list>
              <q-item :key="item.id" v-for="item in admin" v-ripple>
                <q-item-section top thumbnail>
                  <img style="height: 40px; width: 40px" :src="item.avatar">
                </q-item-section>

                <q-item-section>
                  <UserItem :item="item" />
                </q-item-section>
                <q-item-section side>
                  <q-btn  class="" @click="edit(item)" color="warning" size="12px" fla dense round icon="edit" />
                </q-item-section>
              </q-item>
              <q-separator />
            </q-list>
          </div>

          <div v-else class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> No Admin User</q-item-label>
            </div>
          </div>
        </div>
        <div class="q-mb-xl " v-if="tab === 'Res'" >

          <div v-if="res_owner.length > 0">
            <q-list>
              <q-item :key="item.id" v-for="item in res_owner" v-ripple>
                <q-item-section top thumbnail>
                  <img style="height: 40px; width: 40px" :src="item.avatar">
                </q-item-section>

                <q-item-section>
                  <UserItem :item="item" />
                </q-item-section>
                <q-item-section side>
                  <q-btn  class="" @click="edit(item)" color="warning" size="12px" fla dense round icon="edit" />
                </q-item-section>
              </q-item>
              <q-separator />
            </q-list>
          </div>

          <div v-else class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> No Res Owner</q-item-label>
            </div>
          </div>
        </div>

      </div>
      <div class="column q-mt-md" v-else>
        <div class="q-mb-xl ">
          <div v-if="results.length > 0" class="">
            <q-list>

              <q-item :key="item.id" v-for="item in results" v-ripple>
<!--                <q-item-section top thumbnail>-->
<!--                  <img style="height: 40px; width: 40px" :src="item.avatar">-->
<!--                </q-item-section>-->

                <q-item-section>
              <UserItem :item="item" />
                </q-item-section>
                    <q-item-section side>
                      <q-btn  class="" @click="edit(item)" color="warning" size="12px" fla dense round icon="edit" />
                    </q-item-section>
              </q-item>
              <q-separator />
            </q-list>
          </div>
          <div v-else class="row">
            <div class="absolute-center">
              <q-item-label class="text-h6"> Not Found .....</q-item-label>
            </div>
          </div>
        </div>
      </div>



    </div>

    <q-dialog v-model="prompt" persistent>
      <q-card style="min-width: 350px" class="q-mb-lg">
        <form @submit.prevent="updateUser">
          <q-card-section>
            <div class="text-h6 text-center">Edit User</div>
          </q-card-section>

          <q-separator />

          <q-card-section class="q-pt-none">
            <q-input v-model="formData.name" :rules="[ val => !!val || 'Name is required']"
                     type="text" label="Name : " />

            <div class="row">

              <q-item-label class="q-pt-md q-pb-md">Is Admin / Res Owner</q-item-label>
              <q-separator />

              <div class="">
                <q-checkbox class="" v-model="formData.is_admin" label="Admin" />
              </div>
              <div>
                <q-checkbox class="" v-model="formData.is_res" label="Restaurant Owner" />
              </div>
            </div>

            <q-item-label class="q-pt-md q-pb-md">Role</q-item-label>
            <q-separator />
            <q-select outlined
                      class=""
                      label="Select Role"
                      v-model="formData.user_type"
                      :options="types"
            />


          </q-card-section>


          <q-card-actions align="right" class="text-primary">
            <q-btn flat label="Cancel" v-close-popup />
            <q-btn flat label="Update" type="submit" />
          </q-card-actions>
        </form>
      </q-card>
    </q-dialog>

  </q-page>
</template>

<script>
import { firebaseDb } from 'boot/firebase'
import { mapState } from 'vuex'
import UserItem from 'components/UserItem'

export default {
name: "Users",
  components: { UserItem },
  data(){
    return {
      prompt : false,
      searching : false,
      text:'',
      uploadValue: 0,
      tab: 'All',
      users:[],
      // results:[],
      user_item:[],
      types:[
        'res','user','manager','admin'
      ],
      loading:false,
      formData: {
        user_type : 'user'
      }
    }
  },
  firestore: {
    users: firebaseDb.collection('users'),
  },
  methods : {
    // ...mapActions('store', ['getOrders']),
    All () {
      this.tab = 'All';
    },
    Res () {
      this.tab = 'Res';
    },
    Admin () {
      this.tab = 'Admin';
    },
    edit(item){
      this.user_item = item;
      this.formData = item;
      this.prompt = true;
    },
    updateUser(){

      // alert(this.formData.id)

      firebaseDb.collection('users').doc(this.formData.id).set({
        name: this.formData.name, is_admin : this.formData.is_admin, is_res : this.formData.is_res,
        user_type : this.formData.user_type
      }, { merge: true });

      this.$q.notify({
        message: 'User successfully updated',
        color: 'info'
      });

      this.prompt = false;
      this.formData = {};
    }
  },
  computed : {
    ...mapState('store', ['categories', 'currentUser']),
    admin () {
      return this.users.filter(item => {
        return item.is_admin === true
      });
    },
    res_owner () {
      return this.users.filter(item => {
        return item.is_res === true
      });
    },
    user () {
      return this.users.filter(item => {
        return item.is_res === false && item.is_admin === false
      });
    },

     results () {
      return this.users.filter(item => {
        return item.email.toLowerCase().includes(this.text.toLowerCase())
      });
    },



  },

  watch : {
    text() {
      if(this.text.length > 0){

        this.searching = true;

      }
      if(this.text.length < 1){
        this.searching = false
      }
    },
  }
}
</script>

<style scoped>

</style>
